{{ partial "header.html" . }}
<main>
    <article class="main-scroll">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5 no-padding-left col-sm-6">
                <div>
                    <h1>Il Mordente</h1>
                    <span class="small-title">Da dicembre 2018</span>
                    <p>Un podcast intimo e umorale per parlare di corsa, di libri e di crescita personale. Messaggi al 351 8516089 su Whatsapp o Telegram.</p>
                    </div>
            </div>
            <div class="col-md-3 no-padding-right col-sm-6">
                <img
                    data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1577130672/Podcast/il-mordente-podcast.jpg"
                    alt="Copertina del podcast Il Mordente" class="cld-responsive" />
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5 no-padding-left col-sm-6">
                <div>
                    <h1>Tech.is.it</h1>
                    <span class="small-title">La novità per il 2020</span>
                    <p>Questa è tecnologia! Discussioni, approfondimenti tecnici e confronti con gli esperti del settore.</p>
                </div>
            </div>
            <div class="col-md-3 no-padding-right col-sm-6">
                <img
                    data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1576760673/Podcast/tech-is-it.png"
                    alt="Copertina del podcast Tech.is.it" class="cld-responsive" />
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row-col-12">
        {{ partial "tutti-podcast.html" . }}
        </div>
        {{ partial "promo-recensioni.html" . }}

    </article> <!-- main-scroll -->

    <div class="grid-bg row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
    <!-- main-scroll -->
</main> <!-- main -->
{{ partial "aside.html" . }}
</div> <!-- atail -->
<script src="{{.Site.BaseURL}}js/cloudinary-core-shrinkwrap.js"></script>
<script>
const cl = cloudinary.Cloudinary.new({ cloud_name: 'rim' })
cl.responsive()
</script>
{{ partial "footer.html" . }}