{{ partial "header.html" . }}
<link rel='stylesheet' href='{{.Site.BaseURL}}css/lightbox.css' type='text/css'
    media='all'/>
<main>
    <article class="main-scroll">
        <div class="row" style="margin-bottom: 0">
            <div class="col-md-1"></div>
            <div class="col-md-8 no-padding-left col-sm-8">
                <div class="promo-box recensioni">
                    <div class="small-title">
                        {{ partial "share.html" . }}
                    </div>
                    <h1>Kobo Libra H2O</h1>
                    <p>Recensione alla migliore alternativa di Amazon Kindle.
                    </p>
                </div>
            </div>
            <div class="col-md-2 no-padding-right col-sm-4">
                <div class="atail-multitext inizio">
                    <span class="atail-multitext-title">RECENSIONE</span>
                    <span class="atail-multitext-text">Brand <span>{{.Params.brand}}</span></span>
                    <span class="atail-multitext-text">Online dal<span>
                            {{ .Date.Day }} {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }} {{ .Date.Year }}
                        </span></span>
                    <span class="atail-multitext-text">Discussione
                    <span><a href="#disqus_thread" title="Leggi i commenti">Leggi i commenti</a></span>
                    </span>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>

        <!-- VIDEO FULL -->

        <div class="videoWrapper embed-responsive embed-responsive-4by3"
            data-yt-url="{{.Params.video}}">
            
            <img data-src="https://res.cloudinary.com/rim7/image/upload/w_auto,c_scale,q_75,f_auto/v1577600493/Kobo-Libra-H2O/recensione_kobo_libra_h2o.png"
            alt="Video Recensione {{ .Title }}" class="cld-responsive lazyload play-youtube-video">
        </div>

        <!-- FINE VIDEO -->

        <!-- SCHEDA TECNICA -->
<div class="single-project row-col-12">
            <div class="col-md-2"></div>

<div class="col-md-8 no-padding-left" style="margin-bottom:80px">
                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Kobo Libra H2O è un nuovo ebook reader con schermo E-Ink da 7 pollici e illuminazione regolabile nella temperatura del colore. In questa video anteprima della recensione vi spiego le novità estetiche e funzionali che lo differenziano da Kindle Oasis e da Kobo Forma. Ecco come si comporta con ebook, PDF e fumetti CBZ e CBR. Specifiche tecniche complete a seguire.
                </p>
</div>

 <section class="col-md-4 col-md-push-2 no-padding-left">
                <div class="atail-multitext">
                    <h2 class="atail-multitext-title">SCHEDA TECNICA</h2>
                    <span class="atail-multitext-text">Schermo<span>7 pollici 300 DPI / 1680 x 1264</span></span>
                    <span class="atail-multitext-text">Pannello<span>E-Ink Carta / Touchscreen Neonode Z Force IR</span></span>
                    <span class="atail-multitext-text">Illuminazione<span>19 LED (10+9) / Regolazione intensità e temperatura / Programmabile</span></span>
                    <span class="atail-multitext-text">Hardware<span>CPU Freescale Solo Lite a 1 GHz / 512 MB RAM</span></span>
                    <span class="atail-multitext-text">Archiviazione<span>8 GB spazio interno (saldato)</span></span>
                    <span class="atail-multitext-text">Tasti<span>Cambio pagina / On-off</span></span>
                    <span class="atail-multitext-text">Connettività<span>Wi-Fi n 2.4 GHz / microUSB</span></span>
                    <span class="atail-multitext-text">Batteria<span>1200 mAh / 2 settimane stimate</span></span>
                    <span class="atail-multitext-text">Dimensioni<span>159 x 144 x 5 - 7.8 mm / 192 grammi</span></span>      
                    <span class="atail-multitext-text">Altro<span>Impermeabile IPX8 (60 minuti a 2 metri) / Sensore di luminosità</span></span>
               </div>
 </section>

<!-- FINE SCHEDA TECNICA -->

<!-- SCHEDA IMG -->

<div class="col-md-4 col-md-push-2 no-padding-right">
                <figure class="no-margin">
                    <a
                        href="https://res.cloudinary.com/rim7/image/upload/q_75,w_1000/v1577617012/Kobo-Libra-H2O/kobo-libra-h2o-scheda-tecnica.jpg"
                        data-lightbox="scheda"
                        data-alt="{{ .Title }}" data-title="Scheda tecnica Kobo Libra H2O." title="Scheda tecnica {{ .Title }}">
                        <img
                            data-src="https://res.cloudinary.com/rim7/image/upload/w_auto,c_scale,q_75,f_auto/v1577617012/Kobo-Libra-H2O/kobo-libra-h2o-scheda-tecnica.jpg"
                            alt="Scheda tecnica {{ .Title }}"
                            class="cld-responsive lazyload">
                    </a>
                    <figcaption>
                        <span class="description-title" style="padding-left:0">
                            <span>FIG. 1.</span> Clicca per ingrandire.
                        </span>
                        <p>
                            La regolazione della temperatura del colore è molto comoda durante le letture serali, ma aiuta ad avere la tonalità desiderata anche di giorno.
                        </p>
                    </figcaption>
                </figure>

                <!-- FINE SCHEDA IMG -->
</div>
</div>
<section class="single-project row-col-12">
    <div class="col-md-8 col-md-push-2 no-padding-left">
    <p>Kobo Libra H2O sarà venduto in Italia al costo di €179€ su kobo.com e presso i rivenditori selezionati. Al lancio, i partner Mondadori, Unieuro e Feltrinelli avranno l’esclusiva di vendita fino al 1 ottobre 2019, con un periodo di preordine dal 10 al 16 settembre e con disponibilità in store dal 17 settembre. Dal 1 ottobre Libra H2O sarà disponibile presso tutti i negozi online e le librerie fisiche selezionate.
    <br><br></p>
    <!-- IMG GRANDE -->
    <figure>
        <a href="https://res.cloudinary.com/rim7/image/upload/q_75,w_1000/v1577616583/Kobo-Libra-H2O/kobo-libra-h2o-recensione.jpg"
            data-lightbox="grafico" data-alt="Kobo Libra H2O a confronto con un libro"
            data-title="Kobo Libra H2O  3 vs Cattedrale di R. Carver.">
            <img data-src="https://res.cloudinary.com/rim7/image/upload/w_auto,c_scale,q_75,f_auto/v1577616583/Kobo-Libra-H2O/kobo-libra-h2o-recensione.jpg"
                alt="Kobo Libra H2O a confronto con un libro"
                class="lazyload cld-responsive"></a>
        <figcaption>
            <span class="description-title">
                <span>FIG. 2.</span> Kobo Libra H2O  3 vs Cattedrale di R. Carver.</span>
        </figcaption>
    </figure>
    <!-- FINE IMG GRANDE -->
</div>
<div class="col-md-8 col-md-push-2 no-padding-left"> 
            <aside class="yt-iscriviti">
                <span class="atail-multitext-text">VEDI PREZZO SU AMAZON</span>
                <a href="https://amzn.to/39l4Ocb" rel="nofollow noopener" target="_blank" title="Vedi offerte Kobo Libra H2O su Amazon">
                    <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1562766484/amazon.png" alt="Supporta Riccardo.im" class="cld-responsive lazyload" />
                </a>
            </aside>
                    <!-- VIDEO FULL -->

        <div class="videoWrapper embed-responsive embed-responsive-4by3"
        data-yt-url="{{.Params.video}}">
        
        <img data-src="https://res.cloudinary.com/rim7/image/upload/w_auto,c_scale,q_75,f_auto/v1577600493/Kobo-Libra-H2O/recensione_kobo_libra_h2o.png"
        alt="Video Recensione {{ .Title }}" class="cld-responsive lazyload play-youtube-video">
    </div>

    <!-- FINE VIDEO -->
     </div>
</section>

<!-- PREV-NEXT -->
<div class="row-col-12">

    <div class="col-xs-6 col-md-4 col-md-push-2 no-padding">
        <div class="single-project-prev atail-project-nav">
            {{if .PrevInSection}}
            <a href="{{.PrevInSection.Permalink}}"
                class="single-project-link-arrow" title="Recensione precedente">
                <span class="single-project-arrow">
                    <svg version="1.1"
                        xmlns="http://www.w3.org/2000/svg" x="0px"
                        y="0px" width="57.143px"
                        height="34.454px" viewBox="0 0 57.143 34.454"
                        enable-background="new 0 0 57.143 34.454"
                        xml:space="preserve">
                        <g>
                            <g>
                                <polygon fill=""
                                    points="51.908,17.599 46.891,13.1
                                    46.891,17.094 6.904,17.094
                                    6.904,18.094 46.891,18.094
                                    46.891,22.099">
                                </polygon>
                            </g>
                        </g>
                    </svg>
                </span>
                <span>Precedente</span>
            </a>

            <a href="{{.PrevInSection.Permalink}}"
                class="single-project-info" title="Recensione {{.PrevInSection.Title}}">
                <div class="atail-project-image">
                    <img data-src="{{.PrevInSection.Params.immagine_testa}}"
                        alt="Recensione {{.PrevInSection.Title}}" class="cld-responsive lazyload" />
                </div>
                <h4>{{.PrevInSection.Title}}</h4>
            </a>
            {{end}}
        </div>
    </div>

    <div class="col-xs-6 col-md-4 col-md-push-2 no-padding">
        <div class="single-project-next atail-project-nav">
            {{if .NextInSection}}
            <a href="{{.NextInSection.Permalink}}"
                class="single-project-link-arrow" title="Prossima recensione">
                <span>Prossima</span>
                <span class="single-project-arrow">
                    <svg version="1.1"
                        xmlns="http://www.w3.org/2000/svg" x="0px"
                        y="0px" width="57.143px"
                        height="34.454px" viewBox="0 0 57.143 34.454"
                        enable-background="new 0 0 57.143 34.454"
                        xml:space="preserve">
                        <g>
                            <g>
                                <polygon fill=""
                                    points="51.908,17.599 46.891,13.1
                                    46.891,17.094 6.904,17.094
                                    6.904,18.094 46.891,18.094
                                    46.891,22.099">
                                </polygon>
                            </g>
                        </g>
                    </svg>
                </span>
            </a>

            <a href="{{.NextInSection.Permalink}}"
                class="single-project-info" title="Recensione {{.NextInSection.Title}}">
                <div class="atail-project-image">
                    <img data-src="{{.NextInSection.Params.immagine_testa}}"
                        alt="Recensione {{.NextInSection.Title}}" class="cld-responsive lazyload" />
                </div>
                <h4>{{.NextInSection.Title}}</h4>
            </a>
            {{end}}
        </div>
    </div>

</div>
<!-- FINE PREV-NEXT -->

        <!-- DISQUS -->

        <div class="single-project row-col-12 atail-post-comments-wrapper"
            style="margin-bottom: 0; border-right:0">
            <div class="col-md-2"></div>
            <aside class="col-md-8 no-padding-left">
                {{ partial "disqus-comments.html" . }}
            </aside>
        </div>

        <!-- FINE DISQUS -->
        <!-- FINE PAGINA -->
</article>
        <!-- main-scroll -->
</main> <!-- main -->
{{ partial "aside.html" . }}
</div> <!-- atail -->

<script src='{{.Site.BaseURL}}js/cloudinary-core-shrinkwrap.js'></script>
<script src="{{.Site.BaseURL}}js/lazysizes.min.js" async ></script>
<script>
const cl = cloudinary.Cloudinary.new({ cloud_name: 'rim2' })
cl.responsive()
</script>
<script async src="https://apis.google.com/js/platform.js"></script>
<script src='{{.Site.BaseURL}}js/lightbox.js' async ></script>
{{ partial "footer-review.html" . }}
