{{ partial "header.html" . }}
<link rel='stylesheet' href='{{.Site.BaseURL}}css/lightbox.css' type='text/css'
    media='all'/>
<main>
    <article class="main-scroll">
        <div class="row" style="margin-bottom: 0">
            <div class="col-md-1"></div>
            <div class="col-md-8 no-padding-left col-sm-8">
                <div class="promo-box recensioni">
                    <div class="small-title">
                        {{ partial "share.html" . }}
                    </div>
                    <h1>Kobo Libra H2O</h1>
                    <p>{{.Params.sommario}}
                        <span id="typed"></span>
                    </p>
                </div>
            </div>
            <div class="col-md-2 no-padding-right col-sm-4">
                <div class="atail-multitext inizio">
                    <span class="atail-multitext-title">RECENSIONE</span>
                    <span class="atail-multitext-text">Online dal<span>
                            {{ .Date.Day }} {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }} {{ .Date.Year }}
                        </span></span>
                    <span class="atail-multitext-text">Discussione
                    <span><a href="#disqus_thread" title="Leggi i commenti">Leggi i commenti</a></span>
                    </span>
                    <span class="atail-multitext-text">Tempo di lettura <span>Circa 8-11 minuti</span></span>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>

        <!-- VIDEO FULL -->

        <div class="videoWrapper embed-responsive embed-responsive-4by3"
            data-yt-url="{{.Params.video}}">
            
            <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1564644388/recensioni/Kindle-Oasis/recensione-kindle-oasis-2019.jpg"
            alt="Video Recensione {{ .Title }}" class="cld-responsive lazyload play-youtube-video">
        </div>

        <!-- FINE VIDEO -->

        <!-- SCHEDA TECNICA -->
<div class="single-project row-col-12">
            <div class="col-md-2"></div>

<div class="col-md-8 no-padding-left" style="margin-bottom:80px">
    <aside class="yt-iscriviti">
        <span class="atail-multitext-text">ISCRIVITI AL NUOVO CANALE YOUTUBE</span>
        <div class="g-ytsubscribe" data-channelid="UCIdYIrInVnUwHVbogLj6bqA" data-layout="full" data-count="default"></div>
    </aside>
                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> L’idea di scrivere una recensione a <strong>Kindle Oasis 3 (2019)</strong> è di per sé un intento discutibile. La terza generazione del miglior ebook reader di Amazon è come la vecchia, con l’unica novità della luce ambrata in aggiunta a quella bianca. Amazon ha aggiunto i <strong>12 LED colorati</strong> necessari, e ha ritoccato la batteria di circa 130 mAh per compensare l’autonomia (ma potrebbe essere una questione di stoccaggio). Poi ha pensato bene di riciclare il vecchio spacciandolo per nuovo. E senza ritoccare il prezzo di listino.
                </p>
</div>

 <section class="col-md-4 col-md-push-2 no-padding-left">
                <div class="atail-multitext">
                    <h2 class="atail-multitext-title">SCHEDA TECNICA</h2>
                    <span class="atail-multitext-text">Schermo<span>7 pollici 300 DPI / Vetro Gorilla Glass</span></span>
                    <span class="atail-multitext-text">Pannello<span>E-Ink Mobius / Touchscreen capacitivo</span></span>
                    <span class="atail-multitext-text">Illuminazione<span>25 LED / Regolazione intensità e temperatura / Programmabile</span></span>
                    <span class="atail-multitext-text">Hardware<span>CPU NXP i.MX7D Dual Core a 1 GHz / 512 MB RAM</span></span>
                    <span class="atail-multitext-text">Archiviazione<span>8 - 32 GB spazio interno</span></span>
                    <span class="atail-multitext-text">Tasti<span>Volta pagina / On-off</span></span>
                    <span class="atail-multitext-text">Connettività<span>Wi-Fi n 2.4 GHz / Bluetooth / microUSB / 4G (opzionale)</span></span>
                    <span class="atail-multitext-text">Batteria<span>1130 mAh / 6 settimane stimate con luce a livello 13 e Wi-Fi spento</span></span>
                    <span class="atail-multitext-text">Dimensioni<span>159 x 141 x 8.4 - 3.4 mm / 850 grammi</span></span>      
                    <span class="atail-multitext-text">Altro<span>Impermeabile IPX8 (60 minuti a 2 metri) / Telaio in alluminio anodizzato / Sensore luminosità</span></span>
               </div>
 </section>

<!-- FINE SCHEDA TECNICA -->

<!-- SCHEDA IMG -->

<div class="col-md-4 col-md-push-2 no-padding-right">
                <figure class="no-margin">
                    <a
                        href="https://res.cloudinary.com/rim2/image/upload/q_75,w_1000/v1564643552/Kindle-Oasis-3/kindle-oasis-3-2019.jpg"
                        data-lightbox="scheda"
                        data-alt="{{ .Title }}" data-title="Kindle Oasis vecchio a confronto con il nuovo." title="Scheda tecnica {{ .Title }}">
                        <img
                            data-src="https://res.cloudinary.com/rim2/image/upload/w_auto,c_scale,q_75,f_auto/v1564643552/Kindle-Oasis-3/kindle-oasis-3-2019.jpg"
                            alt="Scheda tecnica {{ .Title }}"
                            class="cld-responsive lazyload">
                    </a>
                    <figcaption>
                        <span class="description-title" style="padding-left:0">
                            <span>FIG. 1.</span> Clicca per ingrandire.
                        </span>
                        <p>
                            La colorazione oro è più elegante, ma nasconde meno la sporcizia.
                        </p>
                    </figcaption>
                </figure>

                <!-- FINE SCHEDA IMG -->
</div>
</div>
<section class="single-project row-col-12">
    <div class="col-md-8 col-md-push-2 no-padding-left">
        <h2>La buona novella</h2>
        <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Si potrebbe anche dire che l’investimento su Oasis era stato fatto nel 2016 e che adesso si può vivere di rendita, ma sarebbe solo una versione comoda della realtà. <mark>Oasis 2 è il mio ebook reader</mark> perché è il più veloce e perché è il più resistente: mi è caduto in ogni occasione, ha preso gli schizzi del mare tra gli scogli, ha sopportato, non senza farmelo notare, un viaggio in stiva nella tasca frontale del trolley, e non mi ha mai dato noie software. Gli ebook reader Kobo hanno altri vantaggi (dimensioni del display, supporto ai formati) ma sono più lenti e più bizzosi: non sono piacevoli quanto un Oasis. Non esistono ebook reader più piacevoli di un Oasis.
        </p>
    <p>    
            Questo è il lettore di chi è certo di leggere su Kindle, di chi è contento così e vuole restare così, di chi non ha pochi interessi per i fumetti e per i PDF, e di chi si vuol togliere lo sfizio dopo anni con gli occhi su pannelli E-Ink meno pregiati e con mani su pezzi di plastica opaca. In fin dei conti parliamo di 250 euro, un terzo di quel che la massa spende per uno smartphone da aggiornare dopo 12 mesi. <a href="https://amzn.to/311XQUv" rel="nofollow noopener" target="_blank" title="Vedi prezzo Kindle Oasis su Amazon">Kindle Oasis costa 250 o 280 euro</a> a seconda della memoria; la più pompata, con 4G integrato per sincronizzare sempre tutto, ovunque e senza SIM, e per accedere a Kindle Store - ma non al browser web integrato, costa 340 euro.
            </p>
<!-- TABELLA -->
<div class="row-col-6">
    <div class="col-md-6" style="margin-top: 60px">

<table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>PX</th>
                    <th>MM</th>
                    <th>GR</th>
                </tr>
            </thead>
            <tbody>
		<tr>
			<td>Kindle Oasis 2019</td>
			<td>7</td>
			<td>1680 x 1264</td>
			<td>159 x 141 x 8.4</td>
			<td>188</td>
		</tr>
		<tr>
			<td>Kobo Forma</td>
			<td>8</td>
			<td>1920 x 1440</td>
			<td>160 x 178 x 8.5</td>
			<td>197</td>
		</tr>
        <tr>
			<td>Tolino Epos</td>
			<td>7.8</td>
			<td>1872 x 1404</td>
			<td>209 x 140 x 8.2</td>
			<td>260</td>
		</tr>
		<tr>
			<td>Kobo Aura One</td>
			<td>7.8</td>
			<td>1872 x 1404</td>
			<td>195 x 138.5 x 6.9</td>
			<td>230</td>
        </tr>
        <tr>
			<td>Kobo Aura H2O 2</td>
			<td>6.8</td>
			<td>1430 x 1080</td>
			<td>172 x 129 x 8.8</td>
			<td>207</td>
		</tr>
		<tr>
			<td>Kindle Paperwhite</td>
			<td>6</td>
			<td>1448 x 1072</td>
			<td>167 x 116 x 8.2</td>
			<td>182</td>
		</tr>
            </tbody>
        </table>
        <div class="description-table">
            <span class="description-title">
                <span>TAB. 1.</span>
                Confronto tra ebook reader di medio formato.
            </span>
        </div>

</div>
</div>
<!-- FINE TABELLA -->
        <p>            
            Però no. Uscire a metà 2019 con una caratteristica che <strong>la concorrenza usa da tre anni</strong> (la regolazione della temperatura del colore è stata inserita su Kobo Aura One ad agosto 2016), e farla passare per una novità quindi approfittarne per rinfrescare il listino - mi dà fastidio. Andrebbe scartato solo per questo motivo. Amazon avrà fatto i suoi conti; Oasis 3 a 249 euro serve anche a rendere Kindle Paperwhite economico e imperdibile. “Guardate quante cose belle fa questo ebook reader. E ora guardate questo che è pressappoco simile ma costa un terzo. Iniziate con l’economico, poi si vedrà.”.
            <br><br>
        </p>
    </div>
    <!-- IMG GRANDE -->
    <figure>
        <a href="https://res.cloudinary.com/rim2/image/upload/q_75,w_1000/v1564586777/Kindle-Oasis-3/kindle-oasis-3-2019-carta-libro.jpg"
            data-lightbox="grafico" data-alt="Kindle Oasis 3 a confronto con un libro"
            data-title="Kindle Oasis 3 vs Lezioni di letteratura di Nabokov.">
            <img data-src="https://res.cloudinary.com/rim2/image/upload/w_auto,c_scale,q_75,f_auto/v1564586777/Kindle-Oasis-3/kindle-oasis-3-2019-carta-libro.jpg"
                alt="Kindle Oasis 3 a confronto con un libro"
                class="lazyload cld-responsive"></a>
        <figcaption>
            <span class="description-title">
                <span>FIG. 2.</span> Kindle Oasis 3 vs Lezioni di letteratura di Nabokov.</span>
        </figcaption>
    </figure>
    <!-- FINE IMG GRANDE -->

    <div class="col-md-8 col-md-push-2 no-padding-left">
        <p>
            Ad essere cattivi, si può scrivere che Kindle Oasis 3 prende in giro chi ha comprato l’edizione 2017. Ci era stata data una prospettiva elitaria mentre adesso ci sentiamo in mezzo ad una messa in scena. E scrivo queste righe di amarezza mentre guardo la nuova temperatura del colore pressoché identica a certa carta ingiallita, senza dover pensare alla sua regolazione perché posso <strong>programmarla per il tramonto</strong> come faccio con lo smartphone mentre mi godo ancora una volta la rifrazione della luce più omogenea sul mercato. Qui è impossibile vedere l’origine dei LED.
        </p>
        <p>Su Kindle Oasis 3 l’interfaccia è veloce quasi quanto un tablet di qualche anno fa. Un tempo era un di più, ma adesso mi fa piacere girare su Kindle Store o scrivere note senza aspettare i comodi del lettore. Tutte le funzioni di sempre, qui, sono migliori: l’ingrandimento con le dita, il sottolineare, l’organizzare i contenuti, anche il navigare sulle pagine web. E poi il WordWise, il <strong>traduttore per frasi</strong> e non solo parola per parola, il controllo genitori, la velocità della rotazione quando si cambia mano. Non ho nulla di nuovo da dire sull'autonomia o sulla velocità di cambio pagina; dovrebbe essere uno dei miglioramenti di questa edizione, ma io non vedo differenze. Al contrario mi sembra che il sensore di luminosità del nuovo sia più reattivo.
        </p>
    </div>
</section>
<!-- GALLERIA TRIS -->

<div class="row tris">

    <div class="col-md-4 col-sm-6">
        <div>
            <figure>
                <a
                    href="https://res.cloudinary.com/rim2/image/upload/q_75,w_1000/v1564643553/Kindle-Oasis-3/kindle-oasis-3-2019-microusb.jpg"
                    data-lightbox="scheda"
                    data-alt="{{ .Title }}" data-title="{{ .Title }}:
                    porta microUSB.">
                    <img
                        data-src="https://res.cloudinary.com/rim2/image/upload/w_auto,c_scale,q_75,f_auto/v1564643553/Kindle-Oasis-3/kindle-oasis-3-2019-microusb.jpg"
                        alt="{{ .Title }}: porta microUSB"
                        class="lazyload cld-responsive">
                </a>
                <figcaption>
                    <span class="description-title"
                        style="padding-left:0">
                        <span>FIG. 4.</span> Porta microUSB e LED.
                    </span>
                </figcaption>
            </figure>
        </div>
    </div>

        
        <div class="col-md-4 col-sm-6">
                        <div>
                            <figure>
                                <a
                                    href="https://res.cloudinary.com/rim2/image/upload/q_75,w_1000/v1564643554/Kindle-Oasis-3/kindle-oasis-3-2019-voltapagina.jpg"
                                    data-lightbox="scheda"
                                    data-alt="{{ .Title }}" data-title="{{ .Title }}: tasti VoltaPagina.">
                                    <img
                                        data-src="https://res.cloudinary.com/rim2/image/upload/w_auto,c_scale,q_75,f_auto/v1564643554/Kindle-Oasis-3/kindle-oasis-3-2019-voltapagina.jpg"
                                        alt="{{ .Title }}: tasti VoltaPagina" class="lazyload
                                        cld-responsive">
                                </a>
                                <figcaption>
                                    <span class="description-title"
                                        style="padding-left:0">
                                        <span>FIG. 3.</span> Pulsanti VoltaPagina.
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div>
                            <figure>
                                <a
                                    href="https://res.cloudinary.com/rim2/image/upload/q_75,w_1000/v1564643553/Kindle-Oasis-3/kindle-oasis-3-2019-pulsanti.jpg"
                                    data-lightbox="scheda"
                                    data-alt="{{ .Title }}" data-title="{{ .Title }}: tasto di accensione.">
                                    <img
                                        data-src="https://res.cloudinary.com/rim2/image/upload/w_auto,c_scale,q_75,f_auto/v1564643553/Kindle-Oasis-3/kindle-oasis-3-2019-pulsanti.jpg"
                                        alt="{{ .Title }}: tasto di accensione"
                                        class="lazyload cld-responsive">
                                </a>
                                <figcaption>
                                    <span class="description-title"
                                        style="padding-left:0">
                                        <span>FIG. 2.</span> Tasto di accensione.
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    </div>                            
        </div>
        
        <!-- FINE TRIS -->


<section class="single-project row-col-12">
            <div class="col-md-8 col-md-push-2 no-padding-left">
                <h2>Conclusioni</h2>
                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> 
                        Questo è davvero l’ebook reader migliore sul mercato. Ma è arrivato il momento di impuntarsi e rifiutare la Wi-Fi n a 2.4 GHz, la microUSB (!), il Bluetooth spento perché <strong>manca l’integrazione con Audible</strong> in Italia. Io sono un cliente Audible e vorrei usare l’ebook reader per ascoltare e memorizzare gli audio come fa un qualsiasi americano. Due anni fa avevamo comunque un tornaconto. Oggi ci siamo abituati. E pretendiamo qualcosa di nuovo. È chiaro, e lo dico per non essere frainteso, che Oasis 2019 è consigliato a chi non ha il modello precedente e vuole fare un salto di qualità.
                    </p><p>        
                        L'illuminazione gialla fa la differenza? Certo che sì! Una volta <strike>provata</strike> guardata è evidente il suo <strong>vantaggio rispetto all'azzurrino</strong> freddo dall'altra (che fino a qualche istante prima ci sembrava calda e giallina, mentre ora è di uno stancante che mai). Chi legge tantissimo a letto, la sera al buio, dovrebbe usare un eReader con questa tonalità di colore per riposare meglio.
                        
                        Non conosco le mosse di Kobo ma in questo momento, all'ultimo giorno di luglio, non c’è di meglio sul mercato. Tutti gli altri possono restare così e scartarlo, quasi per principio. Si legge anche altrove e, per fortuna, le parole restano quelle.
                </p>
            </div>

            <div class="col-md-8 col-md-push-2 no-padding-left"> 
                    <aside class="yt-iscriviti">
                        <span class="atail-multitext-text">ACQUISTA SU AMAZON E SUPPORTAMI</span>
                        <a href="https://amzn.to/2Vo4lm3" rel="nofollow noopener" target="_blank" title="Aiutami a migliorare il podcast e il sito">
                            <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1562766484/amazon.png" alt="Supporta Riccardo.im" class="cld-responsive lazyload" />
                        </a>
                    </aside>
                            <!-- VIDEO FULL -->

        <div class="videoWrapper embed-responsive embed-responsive-4by3"
        data-yt-url="{{.Params.video}}">
        
    <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1564644388/recensioni/Kindle-Oasis/recensione-kindle-oasis-2019.jpg"
                        alt="Video Recensione {{ .Title }}" class="cld-responsive lazyload play-youtube-video">
    </div>

    <!-- FINE VIDEO -->
            </div>
            
</section>

<!-- PREV-NEXT -->
<div class="row-col-12">

    <div class="col-xs-6 col-md-4 col-md-push-2 no-padding">
        <div class="single-project-prev atail-project-nav">
            {{if .PrevInSection}}
            <a href="{{.PrevInSection.Permalink}}"
                class="single-project-link-arrow" title="Recensione precedente">
                <span class="single-project-arrow">
                    <svg version="1.1"
                        xmlns="http://www.w3.org/2000/svg" x="0px"
                        y="0px" width="57.143px"
                        height="34.454px" viewBox="0 0 57.143 34.454"
                        enable-background="new 0 0 57.143 34.454"
                        xml:space="preserve">
                        <g>
                            <g>
                                <polygon fill=""
                                    points="51.908,17.599 46.891,13.1
                                    46.891,17.094 6.904,17.094
                                    6.904,18.094 46.891,18.094
                                    46.891,22.099">
                                </polygon>
                            </g>
                        </g>
                    </svg>
                </span>
                <span>Precedente</span>
            </a>

            <a href="{{.PrevInSection.Permalink}}"
                class="single-project-info" title="Recensione {{.PrevInSection.Title}}">
                <div class="atail-project-image">
                    <img data-src="{{.PrevInSection.Params.immagine_testa}}"
                        alt="Recensione {{.PrevInSection.Title}}" class="cld-responsive lazyload" />
                </div>
                <h4>{{.PrevInSection.Title}}</h4>
            </a>
            {{end}}
        </div>
    </div>

    <div class="col-xs-6 col-md-4 col-md-push-2 no-padding">
        <div class="single-project-next atail-project-nav">
            {{if .NextInSection}}
            <a href="{{.NextInSection.Permalink}}"
                class="single-project-link-arrow" title="Prossima recensione">
                <span>Prossima</span>
                <span class="single-project-arrow">
                    <svg version="1.1"
                        xmlns="http://www.w3.org/2000/svg" x="0px"
                        y="0px" width="57.143px"
                        height="34.454px" viewBox="0 0 57.143 34.454"
                        enable-background="new 0 0 57.143 34.454"
                        xml:space="preserve">
                        <g>
                            <g>
                                <polygon fill=""
                                    points="51.908,17.599 46.891,13.1
                                    46.891,17.094 6.904,17.094
                                    6.904,18.094 46.891,18.094
                                    46.891,22.099">
                                </polygon>
                            </g>
                        </g>
                    </svg>
                </span>
            </a>

            <a href="{{.NextInSection.Permalink}}"
                class="single-project-info" title="Recensione {{.NextInSection.Title}}">
                <div class="atail-project-image">
                    <img data-src="{{.NextInSection.Params.immagine_testa}}"
                        alt="Recensione {{.NextInSection.Title}}" class="cld-responsive lazyload" />
                </div>
                <h4>{{.NextInSection.Title}}</h4>
            </a>
            {{end}}
        </div>
    </div>

</div>
<!-- FINE PREV-NEXT -->

        <!-- DISQUS -->

        <div class="single-project row-col-12 atail-post-comments-wrapper"
            style="margin-bottom: 0; border-right:0">
            <div class="col-md-2"></div>
            <aside class="col-md-8 no-padding-left">
                {{ partial "disqus-comments.html" . }}
            </aside>
        </div>

        <!-- FINE DISQUS -->
        <!-- FINE PAGINA -->
</article>
        <!-- main-scroll -->
</main> <!-- main -->
{{ partial "aside.html" . }}
</div> <!-- atail -->

<script src='{{.Site.BaseURL}}js/cloudinary-core-shrinkwrap.js'></script>
<script src="{{.Site.BaseURL}}js/lazysizes.min.js" async ></script>
<script src="{{.Site.BaseURL}}js/typed.min.js"></script>
<script>
    var typed = new Typed('#typed',{
         strings:["{{.Params.typed1}}", "{{.Params.typed2}}", "{{.Params.typed3}}", "{{.Params.typed4}}"],
         backSpeed: 40,
        typeSpeed: 60,
         loop: false
        });
</script>
<script>
const cl = cloudinary.Cloudinary.new({ cloud_name: 'rim2' })
cl.responsive()
</script>
<script async src="https://apis.google.com/js/platform.js"></script>
<script src='{{.Site.BaseURL}}js/lightbox.js' async ></script>
{{ partial "footer-review.html" . }}
