{{ partial "header.html" . }}

<main>
<div class="main-scroll">

            <div class="row all-atail-projects-wrapper">

                <div class="col-md-10 col-xs-8 no-padding">
                    <div class="all-atail-projects row-col-10">

                        <div class="row-col-10 all-atail-projects-single" data-categories="cat-1">
                            <div class="col-md-4 col-md-push-2 no-padding all-atail-projects-article col-xs-10 col-sm-6">
                                <article>
                                    <h1>
                                        <a href="/recensioni/garmin-forerunner-245-music/" title="Leggi la recensione a Garmin Forerunner 245 Music">
                                            Garmin Forerunner 245
                                        </a>
                                    </h1>
                                    <a class="open-full-post" 
                                       href="/recensioni/garmin-forerunner-245-music/" title="Leggi la recensione a Garmin Forerunner 245 Music">
                                        <span>Leggi tutto</span>
                                    </a>
                                </article>
                            </div>
                            <div class="col-md-4 no-padding all-atail-projects-img col-xs-10 col-sm-4">
                                <img data-src="https://res.cloudinary.com/riccardoim/image/upload/w_auto,c_scale,q_auto,f_auto/v1562686695/recensioni/garmin-forerunner-245-music.jpg"
                                     alt="Garmin Forerunner 245 Music" class="cld-responsive"/>
                            </div>
                        </div>


                        <div class="row-col-10 all-atail-projects-single" data-categories="cat-1">
                            <div class="col-md-4 col-md-push-2 no-padding all-atail-projects-article col-xs-10 col-sm-6">
                                <article>
                                    <h1>
                                        <a href="/recensioni/dell-xps-13-9380/" title="Leggi la recensione a Dell XPS 13 9380">
                                            Dell XPS 13 9380
                                        </a>
                                    </h1>
                                    <a class="open-full-post" 
                                       href="/recensioni/dell-xps-13-9380/" title="Leggi la recensione a Dell XPS 13 9380">
                                        <span>Leggi tutto</span>
                                    </a>
                                </article>
                            </div>
                            <div class="col-md-4 no-padding all-atail-projects-img col-xs-10 col-sm-4">
                                <img data-src="https://res.cloudinary.com/riccardoim/image/upload/w_auto,c_scale,q_auto,f_auto/v1560848895/recensioni/dell-xps-13-9380.jpg"
                                     alt="Dell XPS 13 9380" class="cld-responsive"/>
                            </div>
                        </div>
    

                        <div class="row-col-10 all-atail-projects-single" data-categories="cat-2">
                            <div class="col-md-4 col-md-push-2 no-padding all-atail-projects-article col-xs-10 col-sm-6">
                                <article>
                                    <h1>
                                        <a href="/articoli/nuovo-sito-riccardo-palombo/" title="Leggi l'articolo Riparto dal blog">
                                            Riparto dal blog
                                        </a>
                                    </h1>
                                    <a class="open-full-post" 
                                       href="/articoli/nuovo-sito-riccardo-palombo/" title="Leggi l'articolo Riparto dal blog">
                                        <span>Leggi tutto</span>
                                    </a>
                                </article>
                            </div>
                            <div class="col-md-4 no-padding all-atail-projects-img col-xs-10 col-sm-4">
                                <img data-src="https://res.cloudinary.com/riccardoim/image/upload/w_auto,c_scale,q_auto,f_auto/v1560848895/recensioni/riccardo-im-logo.png"
                                     alt="Riparto dal blog" class="cld-responsive"/>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="all-atail-projects-category col-md-2 col-xs-4">
                    <div class="all-atail-projects-category-wrapper">
                        <div class="all-atail-projects-category-table">
                            <ul class="no-list">
                                <li>
                                    <a href="#" data-action="show-category" data-category="cat-all">Tutto</a>
                                </li>
                                <li>
                                    <a href="#" data-action="show-category" data-category="cat-2">Articoli</a>
                                </li>
                                <li>
                                    <a href="#" data-action="show-category" data-category="cat-1">Recensioni</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

</div> <!-- main-scroll -->

<div class="grid-bg row">
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
</div>
</main> <!-- main -->
{{ partial "aside.html" . }}
</div> <!-- atail -->
<script src="{{.Site.BaseURL}}js/cloudinary-core-shrinkwrap.js"></script>
<script>
const cl = cloudinary.Cloudinary.new({ cloud_name: 'riccardoim' })
cl.responsive()
</script>
{{ partial "footer.html" . }}