{{ partial "header.html" . }}
<link rel='stylesheet' href='{{.Site.BaseURL}}css/lightbox.css' type='text/css' media='all' />
<main>
    <article class="main-scroll">
        <div class="row" style="margin-bottom: 0">
            <div class="col-md-1"></div>
            <div class="col-md-8 no-padding-left col-sm-8">
                <div class="promo-box recensioni">
                    <div class="small-title">
                        {{ partial "share.html" . }}
                    </div>
                    <h1>Intel NUC 10 Performance</h1>
                    <p>
                        Sei core, un BIOS flessibile, una ventolina vispa.
                    </p>
                </div>
            </div>
            <div class="col-md-2 no-padding-right col-sm-4">
                <div class="atail-multitext inizio">
                    <span class="atail-multitext-title">RECENSIONE</span>
                    <span class="atail-multitext-text">Brand <span>{{.Params.brand}}</span></span>
                    <span class="atail-multitext-text">Online da<span>
                            {{ .Date.Day }} {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }} {{ .Date.Year }}
                        </span></span>
                    <span class="atail-multitext-text">Discussione
                        <span><a href="#disqus_thread" title="Leggi i commenti">Leggi i commenti</a></span>
                    </span>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>

        <!-- VIDEO FULL -->

        <div class="videoWrapper embed-responsive embed-responsive-4by3" data-yt-url="{{.Params.video}}">

            <img data-src="https://res.cloudinary.com/rp1/image/upload/w_auto,c_scale,q_75,f_auto/v1582193773/NUC/recensione_intel-nuc10.jpg"
                alt="Video Recensione {{ .Title }}" class="cld-responsive lazyload play-youtube-video">
        </div>

        <!-- FINE VIDEO -->

        <!-- SCHEDA TECNICA -->
        <div class="single-project row-col-12">
            <div class="col-md-2"></div>

            <div class="col-md-8 no-padding-left" style="margin-bottom:80px">
                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Vispa rende bene l'idea: non è rumorosa ma è
                    frequente anche dopo una messa a punto pignola nel BIOS. Io ho sempre girato con impostazione
                    <em>Quiet</em> ma l'ho anche sempre sentita partire, ogni tot minuti, come per dirmi "guarda che qua c'è un
                    PC vero, mica un giocattolo". E d'altronde su questo non avrei nulla da dire. <strong>Intel NUC10 Performance</strong>
                    si chiama così non solo per marketing, ma perché arriva a montare configurazioni che passano da
                    quelle di un PC per l'ufficio o per il multimedia avanzato casalingo, alla postazione per fare
                    montaggio video, fotoritocco impegnato, virtualizzazione eccetera eccetera.
                </p>
            </div>

            <section class="col-md-4 col-md-push-2 no-padding-left">
                <div class="atail-multitext">
                    <h2 class="atail-multitext-title">SCHEDA TECNICA</h2>
                    <span class="atail-multitext-text">Processore<span>Intel
                            Core-U i3, i5, i7 fino a 6-core / 10th Gen </span></span>
                    <span class="atail-multitext-text">Scheda grafica<span>
                            Intel UHD 620</span></span>
                    <span class="atail-multitext-text">Memoria<span>2x DDR4-2666 1.2V (max. 64 GB)</span></span>
                    <span class="atail-multitext-text">Archiviazione<span>SSD M.2 PCI-E x4 22x42/80 / SATA 2.5
                            pollici</span></span>
                    <span class="atail-multitext-text">Rete<span>Wi-Fi 6 ax / Bluetooth 5 / Ethernet 1000</span></span>
                    <span class="atail-multitext-text">Connettività<span>Thunderbolt 3 / 3x USB-A 3.1 Gen2 / USB-C 3.1
                            Gen2 / Jack audio 3.5 mm / HDMI 2.0 / SDXC</span></span>
                    <span class="atail-multitext-text">Alimentatore<span>120 watt (Core i7) o 60 watt 19V
                            6.32A</span></span>
                    <span class="atail-multitext-text">Telaio<span>117 x 112 x 38 mm o 51 mm / 700 grammi</span></span>
                    <span class="atail-multitext-text">Altro<span>Sensore IR / 4 microfoni far-field / VESA
                            100</span></span>
                </div>
            </section>

            <!-- FINE SCHEDA TECNICA -->

            <!-- SCHEDA IMG -->

            <div class="col-md-4 col-md-push-2 no-padding-right">
                <figure class="no-margin">
                    <a href="https://res.cloudinary.com/rp1/image/upload/q_75,w_1000/v1582193853/NUC/intel-nuc-10-recensione.jpg"
                        data-lightbox="scheda" data-alt="{{ .Title }}" data-title="Intel NUC 10:
                        vista frontale." title="Scheda tecnica Intel NUC 10">
                        <img data-src="https://res.cloudinary.com/rp1/image/upload/w_auto,c_scale,q_75,f_auto/v1582193853/NUC/intel-nuc-10-recensione.jpg"
                            alt="Scheda tecnica {{ .Title }}" class="cld-responsive lazyload">
                    </a>
                    <figcaption>
                        <span class="description-title" style="padding-left:0">
                            <span>FIG. 1.</span> Clicca per ingrandire.
                        </span>
                        <p>
                            Esistono due varianti ufficiali, da 38 o 51 mm. La seconda permette di installare un disco
                            da 2.5 pollici SATA.
                        </p>
                    </figcaption>
                </figure>

                <!-- FINE SCHEDA IMG -->
            </div>
        </div>

        <div class="single-project row-col-12">
            <div class="col-md-8 col-md-push-2 no-padding-left">
                <h2>Hardware</h2>
                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> L'edizione 2020 usa i processori Intel Comet Lake-U (10° generazione, variante a 14
                    nm) fino al Core i7-10710U 6-core e ai suoi 4.7 GHz di picco su un TDP che parte da 25 watt e può
                    spingersi fino al doppio cambiando il PL1 da BIOS. E affianca a questo una <strong>Thunderbolt
                        3</strong> a 40 GB/s per l'uscita video 4K, per il trasferimento dati, per HUB e <em>dock</em>, per collegare una eGPU e, a quel punto, spendere sì una
                    fortuna ma entrare nel mercato dei Mac Mini, per dire. Quindi non più PC per l'ufficio o
                    per casa ma qualcosa che, volendo, va più su - so di averlo già scritto ma qui chiude bene il
                    discorso. Guardate le specifiche. Dovete far caso a: la <strong>Wi-Fi 6 ax</strong> (chip Intel), la
                    SSD NVMe 4x, i 64 GB di RAM in Dual Channel, l'alimentatore da 120 watt della configurazione più
                    potente, il sensore IR per comandarlo con un telecomando, i quattro microfoni frontali, la SDXC con
                    supporto UFS-II. È un PC dal senso diverso rispetto a prima.
                </p>
            </div>
        </div>
        <!-- GALLERIA TRIS -->
        <div class="row tris">
            <figure>
                <a href="https://res.cloudinary.com/rp1/image/upload/q_75,w_1000/v1582193850/NUC/intel-nuc-10-recensione-1.jpg"
                    data-lightbox="scheda" data-alt="{{ .Title }}: piedini e attacco VESA."
                    data-title="{{ .Title }}: piedini e attacco VESA.">
                    <img data-src="https://res.cloudinary.com/rp1/image/upload/w_auto,c_scale,q_75,f_auto/v1582193850/NUC/intel-nuc-10-recensione-1.jpg"
                        alt="{{ .Title }}: piedini e attacco VESA." class="lazyload
                        cld-responsive">
                </a>
            </figure>
            <div class="col-md-4 col-sm-6">
                <div>
                    <figure>
                        <a href="https://res.cloudinary.com/rp1/image/upload/q_75,w_1000/v1582193847/NUC/intel-nuc-10-recensione-2.jpg"
                            data-lightbox="scheda" data-alt="{{ .Title }}: porte posteriori"
                            data-title="{{ .Title }}: le posteriori.">
                            <img data-src="https://res.cloudinary.com/rp1/image/upload/w_auto,c_scale,q_75,f_auto/v1582193847/NUC/intel-nuc-10-recensione-2.jpg"
                                alt="{{ .Title }} porte posteriori." class="lazyload cld-responsive">
                        </a>
                        <figcaption>
                            <span class="description-title" style="padding-left:0">
                                <span>FIG. 2.</span> Le orte posteriori.
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div>
                    <figure>
                        <a href="https://res.cloudinary.com/rp1/image/upload/q_75,w_1000/v1582193852/NUC/intel-nuc-10-recensione-8.jpg"
                            data-lightbox="scheda" data-alt="{{ .Title }}: piedini e attacco VESA."
                            data-title="{{ .Title }}: piedini e attacco VESA.">
                            <img data-src="https://res.cloudinary.com/rp1/image/upload/w_auto,c_scale,q_75,f_auto/v1582193852/NUC/intel-nuc-10-recensione-8.jpg"
                                alt="{{ .Title }}: piedini e attacco VESA." class="lazyload
                                cld-responsive">
                        </a>
                        <figcaption>
                            <span class="description-title" style="padding-left:0">
                                <span>FIG. 3.</span> L'attacco VESA 100 è incluso in confezione.
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div>
                    <figure>
                        <a href="https://res.cloudinary.com/rp1/image/upload/q_75,w_1000/v1582193850/NUC/intel-nuc-10-recensione-3.jpg"
                            data-lightbox="scheda" data-alt="{{ .Title }}: lettore SDXC."
                            data-title="{{ .Title }}: lettore SDXC.">
                            <img data-src="https://res.cloudinary.com/rp1/image/upload/w_auto,c_scale,q_75,f_auto/v1582193850/NUC/intel-nuc-10-recensione-3.jpg"
                                alt="{{ .Title }}: lettore SDXC." class="lazyload cld-responsive">
                        </a>
                        <figcaption>
                            <span class="description-title" style="padding-left:0">
                                <span>FIG. 4.</span> Il lettore SDXC con supporto UHS-II.
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </div>

        </div>

        <!-- FINE TRIS -->
        <div class="single-project row-col-12">
            <div class="col-md-8 col-md-push-2 no-padding-left">
                <p>Purtroppo Intel non lo regala: la SKU NUC10i7FNH con 16 GB di RAM, SSD NVMe da 256 GB e HDD da 1 TB su
                    Windows 10 Home costa circa 1000 euro, e servono 600 euro per la stessa base hardware priva dei
                    componenti. Quando il formato non è una discriminante, sono tanti soldi. Meglio abbassare le
                    pretese, rinunciare ai 6 core per scendere ai 4 del Core i5-10210U e spendere sui 300 euro
                    (barebone) nei negozi online europei, oppure raddoppiare la spesa per un NUC10 già configurato e
                    pronto. Sono prezzi indicativi perché mentre scrivo non vedo tanta disponibilità in Italia, quindi
                    controllate voi. Tutte le informazioni ufficiali sulle varianti sono <a
                        href="https://www.intel.it/content/www/it/it/support/articles/000005545/intel-nuc.html"
                        rel="nofollow noopener" title="Specifiche tecniche per i prodotti Intel NUC" target="_blank">in
                        questa pagina</a> del sito Intel.
                </p>
                <p>
                    Comprare un modello vuoto e poi aggiornare RAM, disco e, volendo, migliorare il telaio con
                    modifiche più o meno creative, più o meno costose, è una buona idea perché smontare NUC10 è rimasta
                    una cosa semplice. Questo è uno dei vantaggi dell'usare lo stesso telaio da anni. Nel video parlo
                    dell'installazione di un dissipatore <a href="https://amzn.to/2HIhrBm" rel="nofollow noopener"
                        title="Arctic Alpine 12 Passive" target="_blank">Arctic Alpine AM4 Passive</a> sopra la scheda
                    madre di un NUC smontato, forato in prossimità dei fori che la tengono al telaio e ancorato
                    esattamente lì. È una cosa che avrei voluto provare e che mi son promesso di mettere in piedi al
                    prossimo test. Trovate un paio di spunti su <a
                        href="https://www.reddit.com/r/intelnuc/comments/f0ou77/passively_cooled_nuc8i3_still_not_silent/"
                        rel="nofollow noopener" title="Intel NUC passively cooled" target="_blank">r/intelnuc</a>.
                </p>
            </div>
        </div>
        <!-- TEARDOWN -->
        <figure>
            <a href="https://res.cloudinary.com/rp1/image/upload/q_75,w_1000/v1582193853/NUC/intel-nuc-10-recensione-6.jpg"
                data-lightbox="grafico" data-alt="{{.Title }}: aggiornamento hardware."
                data-title="Gli interni di Intel NUC 10">
                <img data-src="https://res.cloudinary.com/rp1/image/upload/q_75,w_1000/v1582193853/NUC/intel-nuc-10-recensione-6.jpg"
                    alt="{{.Title }}: aggiornamento hardware." class="cld-responsive lazyload"></a>
            <figcaption>
                <span class="description-title">
                    <span>FIG. 5.</span> Gli interni di Intel NUC10 Performance. Ventola e dissipazione sono sul lato
                    opposto della scheda.</span>
            </figcaption>
        </figure>
        <!-- FINE TEARDONW -->
        <section class="single-project row-col-12">
            <div class="col-md-8 col-md-push-2 no-padding-left">
                <p>Il BIOS di questo modello permette di cambiare faccia alla CPU; resta una spreco depotenziarla visto
                    quel che costa, ma è solo un esercizio di stile per dimostrare la sua flessibilità. Ne parleremo tra
                    un attimo.
                </p>
            </div>
        </section>
        <section class="single-project row-col-12">
            <div class="col-md-8 col-md-push-2 no-padding-left">
        <h2>Prestazioni</h2>
                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Il processore Core i7-10710U, 1.1 - 4.7 GHz, 12 MB di cache e 12 thread, così come i
                    fratelli meno pregiati, arriva con una impostazione PL1 regolata a 30 watt. Power Limit 1 è il
                    limite massimo, da regolare come TDP, che può gestire l'impianto di smaltimento e di ventilazione.
                    PL1 è long-term state quindi non può attivare la frequenza Turbo della CPU. Da BIOS si può cambiare
                    questo numero fino a 45 watt, intervenendo anche sulla durata della spinta. C'è un filmato, poco
                    sotto, con dentro tutte le opzioni.
                </p>
                <div class="videoWrapper embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.youtube.com/embed/BLwGmLmTQio" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <p>
                    Per mettere alla prova queste possibilità, e per capire quanto modificavano la temperatura, la
                    silenziosità e le prestazioni reali, ho fatto stress test di venti minuti con Prime95, ho fatto
                    girare benchmarks prima e dopo, ho fatto rendering con Adobe Premiere Pro CC, ed ho memorizzato tutto per un'analisi
                    successiva. Ecco da dove arrivano la tabella e i grafici a seguire.
                </p>
                <!-- TABELLA -->
                <div class="row-col-6">
                    <div class="col-md-6" style="margin-top: 60px">

                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Standard<br>PL1 30 watt</th>
                                    <th>Top<br>PL1 45 watt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cinebench R20</td>
                                    <td>CPU: 2289 pts<br>CPU Single: 472 pts</td>
                                    <td>CPU: 2779 pts<br>CPU Single: 486 pts</td>
                                </tr>
                                <tr>
                                    <td>PCMark 10</td>
                                    <td>4388</td>
                                    <td>4423</td>
                                </tr>
                                <tr>
                                    <td>3DMark Time Spy</td>
                                    <td>512<br>CPU: 4766</td>
                                    <td>512<br>CPU: 5484</td>
                                </tr>
                                <tr>
                                    <td>Temperatura CPU<br>Prime95 15 min</td>
                                    <td>Max: 84°C</td>
                                    <td>Max: 98°C</td>
                                </tr>
                                <tr>
                                    <td>Temperatura Retro<br>Prime95 15 min</td>
                                    <td>47°C</td>
                                    <td>51°C</td>
                                </tr>
                                <tr>
                                    <td>Consumo CPU<br>Prime95 15 min</td>
                                    <td>Max: 49 watt</td>
                                    <td>Max: 54 watt</td>
                                </tr>
                                <tr>
                                    <td>Consumo su presa</td>
                                    <td>Max: 61 watt</td>
                                    <td>Max: 88 watt</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="description-table">
                            <span class="description-title">
                                <span>TAB. 1.</span>
                                Prestazioni a confronto.
                            </span>
                            <p>
                                Test eseguiti in modalità energetica "Prestazioni" e con l'ultima versione di Windows 10
                                disponibile.
                            </p>
                        </div>

                    </div>
                </div>
                <!-- FINE TABELLA -->
                <p>
                    Le variazioni da commentare non sono quelle del processore, tanto migliori nella modalità 45 watt come è normale che sia soprattutto in Multi Core <strong>(Cinebench R20 dà un impressionante +500 punti)</strong>, ma quelle (assenti) della GPU, del consumo su presa (+27 watt, tantissimo, ed ecco a cosa serve l'alimentatore da 120 watt), e della temperatura su CPU (+14°C, non poco ma tollerabile perché siamo in una situazione estrema). Avrei dovuto inserire anche i dati della ventolina ma non sono riuscito a monitorare questo parametro e non ho insistito perché si è trattato di sentirla più frequente, non più veloce. E va bene così perché quando la CPU si avvicina ai 100°C è bene che il sistema, là sotto, si adatti e si sbrighi.
                </p>
                <p>
                    Dirò altro ma prima guardate i grafici. Fate caso, nella seconda immagine, al consumo in standby di NUC10; è basso, vicino ai 6 watt, per la maggior parte dovuti al sensore IR frontale che ve lo fa accendere, volendo, con un telecomando programmabile.
                </p>
            </div>
        </section>

      <div class="single-project row-col-12" style="background-color:
        #f9f9f9;">
        <!-- GRANDE -->
        <figure>
            <a href="https://res.cloudinary.com/rp1/image/upload/q_75,w_1000/v1582194832/NUC/intel-nuc-10-recensione-benchmarks.png"
                data-lightbox="scheda" data-alt="{{.Title }}: frequenza, temperatura e consumo."
                data-title="{{.Title }}: frequenza, temperatura e consumo.">
                <img data-src="https://res.cloudinary.com/rp1/image/upload/w_auto,c_scale,q_75,f_auto/v1582194832/NUC/intel-nuc-10-recensione-benchmarks.png"
                    alt="{{.Title }}: frequenza, temperatura e consumo." class="lazyload cld-responsive"></a>
            <figcaption>
                <span class="description-title">
                    <span>FIG. 6.</span> Frequenza, temperatura e consumo durante uno stress test con Prime95. In verde la modalità 45 watt. In rosso la standard da 30 watt.</span>
            </figcaption>
        </figure>
        <figure>
            <a href="https://res.cloudinary.com/rp1/image/upload/q_75,w_1000/v1582194832/NUC/intel-nuc-10-recensione-consumo.png"
                data-lightbox="scheda" data-alt="{{.Title }}: consumo su presa."
                data-title="{{.Title }}: consumo su presa.">
                <img data-src="https://res.cloudinary.com/rp1/image/upload/w_auto,c_scale,q_75,f_auto/v1582194832/NUC/intel-nuc-10-recensione-consumo.png"
                    alt="{{.Title }}: consumo su presa." class="lazyload cld-responsive"></a>
            <figcaption>
                <span class="description-title">
                    <span>FIG. 7.</span> Consumo su presa nelle due modalità energetiche.</span>
            </figcaption>
        </figure>
        <!-- FINE GRANDE -->
        </div>
        <section class="single-project row-col-12">

            <div class="col-md-8 col-md-push-2 no-padding-left">
                <h2>Uso pratico</h2>
                <p>
                    <s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Quindi conviene o no portarlo a 45 watt? Dipende dal vostro fine. Se non è settoriale, se non fate solo montaggio video, solo rendering CAD o calcoli con software che non conosco, io resterei nella modalità di fabbrica così da avere un NUC10 più silenzioso e più freddo. Nelle configurazioni con Core i5 Quad Core e Core i7 Hexa Core, le prestazioni bastano e avanzano alla produttività casalinga e aziendale, e intendo quella impegnata, non <a
                    href="/articoli/pixelbook-windows-linux/" title="Google Pixelbook in Dual Boot" target="_blank">cose da Chromebook</a>. Per dire, senza modificare nulla, ho fatto girare due macchine virtuali <strong>Oracle VMWare</strong> con ArchLabs e OpenSUSE mentre sotto avevo una sessione di Adobe Audition, Firefox con dei tab, e altre cosette sparse. In questi contesti non dà segni di affanno. Considerando che si può ottimizzare tutto, dal software di virtualizzazione alla velocità del disco NVMe (la Kingston RBUSNS815 della mia configurazione non è affatto la più veloce - sotto trovate i numeri), posso scrivere senza giri di parole che NUC10 va benone.
                </p>
                <p>Ho parlato di macchine virtuali ma è lo stesso per il multimedia. Devo ricordare che queste CPU supportano la <strong>decofifica VP9 fino a 4K 10-bit</strong> e quindi riproducono video su browser con il minimo impatto sul processore? Che potete attaccare tre monitor? Non credo. Da anni, gli Intel NUC sono media center avanzati e sono buoni server Plex. Posso anzi considerare sprecate queste ultime versioni per contesti del genere; meglio prendere un NUC7 o un NUC8, anche con CPU Pentium o Celeron, e risparmiare.
                </p>
            </div>
        </section>
    <!-- GRANDE -->
        <figure>
            <a href="https://res.cloudinary.com/rp1/image/upload/q_75,w_1000/v1582194834/NUC/intel-nuc-10-recensione-windows-10.png"
                data-lightbox="scheda" data-alt="{{.Title }}: VMWare su Windows 10."
                data-title="{{.Title }}: VMWare su Windows 10.">
                <img data-src="https://res.cloudinary.com/rp1/image/upload/w_auto,c_scale,q_75,f_auto/v1582194834/NUC/intel-nuc-10-recensione-windows-10.png"
                    alt="{{.Title }}: VMWare su Windows 10." class="lazyload cld-responsive"></a>
            <figcaption>
                <span class="description-title">
                    <span>FIG. 8.</span> ArchLabs Linux e OpenSUSE in emulazione VMWare su Windows 10.</span>
            </figcaption>
        </figure>
        <figure>
            <a href="https://res.cloudinary.com/rp1/image/upload/q_75,w_1000/v1582194833/NUC/intel-nuc-10-recensione-linux.png"
                data-lightbox="scheda" data-alt="{{.Title }}: ArchLabs Linux con Openbox nativo."
                data-title="{{.Title }}: ArchLabs Linux con Openbox nativo.">
                <img data-src="https://res.cloudinary.com/rp1/image/upload/w_auto,c_scale,q_75,f_auto/v1582194833/NUC/intel-nuc-10-recensione-linux.png"
                    alt="{{.Title }}: ArchLabs Linux con Openbox nativo." class="lazyload cld-responsive"></a>
            <figcaption>
                <span class="description-title">
                    <span>FIG. 9.</span> ArchLabs Linux con Openbox e lo stress test S-Tui.</span>
            </figcaption>
        </figure>
        <!-- FINE GRANDE -->
        <section class="single-project row-col-12">
            <div class="col-md-5 col-md-push-2 no-padding-left">
                <span class="small-title">SUPPORTO LINUX</span>
                <p>Su Linux nativo non ho avuto noie; l'hardware viene riconosciuto, il BIOS asseconda ogni necessità di avvio (anzi, una cosa bizzosa mi è capitata: la porta USB frontale è schizzinosa; non vede certe pendrive in fase di boot, pennette che poi vengono lette e avviate senza problemi dalle USB posteriori. Non sono riuscito a capire il come e il perché e questo lo ha reso tanto più noioso.), e Clear Linux vola. Ma su questo, sulla distro Intel, torneremo.</p>
            </div>
            <div class="col-md-3 col-md-push-2 no-padding-right">
                <div class="atail-multitext autonomia">
                    <h2 class="atail-multitext-title">ALTRI NUMERI</h2>
                    <span class="atail-multitext-text">iPerf3 Wi-Fi ac<span>Send: 437 Mbits/sec<br>Receiver: 437 Mbits/sec</span></span>
                    <span class="atail-multitext-text">iPerf3 Ethernet<span>Send: 942 Mbits/sec<br>Receiver: 942 Mbits/sec</span></span>
                    <span class="atail-multitext-text">CrystalDisk Mark SSD<span>Read: 1588 MB/sec<br>Write: 898 MB/sec</span></span>
                    <span class="atail-multitext-text">CrystalDisk Mark HDD<span>Read: 134 MB/sec<br>Write: 130 MB/sec</span></span>
                </div>
            </div>

 </section>
<!-- FINE ANALISI DISPLAY -->

        <section class="single-project row-col-12">
            <div class="col-md-8 col-md-push-2 no-padding-left">
                <h2>Conclusioni</h2>
                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Abbiamo visto che le prestazioni sostenute non sono un problema. Abbiamo visto che il sistema termico regge ed è regolabile. Che il supporto operativo non manca. Che si può aggiornare e adattare al proprio ambiente, sia nella forma sia nella sostanza. Tutto sta nel capire se vi occorre o meno un NUC. <mark>Quando il formato è una discriminante, non vedo di meglio sul mercato.</mark> Niente è così moderno e niente arriva, volendo, già pronto per l'ufficio, per il negozio, per la postazione casalinga che deve fare anche del lavoro serio, non solo di supporto allo smartphone. Ma quando vi serve un PC per casa o per lo studio, e quando non vi importa di vedere un telaio grande sotto la scrivania (che poi ne esistono anche di carini, non bisogna per forza identificare il fisso come il rettangolo beige di 20 anni fa), trovate di meglio spendendo meno. È una costante dell'elettronica di consumo; uno dei pochi.
                </p>
                <p>NUC di 10° generazione è un portento perché questi processori a "14nm++" sono tirati al massimo (dico davvero: 6 core, 4.7 GHz, picchi di 60 watt su CPU Ultra Low Voltage), ma non è economico. Nella spesa va inserito anche il tempo risparmiato a ricercare, assemblare, installare, provare e domandarsi il senso della vita, ma in certe fasi questa può essere una vocazione (o, almeno, un divertimento istruttivo). In sintesi: non lo so. Il giudizio sul prodotto è positivo eccetera eccetera ma quel che volete farne, poi, spetta a voi.</p>
            </div>
            <div class="col-md-8 col-md-push-2 no-padding-left">
                <aside class="yt-iscriviti">
                    <span class="atail-multitext-text">INTEL NUC + AMAZON = ❤️</span>
                    <a href="https://amzn.to/39TFfys" rel="nofollow noopener" target="_blank"
                        title="Vedi offerte e sconti Intel NUC 10 su Amazon">
                        <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1562766484/amazon.png"
                            alt="Intel NUC 10 su Amazon" class="cld-responsive lazyload" style="max-width:100%" />
                    </a>
                </aside>
        <!-- VIDEO FULL -->
        <div class="videoWrapper embed-responsive embed-responsive-4by3" data-yt-url="{{.Params.video}}">
            <img data-src="https://res.cloudinary.com/rp1/image/upload/w_auto,c_scale,q_75,f_auto/v1582193773/NUC/recensione_intel-nuc10.jpg"
                alt="Video Recensione {{ .Title }}" class="cld-responsive lazyload play-youtube-video">
        </div>
        <!-- FINE VIDEO -->

    </div>
        </section>
        <!-- PREV-NEXT -->
        <div class="row-col-12">

            <div class="col-xs-6 col-md-4 col-md-push-2 no-padding">
                <div class="single-project-prev atail-project-nav">
                    {{if .PrevInSection}}
                    <a href="{{.PrevInSection.Permalink}}" class="single-project-link-arrow"
                        title="Recensione precedente">
                        <span class="single-project-arrow">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="57.143px"
                                height="34.454px" viewBox="0 0 57.143 34.454" enable-background="new 0 0 57.143 34.454"
                                xml:space="preserve">
                                <g>
                                    <g>
                                        <polygon fill="" points="51.908,17.599 46.891,13.1
                                    46.891,17.094 6.904,17.094
                                    6.904,18.094 46.891,18.094
                                    46.891,22.099">
                                        </polygon>
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <span>Precedente</span>
                    </a>

                    <a href="{{.PrevInSection.Permalink}}" class="single-project-info"
                        title="Recensione {{.PrevInSection.Title}}">
                        <div class="atail-project-image">
                            <img data-src="{{.PrevInSection.Params.immagine_testa}}"
                                alt="Recensione {{.PrevInSection.Title}}" class="cld-responsive lazyload" />
                        </div>
                        <h4>{{.PrevInSection.Title}}</h4>
                    </a>
                    {{end}}
                </div>
            </div>

            <div class="col-xs-6 col-md-4 col-md-push-2 no-padding">
                <div class="single-project-next atail-project-nav">
                    {{if .NextInSection}}
                    <a href="{{.NextInSection.Permalink}}" class="single-project-link-arrow"
                        title="Prossima recensione">
                        <span>Prossima</span>
                        <span class="single-project-arrow">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="57.143px"
                                height="34.454px" viewBox="0 0 57.143 34.454" enable-background="new 0 0 57.143 34.454"
                                xml:space="preserve">
                                <g>
                                    <g>
                                        <polygon fill="" points="51.908,17.599 46.891,13.1
                                    46.891,17.094 6.904,17.094
                                    6.904,18.094 46.891,18.094
                                    46.891,22.099">
                                        </polygon>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </a>

                    <a href="{{.NextInSection.Permalink}}" class="single-project-info"
                        title="Recensione {{.NextInSection.Title}}">
                        <div class="atail-project-image">
                            <img data-src="{{.NextInSection.Params.immagine_testa}}"
                                alt="Recensione {{.NextInSection.Title}}" class="cld-responsive lazyload" />
                        </div>
                        <h4>{{.NextInSection.Title}}</h4>
                    </a>
                    {{end}}
                </div>
            </div>

        </div>
        <!-- FINE PREV-NEXT -->

        <!-- DISQUS -->

        <div class="single-project row-col-12 atail-post-comments-wrapper" style="margin-bottom: 0; border-right:0">
            <div class="col-md-2"></div>
            <aside class="col-md-8 no-padding-left">
                {{ partial "disqus-comments.html" . }}
            </aside>
        </div>

        <!-- FINE DISQUS -->
        <!-- FINE PAGINA -->
    </article>
    <!-- main-scroll -->
</main> <!-- main -->
{{ partial "aside.html" . }}
</div> <!-- atail -->

<script src='{{.Site.BaseURL}}js/cloudinary-core-shrinkwrap.js'></script>
<script src="{{.Site.BaseURL}}js/lazysizes.min.js" async></script>
<script>
    const cl = cloudinary.Cloudinary.new({ cloud_name: 'rp1' })
    cl.responsive()
</script>
<script src='{{.Site.BaseURL}}js/lightbox.js' async></script>
{{ partial "footer-review.html" . }}