{{ partial "header.html" . }}
<link rel='stylesheet' href='{{.Site.BaseURL}}css/lightbox.css' type='text/css' media='all'/>
<main>
    <article class="main-scroll">
        <div class="row" style="margin-bottom: 0">
            <div class="col-md-1"></div>
            <div class="col-md-8 no-padding-left col-sm-8">
                <div class="promo-box recensioni">
                    <div class="small-title">
                        {{ partial "share.html" . }}
                    </div>
                    <h1>Minix Neo Storage</h1>
                    <p>Tutti gli accessori si meritano quindici minuti di celebrità, soprattutto quando sono utili. Ecco un HUB USB-C con SSD.
                    </p>
                </div>
            </div>
            <div class="col-md-2 no-padding-right col-sm-4">
                <div class="atail-multitext inizio">
                    <span class="atail-multitext-title">RECENSIONE</span>
                    <span class="atail-multitext-text">Brand <span>{{.Params.brand}}</span>
<span class="atail-multitext-text">Online dal<span>
                            {{ .Date.Day }} {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }} {{ .Date.Year }}
                        </span></span>
                    <span class="atail-multitext-text">Discussione
                    <span><a href="#disqus_thread" title="Leggi i commenti">Leggi i commenti</a></span>
                    </span>
</span>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>

        <!-- IMG GRANDE -->
        <figure>
            <a href="https://res.cloudinary.com/rim2/image/upload/q_75,w_1000/v1566291642/Minix-Neo-Storage/minix-neo-storage-macbook.jpg"
                data-lightbox="grafico" data-alt="Minix Neo Storage S2 connesso a MacBook Pro 13 2019"
                data-title="Minix Neo Storage S2 connesso a MacBook Pro 13 2019.">
                <img data-src="https://res.cloudinary.com/rim2/image/upload/w_auto,c_scale,q_75,f_auto/v1566291642/Minix-Neo-Storage/minix-neo-storage-macbook.jpg"
                    alt="Minix Neo Storage S2 connesso a MacBook Pro 13 2019"
                    class="lazyload cld-responsive"></a>
            <figcaption>
                <span class="description-title">
                    <span>FIG. 1.</span> Minix Neo Storage S2 connesso a MacBook Pro 13 2019.</span>
            </figcaption>
        </figure>
        <!-- FINE IMG GRANDE -->

        <!-- SCHEDA TECNICA -->
<div class="single-project row-col-12">
            <div class="col-md-2"></div>

<div class="col-md-8 no-padding-left" style="margin-bottom:80px">

                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Minix Neo Storage S1 (<strong>versione da 120 GB</strong>) e Neo S2 (<strong>versione da 240 GB</strong>) sono HUB USB-C dalla forma moderna e dalla concezione classica (difetti inclusi) con il vanto di una memoria SSD integrata da usare per l'archiviazione dei documenti, delle foto e dei video, dei backup, dei sistemi operativi LIVE. Prendono la USB-C del PC a cui sono collegati e la sviluppano con connettività e archiviazione. Inoltre si prestano al modding perché si possono smontare e migliorare. Mentre scrivo, sono doti rare.
                </p>
</div>

 <section class="col-md-4 col-md-push-2 no-padding-left">
                <div class="atail-multitext">
                    <h2 class="atail-multitext-title">SCHEDA TECNICA</h2>
                    <span class="atail-multitext-text">Uscita video<span>HDMI 1.4a (max 4K @ 30 Hz)</span></span>
                    <span class="atail-multitext-text">Porte<span>2x USB-A 3.0 / USB-C (solo Power Delivery)</span></span>
                    <span class="atail-multitext-text">Archiviazione<span>SSD M2 2280 / 120 GB o 240 GB (su slot)</span></span>
                    <span class="atail-multitext-text">USB Power<span>5V 1A o 5V 2A / Max 5V 500mA</span></span>
                    <span class="atail-multitext-text">Telaio<span>Alluminio satinato / Argento o grigio siderale</span></span>
                    <span class="atail-multitext-text">Dimensioni<span>115 x 43.5 x 11 mm / 60 grammi</span></span>
                    <span class="atail-multitext-text">Compatibilità<span>Apple MacBook Air e Pro / Apple iPad Pro / Windows, Linux e Android con USB-C 3.1 Gen1 o Gen2</span></span>
               </div>
 </section>

<!-- FINE SCHEDA TECNICA -->

<!-- SCHEDA IMG -->

<div class="col-md-4 col-md-push-2 no-padding-right">
                <figure class="no-margin">
                        <img
                            data-src="https://res.cloudinary.com/rim2/image/upload/w_auto,c_scale,q_75,f_auto/v1566293281/Minix-Neo-Storage/minix-neo-storage-porte.jpg"
                            alt="Scheda tecnica e porte {{ .Title }}"
                            class="cld-responsive lazyload">
                    <figcaption>
                        <span class="description-title" style="padding-left:0">
                            <span>FIG. 1.</span> Porte e dimensioni.
                        </span>
                    </figcaption>
                </figure>

                <!-- FINE SCHEDA IMG -->
</div>
</div>
<section class="single-project row-col-12">
    <div class="col-md-8 col-md-push-2 no-padding-left">
        <h2>Punti forti</h2>
        <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> È un accessorio consigliato a chi lavora sul portatile fuori dall'ufficio. I MacBook di ultima generazione hanno solo porte moderne (le Thunderbolt 3), quindi capita di dover tenere in borsa un adattatore per le vecchie USB e per l'uscita HDMI, più una chiavetta con il <abbr title="Ovvero: senza pensare ad impicci con il cloud, con la rete, con il proprio PC">backup offline</abbr> dei dati. Lo stesso vale, anzi è ancora meglio, su un iPad Pro. Minix Neo Storage è adatto a questi contesti (ma non perfetto, come vedremo dopo) perché aggiunge tre comodità:
        </p>

            <ol>
                <li><strong>Ha una USB-C per caricare</strong> il computer anche quando è collegato; così non si sacrifica una porta. Con l'alimentatore connesso, le due USB Type-A possono erogare fine a 5V 2A, ovvero il doppio di quando è staccato.</li>
                <li><strong>Ha una memoria interna SSD</strong> non solo inclusa nel telaio ma anche più veloce e più costante di qualsiasi chiavetta USB. Quindi con un solo movimento si aggiungono le porte, l'uscita video e l'equivalente di un hard disk esterno.</li>
                <li><mark>Ha una SSD sostituibile</mark> perché è installata su slot M2: è noioso smontare il telaio (nessuna vite esterna, solo un sistema a pressione con alette laterali), ma si riescono ad inserire moduli 2280 fino a 1 TB.</li>
            </ol>
<!-- TABELLA -->
<div class="row-col-6">
    <div class="col-md-6" style="margin-top: 60px">

<table>
            <thead>
                <tr>
                    <th></th>
                    <th>GB</th>
                    <th>BMDST</th>
                    <th>AJA</th>
                </tr>
            </thead>
            <tbody>
		<tr>
			<td>Minix Neo Storage S1</td>
            <td>120</td>
			<td>423 - 405 MB/s</td>
			<td>406 - 366 MB/s</td>
        </tr>
		<tr>
			<td>Minix Neo Storage S2</td>
            <td>240</td>
			<td>409 - 401 MB/s</td>
			<td>409 - 368 MB/s</td>
        </tr>
            </tbody>
        </table>
        <div class="description-table">
            <span class="description-title">
                <span>TAB. 1.</span>
                Prestazioni lettura e scrittura registrate su MacBook Pro 13 TB 2019 con BlackMagic Disk Speed Test e Aja System Test.
            </span>
        </div>

</div>
</div>
<!-- FINE TABELLA -->
    <p>    
            E poi è costruito bene ed ha il colore del vostro MacBook, ha una luce LED per far notare che è acceso, i piedini in gomma per tenerlo fermo, una <strong>custodia in confezione</strong>, un connettore USB-C piccolo, appena più grande di quello di ricarica, per stare accanto ad un altro cavo. La velocità di lettura e scrittura è quella di un buon modulo SATA 3.0, ed è conforme a quanto dichiara Minix nelle specifiche ufficiali. Circa <strong>400 MB/s</strong> in entrambi i sensi danno prestazioni di copia, trasferimento, accesso ai file o backup (perfetto per Time Machine) migliori di molti moduli SSD installati nei portatili e nei Mini PC. Per non parlare delle eMMC dei tablet e degli smartphone. Per non parlare dei dischi meccanici (HDD) di certi laptop aziendali.
            </p>
    </div>
</section>
                    <!-- IMG GRANDE -->
        <figure>
            <a href="https://res.cloudinary.com/rim2/image/upload/q_75,w_1000/v1566291645/Minix-Neo-Storage/minix-neo-storage-upgrade.jpg"
                data-lightbox="grafico" data-alt="Minix Neo Storage smontato: SSD e slot."
                data-title="Dentro il Minix Neo Storage.">
                <img data-src="https://res.cloudinary.com/rim2/image/upload/w_auto,c_scale,q_75,f_auto/v1566291645/Minix-Neo-Storage/minix-neo-storage-upgrade.jpg"
                    alt="Minix Neo Storage smontato: SSD e slot."
                    class="lazyload cld-responsive"></a>
            <figcaption>
                <span class="description-title">
                    <span>FIG. 2.</span> La SSD è incollata allo slot, ma con un po' di forza viene via.</span>
            </figcaption>
        </figure>
        <!-- FINE IMG GRANDE -->

<section class="single-project row-col-12">
            <div class="col-md-8 col-md-push-2 no-padding-left">
        <p>            
            Le temperature a contatto sono proporzionali al numero di porte collegate; se tra queste c'è anche l'alimentatore diventa <strong>parecchio caldo</strong>, ma è normale perché l'alluminio è usato come dissipatore. Vista la componentistica, sarebbe stato peggio avere un esterno freddo e un interno bollente. Non posso darvi dei numeri esatti perché sono ancora in vacanza e non ho la camera termica nello zaino. Minix parla di 50°C durante l'operatività.
        <br><br></p>

                <h2>Certi limiti</h2>
                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Si propone alla mobilità - o comunque al lavoro in esterna, quindi <strong>non c'è la Ethernet</strong> e non si va oltre i 4K a 30 fps su HDMI. Mi aspetto questi extra su una docking station da tenere fissa sulla scrivania, o comunque su un HUB USB più ingombrante; ma allora perché non trovare il modo di inserire un lettore di schede? <strong>Manca la SD</strong>. Penso a chi deve scaricare le foto dalla videocamera o i video dalla mirrorless e si trova a dover girare con un adattatore in più. Avrei tolto una USB-A per un lettore SD.
                </p>
                <p>        
                        Poi: c'è del <strong>coil-whine nel Neo Storage S1</strong> che sto provando. Sento questo <em>crick crick</em> solo nel silenzio profondo, ma c'è. Aumenta se collego l'alimentazione del MacBook e non smette se "smonto" l'archiviazione. Forse è un caso isolato perché il 240 GB non ha questo problema e perché non ho trovato riscontri in altre recensioni. O forse i colleghi non si sono trovati, come me, a dormire con il Neo Storage e il Mac vicini al comodino.<br><br>
                </p>
                    <!-- IMG GRANDE -->
        <figure>
            <a href="https://res.cloudinary.com/rim2/image/upload/q_75,w_1000/v1566291635/Minix-Neo-Storage/minix-neo-storage-recensione.jpg"
                data-lightbox="grafico" data-alt="Minix Neo Storage S1 e S2 a confronto."
                data-title="Le colorazioni di Minix Neo Storage.">
                <img data-src="https://res.cloudinary.com/rim2/image/upload/w_auto,c_scale,q_75,f_auto/v1566291635/Minix-Neo-Storage/minix-neo-storage-recensione.jpg"
                    alt="Minix Neo Storage S1 e S2 a confronto."
                    class="lazyload cld-responsive"></a>
            <figcaption>
                <span class="description-title">
                    <span>FIG. 4.</span> Le due colorazioni disponibili e il lato opposto della scheda.</span>
            </figcaption>
        </figure>
        <!-- FINE IMG GRANDE -->
            </div>
        </section>
        <section class="single-project row-col-12">
            <div class="col-md-8 col-md-push-2 no-padding-left">
                <h2>Conclusioni</h2>
                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Minix Neo Storage è consigliato perché è veloce, aggiornabile, snello, comodo. Costa il giusto e si può usare in mille modi, anche su <strong>smartphone Android</strong> per duplicare lo schermo e collegare pennette. In rete leggo di compatibilità certificata con gli ultimi modelli di Samsung e Huawei, ma dovrebbe funzionare con tutti proprio come un HUB USB degno di questo nome. Nessun problema con Linux (l'ho approcciato ad ElementaryOS 5, Arch Linux, Ubuntu 18.10) e Windows 10. Non funziona - ma sarebbe stato un miracolo - come dock per la Nintendo Switch; la console si alimenta ma la modalità schermo esterno non si attiva.</p>
                <p>
                    I limiti sono soprattutto progettuali. Ne ho parlato poco fa quindi è noioso ripetere, ma si può dire che non è adatto a tutti e a tutto, non è davvero un accessorio universale. Però è utile, eccome. Su Gearbest costa <a href="https://it.gearbest.com/hdd---ssd/pp_009314997789.html?lkid=51335635" rel="nofollow noopener" target="_blank" title="Compra su Gearbest Neo S1">78 euro</a> in versione 120 GB e <a href="https://it.gearbest.com/hdd---ssd/pp_009361911325.html?lkid=51335702" rel="nofollow noopener" target="_blank" title="Compra su Gearbest Neo S2">89 euro</a> in versione 240 GB - spedizione compresa. Su <a href="https://amzn.to/2MrOwGe" rel="nofollow noopener" target="_blank" title="Vedi Minix Neo Storage su Amazon">Amazon Italia</a> servono circa 20 euro in più. Guardate anche su eBay o subito, perché spesso i sample inviati per le recensioni finiscono in vendita proprio lì; è appena uscito quindi non c'è il rischio di comprare un usato usurato.
                </p>
             </div>

            <div class="col-md-8 col-md-push-2 no-padding-left">
                <aside class="yt-iscriviti">
                    <span class="atail-multitext-text">COMPRALO SU GEARBEST</span>
                    <a href="https://it.gearbest.com/hdd---ssd/pp_009361911325.html?lkid=51335702" rel="nofollow noopener" target="_blank" title="Compra su Gearbest e aiutami a migliorare il podcast e il sito">
                        <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1566295631/gearbest.png" alt="Compra su Gearbest" class="cld-responsive lazyload" />
                    </a>
                </aside> 
                    <aside class="yt-iscriviti">
                        <span class="atail-multitext-text">COMPRALO SU AMAZON</span>
                        <a href="https://amzn.to/2MrOwGe" rel="nofollow noopener" target="_blank" title="Aiutami a migliorare il podcast e il sito">
                            <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1562766484/amazon.png" alt="Supporta Riccardo.im" class="cld-responsive lazyload" />
                        </a>
                    </aside>
        </div>
</section>

<!-- PREV-NEXT -->
<div class="row-col-12">

    <div class="col-xs-6 col-md-4 col-md-push-2 no-padding">
        <div class="single-project-prev atail-project-nav">
            {{if .PrevInSection}}
            <a href="{{.PrevInSection.Permalink}}"
                class="single-project-link-arrow" title="Recensione precedente">
                <span class="single-project-arrow">
                    <svg version="1.1"
                        xmlns="http://www.w3.org/2000/svg" x="0px"
                        y="0px" width="57.143px"
                        height="34.454px" viewBox="0 0 57.143 34.454"
                        enable-background="new 0 0 57.143 34.454"
                        xml:space="preserve">
                        <g>
                            <g>
                                <polygon fill=""
                                    points="51.908,17.599 46.891,13.1
                                    46.891,17.094 6.904,17.094
                                    6.904,18.094 46.891,18.094
                                    46.891,22.099">
                                </polygon>
                            </g>
                        </g>
                    </svg>
                </span>
                <span>Precedente</span>
            </a>

            <a href="{{.PrevInSection.Permalink}}"
                class="single-project-info" title="Recensione {{.PrevInSection.Title}}">
                <div class="atail-project-image">
                    <img data-src="{{.PrevInSection.Params.immagine_testa}}"
                        alt="Recensione {{.PrevInSection.Title}}" class="cld-responsive lazyload" />
                </div>
                <h4>{{.PrevInSection.Title}}</h4>
            </a>
            {{end}}
        </div>
    </div>

    <div class="col-xs-6 col-md-4 col-md-push-2 no-padding">
        <div class="single-project-next atail-project-nav">
            {{if .NextInSection}}
            <a href="{{.NextInSection.Permalink}}"
                class="single-project-link-arrow" title="Prossima recensione">
                <span>Prossima</span>
                <span class="single-project-arrow">
                    <svg version="1.1"
                        xmlns="http://www.w3.org/2000/svg" x="0px"
                        y="0px" width="57.143px"
                        height="34.454px" viewBox="0 0 57.143 34.454"
                        enable-background="new 0 0 57.143 34.454"
                        xml:space="preserve">
                        <g>
                            <g>
                                <polygon fill=""
                                    points="51.908,17.599 46.891,13.1
                                    46.891,17.094 6.904,17.094
                                    6.904,18.094 46.891,18.094
                                    46.891,22.099">
                                </polygon>
                            </g>
                        </g>
                    </svg>
                </span>
            </a>

            <a href="{{.NextInSection.Permalink}}"
                class="single-project-info" title="Recensione {{.NextInSection.Title}}">
                <div class="atail-project-image">
                    <img data-src="{{.NextInSection.Params.immagine_testa}}"
                        alt="Recensione {{.NextInSection.Title}}" class="cld-responsive lazyload" />
                </div>
                <h4>{{.NextInSection.Title}}</h4>
            </a>
            {{end}}
        </div>
    </div>

</div>
<!-- FINE PREV-NEXT -->

        <!-- DISQUS -->

        <div class="single-project row-col-12 atail-post-comments-wrapper"
            style="margin-bottom: 0; border-right:0">
            <div class="col-md-2"></div>
            <aside class="col-md-8 no-padding-left">
                {{ partial "disqus-comments.html" . }}
            </aside>
        </div>

        <!-- FINE DISQUS -->
        <!-- FINE PAGINA -->
</article>
        <!-- main-scroll -->
</main> <!-- main -->
{{ partial "aside.html" . }}
</div> <!-- atail -->

<script src='{{.Site.BaseURL}}js/cloudinary-core-shrinkwrap.js'></script>
<script src="{{.Site.BaseURL}}js/lazysizes.min.js" async ></script>
<script>
const cl = cloudinary.Cloudinary.new({ cloud_name: 'rim2' })
cl.responsive()
</script>
<script src='{{.Site.BaseURL}}js/lightbox.js' async ></script>
{{ partial "footer-review.html" . }}
