{{ partial "header.html" . }}
<link rel='stylesheet' href='{{.Site.BaseURL}}css/lightbox.css' type='text/css' media='all'/>
<main>
    <article class="main-scroll">
        <div class="row" style="margin-bottom: 0">
            <div class="col-md-1"></div>
            <div class="col-md-8 no-padding-left col-sm-8">
                <div class="promo-box recensioni">
                    <div class="small-title">
                        <!-- SHARE -->
                        <div class="jssocials-shares post-content-header">
                            <div class="jssocials-share">
                                <a target="_blank"
                                    href="https://facebook.com/sharer/sharer.php?u={{.Permalink}}"
                                    rel="noopener" class="jssocials-share-link"
                                    title="Condividi su Facebook">
                                    <img src="https://res.cloudinary.com/rim/image/upload/f_auto/v1562766483/social.png"
                                        class="jssocials-share-facebook" width="13" height="81"
                                        alt="Condividi su Facebook">
                                </a>
                            </div>

                            <div class="jssocials-share">
                                <a target="_blank"
                                    href="https://twitter.com/share?url={{.Permalink}}&amp;text=Recensione%20{{.Title}}%20di%20%40riccardopalombo"
                                    rel="noopener" class="jssocials-share-link"
                                    title="Condividi su Twitter">
                                    <img src="https://res.cloudinary.com/rim/image/upload/f_auto/v1562766483/social.png"
                                        class="jssocials-share-twitter" width="13" height="81"
                                        alt="Condividi su Twitter">
                                </a>
                            </div>

                            <div class="jssocials-share">
                                <a target="_blank"
                                    href="https://reddit.com/submit?url={{.Permalink}}&amp;title=Recensione%20{{.Title}}"
                                    rel="noopener" class="jssocials-share-link"
                                    title="Condividi su Reddit">
                                    <img src="https://res.cloudinary.com/rim/image/upload/f_auto/v1562766483/social.png"
                                        class="jssocials-share-reddit" width="13" height="81"
                                        alt="Condividi su Reddit">
                                </a>
                            </div>
                        </div>
                        <!-- FINE SHARE -->

                    </div>
                    <h1>Minix Neo Storage</h1>
                    <p>È un comodo HUB USB-C con SSD integrata da 128 o 256 GB.
                    </p>
                </div>
            </div>
            <div class="col-md-2 no-padding-right col-sm-4">
                <div class="atail-multitext inizio">
                    <span class="atail-multitext-title">RECENSIONE</span>
                    <span class="atail-multitext-text">Online dal<span>
                            {{ .Date.Day }} {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }} {{ .Date.Year }}
                        </span></span>
                    <span class="atail-multitext-text">Discussione
                    <span><a href="#disqus_thread" title="Leggi i commenti">Leggi i commenti</a></span>
                    </span>
                    <span class="atail-multitext-text">Tempo di lettura <span>Circa 8-11 minuti</span></span>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>

        <!-- VIDEO FULL -->

        <div class="videoWrapper embed-responsive embed-responsive-4by3"
            data-yt-url="{{.Params.video}}">
            
            <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1564644388/recensioni/Kindle-Oasis/recensione-kindle-oasis-2019.jpg"
            alt="Video Recensione {{ .Title }}" class="cld-responsive lazyload play-youtube-video">
        </div>

        <!-- FINE VIDEO -->

        <!-- SCHEDA TECNICA -->
<div class="single-project row-col-12">
            <div class="col-md-2"></div>

<div class="col-md-8 no-padding-left" style="margin-bottom:80px">

                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Tutti gli accessori si meritano 15 minuti di celebrità, a maggior ragione quando sono utili. Minix Neo Storage S1 (versione da 120 GB) e Neo S2 (versione da 240 GB) sono HUB USB-C dalla forma moderna e dalla concezione classica (difetti inclusi) con il vanto di una memoria SSD M2 integrata da usare per l'archiviazione di documenti, foto, video, sistemi operativi. In breve, partono da una USB-C sul PC a cui sono collegati e la sviluppano con connettività e archiviazione. Mentre scrivo, sono doti rare.
                </p>
</div>

 <section class="col-md-4 col-md-push-2 no-padding-left">
                <div class="atail-multitext">
                    <h2 class="atail-multitext-title">SCHEDA TECNICA</h2>
                    <span class="atail-multitext-text">Uscita video<span>HDMI 1.4a (max 4K @ 30 Hz)</span></span>
                    <span class="atail-multitext-text">Porte<span>2x USB-A 3.0 / USB-C (solo Power Delivery)</span></span>
                    <span class="atail-multitext-text">Archiviazione<span>SSD M2 2280 120 GB o 240 GB saldata</span></span>
                    <span class="atail-multitext-text">USB Power<span>5V 1A o 5V 2A / Max 5V 500mA</span></span>
                    <span class="atail-multitext-text">Costruzione<span>Alluminio satinato / Silver o Space Gray</span></span>
                    <span class="atail-multitext-text">Telaio<span>115 x 43.5 x 11 mm / 220 grammi</span></span>
                    <span class="atail-multitext-text">Compatibilità<span>Apple MacBook Air e Pro / Apple iPad Pro / Windows, Linux e Android con USB-C 3.1 Gen2</span></span>
               </div>
 </section>

<!-- FINE SCHEDA TECNICA -->

<!-- SCHEDA IMG -->

<div class="col-md-4 col-md-push-2 no-padding-right">
                <figure class="no-margin">
                    <a
                        href="https://res.cloudinary.com/rim2/image/upload/q_75,w_1000/v1564643552/Kindle-Oasis-3/kindle-oasis-3-2019.jpg"
                        data-lightbox="scheda"
                        data-alt="{{ .Title }}" data-title="Kindle Oasis vecchio a confronto con il nuovo." title="Scheda tecnica {{ .Title }}">
                        <img
                            data-src="https://res.cloudinary.com/rim2/image/upload/w_auto,c_scale,q_75,f_auto/v1564643552/Kindle-Oasis-3/kindle-oasis-3-2019.jpg"
                            alt="Scheda tecnica {{ .Title }}"
                            class="cld-responsive lazyload">
                    </a>
                    <figcaption>
                        <span class="description-title" style="padding-left:0">
                            <span>FIG. 1.</span> Clicca per ingrandire.
                        </span>
                        <p>
                            La colorazione oro è più elegante, ma nasconde meno la sporcizia.
                        </p>
                    </figcaption>
                </figure>

                <!-- FINE SCHEDA IMG -->
</div>
</div>
<section class="single-project row-col-12">
    <div class="col-md-8 col-md-push-2 no-padding-left">
        <h2>La buona novella</h2>
        <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Si potrebbe anche dire che l’investimento su Oasis era stato fatto nel 2016 e che adesso si può vivere di rendita, ma sarebbe solo una versione comoda della realtà. <mark>Oasis 2 è il mio ebook reader</mark> perché è il più veloce e perché è il più resistente: mi è caduto in ogni occasione, ha preso gli schizzi del mare tra gli scogli, ha sopportato, non senza farmelo notare, un viaggio in stiva nella tasca frontale del trolley, e non mi ha mai dato noie software. Gli ebook reader Kobo hanno altri vantaggi (dimensioni del display, supporto ai formati) ma sono più lenti e più bizzosi: non sono piacevoli quanto un Oasis. Non esistono ebook reader più piacevoli di un Oasis.
        </p>
    <p>    
            Questo è il lettore di chi è certo di leggere su Kindle, di chi è contento così e vuole restare così, di chi non ha pochi interessi per i fumetti e per i PDF, e di chi si vuol togliere lo sfizio dopo anni con gli occhi su pannelli E-Ink meno pregiati e con mani su pezzi di plastica opaca. In fin dei conti parliamo di 250 euro, un terzo di quel che la massa spende per uno smartphone da aggiornare dopo 12 mesi. <a href="https://amzn.to/311XQUv" rel="nofollow" target="_blank" title="Vedi prezzo Kindle Oasis su Amazon">Kindle Oasis costa 250 o 280 euro</a> a seconda della memoria; la più pompata, con 4G integrato per sincronizzare sempre tutto, ovunque e senza SIM, e per accedere a Kindle Store - ma non al browser web integrato, costa 340 euro.
            </p>
<!-- TABELLA -->
<div class="row-col-6">
    <div class="col-md-6" style="margin-top: 60px">

<table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>PX</th>
                    <th>MM</th>
                    <th>GR</th>
                </tr>
            </thead>
            <tbody>
		<tr>
			<td>Kindle Oasis 2019</td>
			<td>7</td>
			<td>1680 x 1264</td>
			<td>159 x 141 x 8.4</td>
			<td>188</td>
		</tr>
		<tr>
			<td>Kobo Forma</td>
			<td>8</td>
			<td>1920 x 1440</td>
			<td>160 x 178 x 8.5</td>
			<td>197</td>
		</tr>
        <tr>
			<td>Tolino Epos</td>
			<td>7.8</td>
			<td>1872 x 1404</td>
			<td>209 x 140 x 8.2</td>
			<td>260</td>
		</tr>
		<tr>
			<td>Kobo Aura One</td>
			<td>7.8</td>
			<td>1872 x 1404</td>
			<td>195 x 138.5 x 6.9</td>
			<td>230</td>
        </tr>
        <tr>
			<td>Kobo Aura H2O 2</td>
			<td>6.8</td>
			<td>1430 x 1080</td>
			<td>172 x 129 x 8.8</td>
			<td>207</td>
		</tr>
		<tr>
			<td>Kindle Paperwhite</td>
			<td>6</td>
			<td>1448 x 1072</td>
			<td>167 x 116 x 8.2</td>
			<td>182</td>
		</tr>
            </tbody>
        </table>
        <div class="description-table">
            <span class="description-title">
                <span>TAB. 1.</span>
                Confronto tra ebook reader di medio formato.
            </span>
        </div>

</div>
</div>
<!-- FINE TABELLA -->
        <p>            
            Però no. Uscire a metà 2019 con una caratteristica che <strong>la concorrenza usa da tre anni</strong> (la regolazione della temperatura del colore è stata inserita su Kobo Aura One ad agosto 2016), e farla passare per una novità quindi approfittarne per rinfrescare il listino - mi dà fastidio. Andrebbe scartato solo per questo motivo. Amazon avrà fatto i suoi conti; Oasis 3 a 249 euro serve anche a rendere Kindle Paperwhite economico e imperdibile. “Guardate quante cose belle fa questo ebook reader. E ora guardate questo che è pressappoco simile ma costa un terzo. Iniziate con l’economico, poi si vedrà.”.
            <br><br>
        </p>
    </div>
    <!-- IMG GRANDE -->
    <figure>
        <a href="https://res.cloudinary.com/rim2/image/upload/q_75,w_1000/v1564586777/Kindle-Oasis-3/kindle-oasis-3-2019-carta-libro.jpg"
            data-lightbox="grafico" data-alt="Kindle Oasis 3 a confronto con un libro"
            data-title="Kindle Oasis 3 vs Lezioni di letteratura di Nabokov.">
            <img data-src="https://res.cloudinary.com/rim2/image/upload/w_auto,c_scale,q_75,f_auto/v1564586777/Kindle-Oasis-3/kindle-oasis-3-2019-carta-libro.jpg"
                alt="Kindle Oasis 3 a confronto con un libro"
                class="lazyload cld-responsive"></a>
        <figcaption>
            <span class="description-title">
                <span>FIG. 2.</span> Kindle Oasis 3 vs Lezioni di letteratura di Nabokov.</span>
        </figcaption>
    </figure>
    <!-- FINE IMG GRANDE -->

    <div class="col-md-8 col-md-push-2 no-padding-left">
        <p>
            Ad essere cattivi, si può scrivere che Kindle Oasis 3 prende in giro chi ha comprato l’edizione 2017. Ci era stata data una prospettiva elitaria mentre adesso ci sentiamo in mezzo ad una messa in scena. E scrivo queste righe di amarezza mentre guardo la nuova temperatura del colore pressoché identica a certa carta ingiallita, senza dover pensare alla sua regolazione perché posso <strong>programmarla per il tramonto</strong> come faccio con lo smartphone mentre mi godo ancora una volta la rifrazione della luce più omogenea sul mercato. Qui è impossibile vedere l’origine dei LED.
        </p>
        <p>Su Kindle Oasis 3 l’interfaccia è veloce quasi quanto un tablet di qualche anno fa. Un tempo era un di più, ma adesso mi fa piacere girare su Kindle Store o scrivere note senza aspettare i comodi del lettore. Tutte le funzioni di sempre, qui, sono migliori: l’ingrandimento con le dita, il sottolineare, l’organizzare i contenuti, anche il navigare sulle pagine web. E poi il WordWise, il <strong>traduttore per frasi</strong> e non solo parola per parola, il controllo genitori, la velocità della rotazione quando si cambia mano. Non ho nulla di nuovo da dire sull'autonomia o sulla velocità di cambio pagina; dovrebbe essere uno dei miglioramenti di questa edizione, ma io non vedo differenze. Al contrario mi sembra che il sensore di luminosità del nuovo sia più reattivo.
        </p>
    </div>
</section>
<!-- GALLERIA TRIS -->

<div class="row tris">

    <div class="col-md-4 col-sm-6">
        <div>
            <figure>
                <a
                    href="https://res.cloudinary.com/rim2/image/upload/q_75,w_1000/v1564643553/Kindle-Oasis-3/kindle-oasis-3-2019-microusb.jpg"
                    data-lightbox="scheda"
                    data-alt="{{ .Title }}" data-title="{{ .Title }}:
                    porta microUSB.">
                    <img
                        data-src="https://res.cloudinary.com/rim2/image/upload/w_auto,c_scale,q_75,f_auto/v1564643553/Kindle-Oasis-3/kindle-oasis-3-2019-microusb.jpg"
                        alt="{{ .Title }}: porta microUSB"
                        class="lazyload cld-responsive">
                </a>
                <figcaption>
                    <span class="description-title"
                        style="padding-left:0">
                        <span>FIG. 4.</span> Porta microUSB e LED.
                    </span>
                </figcaption>
            </figure>
        </div>
    </div>

        
        <div class="col-md-4 col-sm-6">
                        <div>
                            <figure>
                                <a
                                    href="https://res.cloudinary.com/rim2/image/upload/q_75,w_1000/v1564643554/Kindle-Oasis-3/kindle-oasis-3-2019-voltapagina.jpg"
                                    data-lightbox="scheda"
                                    data-alt="{{ .Title }}" data-title="{{ .Title }}: tasti VoltaPagina.">
                                    <img
                                        data-src="https://res.cloudinary.com/rim2/image/upload/w_auto,c_scale,q_75,f_auto/v1564643554/Kindle-Oasis-3/kindle-oasis-3-2019-voltapagina.jpg"
                                        alt="{{ .Title }}: tasti VoltaPagina" class="lazyload
                                        cld-responsive">
                                </a>
                                <figcaption>
                                    <span class="description-title"
                                        style="padding-left:0">
                                        <span>FIG. 3.</span> Pulsanti VoltaPagina.
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div>
                            <figure>
                                <a
                                    href="https://res.cloudinary.com/rim2/image/upload/q_75,w_1000/v1564643553/Kindle-Oasis-3/kindle-oasis-3-2019-pulsanti.jpg"
                                    data-lightbox="scheda"
                                    data-alt="{{ .Title }}" data-title="{{ .Title }}: tasto di accensione.">
                                    <img
                                        data-src="https://res.cloudinary.com/rim2/image/upload/w_auto,c_scale,q_75,f_auto/v1564643553/Kindle-Oasis-3/kindle-oasis-3-2019-pulsanti.jpg"
                                        alt="{{ .Title }}: tasto di accensione"
                                        class="lazyload cld-responsive">
                                </a>
                                <figcaption>
                                    <span class="description-title"
                                        style="padding-left:0">
                                        <span>FIG. 2.</span> Tasto di accensione.
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    </div>                            
        </div>
        
        <!-- FINE TRIS -->


<section class="single-project row-col-12">
            <div class="col-md-8 col-md-push-2 no-padding-left">
                <h2>Conclusioni</h2>
                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> 
                        Questo è davvero l’ebook reader migliore sul mercato. Ma è arrivato il momento di impuntarsi e rifiutare la Wi-Fi n a 2.4 GHz, la microUSB (!), il Bluetooth spento perché <strong>manca l’integrazione con Audible</strong> in Italia. Io sono un cliente Audible e vorrei usare l’ebook reader per ascoltare e memorizzare gli audio come fa un qualsiasi americano. Due anni fa avevamo comunque un tornaconto. Oggi ci siamo abituati. E pretendiamo qualcosa di nuovo. È chiaro, e lo dico per non essere frainteso, che Oasis 2019 è consigliato a chi non ha il modello precedente e vuole fare un salto di qualità.
                    </p><p>        
                        L'illuminazione gialla fa la differenza? Certo che sì! Una volta <strike>provata</strike> guardata è evidente il suo <strong>vantaggio rispetto all'azzurrino</strong> freddo dall'altra (che fino a qualche istante prima ci sembrava calda e giallina, mentre ora è di uno stancante che mai). Chi legge tantissimo a letto, la sera al buio, dovrebbe usare un eReader con questa tonalità di colore per riposare meglio.

                        Non conosco le mosse di Kobo ma in questo momento, all'ultimo giorno di luglio, non c’è di meglio sul mercato. Tutti gli altri possono restare così e scartarlo, quasi per principio. Si legge anche altrove e, per fortuna, le parole restano quelle.
                </p>
            </div>

            <div class="col-md-8 col-md-push-2 no-padding-left"> 
                    <aside class="yt-iscriviti">
                        <span class="atail-multitext-text">ACQUISTA SU AMAZON E SUPPORTAMI</span>
                        <a href="https://amzn.to/2Vo4lm3" rel="nofollow" target="_blank" title="Aiutami a migliorare il podcast e il sito">
                            <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1562766484/amazon.png" alt="Supporta Riccardo.im" class="cld-responsive lazyload" />
                        </a>
                    </aside>

            </div>

</section>

        <!-- DISQUS -->

        <div class="single-project row-col-12 atail-post-comments-wrapper"
            style="margin-bottom: 0; border-right:0">
            <div class="col-md-2"></div>
            <aside class="col-md-8 no-padding-left">
                {{ partial "disqus-comments.html" . }}
            </aside>
        </div>

        <!-- FINE DISQUS -->
        <!-- FINE PAGINA -->
</article>
        <!-- main-scroll -->
</main> <!-- main -->
{{ partial "aside.html" . }}
</div> <!-- atail -->

<script src='{{.Site.BaseURL}}js/cloudinary-core-shrinkwrap.js'></script>
<script src="{{.Site.BaseURL}}js/lazysizes.min.js" async ></script>
<script>
const cl = cloudinary.Cloudinary.new({ cloud_name: 'rim2' })
cl.responsive()
</script>
<script src='{{.Site.BaseURL}}js/lightbox.js' async ></script>
{{ partial "footer-review.html" . }}
