{{ partial "header.html" . }}
<link rel='stylesheet' href='{{.Site.BaseURL}}css/lightbox.css' type='text/css'
    media='all'/>
<main>
    <div class="main-scroll">
        <div class="row" style="margin-bottom: 0">
            <div class="col-md-1"></div>
            <div class="col-md-8 no-padding-left col-sm-8">
                <div class="promo-box recensioni">
                    <div class="small-title">
                        <!-- SHARE -->
                        <div class="jssocials-shares post-content-header">
                            <div class="jssocials-share">
                                <a target="_blank"
                                    href="https://facebook.com/sharer/sharer.php?u={{.Permalink}}"
                                    rel="noopener" class="jssocials-share-link"
                                    title="Condividi su Facebook">
                                    <img src="https://res.cloudinary.com/riccardoim/image/upload/f_auto/v1560760258/social.png"
                                        class="jssocials-share-facebook" width="13" height="80.59" async
                                        alt="Condividi su Facebook">
                                </a>
                            </div>

                            <div class="jssocials-share">
                                <a target="_blank"
                                    href="https://twitter.com/share?url={{.Permalink}}&amp;text=Recensione%20{{.Title}}%20di%20%40riccardopalombo"
                                    rel="noopener" class="jssocials-share-link"
                                    title="Condividi su Twitter">
                                    <img src="https://res.cloudinary.com/riccardoim/image/upload/f_auto/v1560760258/social.png"
                                        class="jssocials-share-twitter" width="13" height="80.59" async
                                        alt="Condividi su Twitter">
                                </a>
                            </div>

                            <div class="jssocials-share">
                                <a target="_blank"
                                    href="https://reddit.com/submit?url={{.Permalink}}&amp;title=Recensione%20{{.Title}}"
                                    rel="noopener" class="jssocials-share-link"
                                    title="Condividi su Reddit">
                                    <img src="https://res.cloudinary.com/riccardoim/image/upload/f_auto/v1560760258/social.png"
                                        class="jssocials-share-reddit" width="13" height="80.59" async
                                        alt="Condividi su Reddit">
                                </a>
                            </div>
                        </div>
                        <!-- FINE SHARE -->

                    </div>
                    <h1>{{.Title}}</h1>
                    <p>{{.Params.sommario}}
                        <span id="typed"></span>
                    </p>
                </div>
            </div>
            <div class="col-md-2 no-padding-right col-sm-4">
                <div class="atail-multitext inizio">
                    <span class="atail-multitext-title">RECENSIONE</span>
                    <span class="atail-multitext-text">Online da<span>
                            {{ .Date.Day }} {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }} {{ .Date.Year }}
                        </span></span>
                    <span class="atail-multitext-text">Discussione
                    <span><a href="#disqus_thread" title="Leggi i commenti"></a></span>
                    </span>
                    <span class="atail-multitext-text">Tempo di lettura <span>Circa
                            19-26 minuti</span></span>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>

        <!-- VIDEO FULL -->

        <div class="videoWrapper embed-responsive embed-responsive-4by3"
            data-yt-url="{{.Params.video}}">

        <img data-src="https://res.cloudinary.com/riccardoim/image/upload/w_auto,c_scale,q_75,f_auto/v1560417069/recensioni/Dell-XPS-13-9380/dell-xps-13-9380-video-recensione.jpg"
                            alt="Video Recensione {{ .Title }}" class="cld-responsive lazyload play-youtube-video">
        </div>

        <!-- FINE VIDEO -->

        {{.Content}}


        <!-- DISQUS -->

        <div class="single-project row-col-12 atail-post-comments-wrapper"
            style="margin-bottom: 0; border-right:0">
            <div class="col-md-2"></div>
            <div class="col-md-8 no-padding-left">
                {{ partial "disqus-comments.html" . }}
            </div>
        </div>

        <!-- FINE DISQUS -->

        <!-- FINE PAGINA
------
------
--- -->

    </div>
    <!-- main-scroll -->
</main> <!-- main -->
{{ partial "aside.html" . }}
</div> <!-- atail -->

<script src='{{.Site.BaseURL}}js/cloudinary-core-shrinkwrap.js'></script>
<script src="{{.Site.BaseURL}}js/lazysizes.min.js" async ></script>
<script src="{{.Site.BaseURL}}js/typed.min.js"></script>
<script>
    var typed = new Typed('#typed',{
         strings:["{{.Params.typed1}}", "{{.Params.typed2}}", "{{.Params.typed3}}", "{{.Params.typed4}}"],
         backSpeed: 40,
        typeSpeed: 60,
         loop: false
        });
</script>
<script>
const cl = cloudinary.Cloudinary.new({ cloud_name: 'riccardoim' })
cl.responsive()
</script>
<script src='{{.Site.BaseURL}}js/lightbox.js' async ></script>
<script id="dsq-count-scr" src="//riccardo-im.disqus.com/count.js" async ></script>
<script async src="https://apis.google.com/js/platform.js"></script>
{{ partial "footer-review.html" . }}