{{ partial "header.html" . }}
<link rel='stylesheet' href='{{.Site.BaseURL}}css/lightbox.css' type='text/css'
    media='all'/>
<main>
    <article class="main-scroll">
        <div class="row" style="margin-bottom: 0">
            <div class="col-md-1"></div>
            <div class="col-md-8 no-padding-left col-sm-8">
                <div class="promo-box recensioni">
                    <div class="small-title">
                        <!-- SHARE -->
                        <div class="jssocials-shares post-content-header">
                            <div class="jssocials-share">
                                <a target="_blank"
                                    href="https://facebook.com/sharer/sharer.php?u={{.Permalink}}"
                                    rel="noopener" class="jssocials-share-link"
                                    title="Condividi su Facebook">
                                    <img src="https://res.cloudinary.com/rim/image/upload/f_auto/v1562766483/social.png"
                                        class="jssocials-share-facebook" width="13" height="81"
                                        alt="Condividi su Facebook">
                                </a>
                            </div>

                            <div class="jssocials-share">
                                <a target="_blank"
                                    href="https://twitter.com/share?url={{.Permalink}}&amp;text=Recensione%20{{.Title}}%20di%20%40riccardopalombo"
                                    rel="noopener" class="jssocials-share-link"
                                    title="Condividi su Twitter">
                                    <img src="https://res.cloudinary.com/rim/image/upload/f_auto/v1562766483/social.png"
                                        class="jssocials-share-twitter" width="13" height="81"
                                        alt="Condividi su Twitter">
                                </a>
                            </div>

                            <div class="jssocials-share">
                                <a target="_blank"
                                    href="https://reddit.com/submit?url={{.Permalink}}&amp;title=Recensione%20{{.Title}}"
                                    rel="noopener" class="jssocials-share-link"
                                    title="Condividi su Reddit">
                                    <img src="https://res.cloudinary.com/rim/image/upload/f_auto/v1562766483/social.png"
                                        class="jssocials-share-reddit" width="13" height="81"
                                        alt="Condividi su Reddit">
                                </a>
                            </div>
                        </div>
                        <!-- FINE SHARE -->

                    </div>
                    <h1>Surface Laptop 3</h1>
                    <p>{{.Params.sommario}}
                        <span id="typed"></span>
                    </p>
                </div>
            </div>
            <div class="col-md-2 no-padding-right col-sm-4">
                <div class="atail-multitext inizio">
                    <span class="atail-multitext-title">RECENSIONE</span>
                    <span class="atail-multitext-text">Online da<span>
                            {{ .Date.Day }} {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }} {{ .Date.Year }}
                        </span></span>
                    <span class="atail-multitext-text">Discussione
                    <span><a href="#disqus_thread" title="Leggi i commenti">Leggi i commenti</a></span>
                    </span>
                    <span class="atail-multitext-text">Tempo di lettura <span>Circa
                            17-23 minuti</span></span>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>

        <!-- VIDEO FULL -->

        <div class="videoWrapper embed-responsive embed-responsive-4by3"
            data-yt-url="{{.Params.video}}">
            
        <img data-src="https://res.cloudinary.com/rim6/image/upload/w_auto,c_scale,q_75,f_auto/v1574182651/surface-laptop-3/surface-laptop-3-recensione-video.jpg"
                            alt="Video Recensione {{ .Title }}" class="cld-responsive lazyload play-youtube-video">
        </div>

       <!-- FINE VIDEO -->

        <!-- SCHEDA TECNICA -->
<div class="single-project row-col-12">
            <div class="col-md-2"></div>

<div class="col-md-8 no-padding-left" style="margin-bottom:80px">
                <aside class="yt-iscriviti">
                    <span class="atail-multitext-text">ISCRIVITI AL NUOVO CANALE YOUTUBE</span>
                    <div class="g-ytsubscribe" data-channelid="UCIdYIrInVnUwHVbogLj6bqA" data-layout="full" data-count="default"></div>
                </aside>
                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Me ne sto in piedi con il portatile sotto mano per cercare di capire se lo schermo touchscreen e il supporto penna di Surface Laptop 3 sono un errore di design o no. Ho tirato fuori i libri di Munari e <a
                    href="https://amzn.to/343mE0w" rel="nofollow" title="La caffettiera del masochista, su Amazon" target="_blank">l'unico che ho</a> di Donald Norman, ma non riesco a trovare quella definizione esatta che son sicuro di aver letto da qualche parte e che ora non mi viene. Cos'è il design?</p>
                <p>Posso scrivere senza sembrare un incompentente che aver installato uno schermo touchscreen, quindi con vetro riflettente, e perdipiù con digitalizzatore attivo per il supporto alla scrittura con penna e alla Microsoft Dial, è una cavolata? È un difetto e un errore? Perché se da una parte è vero che spostare le finestre e le pagine con il dito può far comodo, dall'altra si creano tanti di quegli svantaggi che non serve nemmeno approfondire. O forse sì: i riflessi, tanto per dire, più noiosi e più presenti di altri portatili simili (come il <a
                    href="/recensioni/apple-macbook-pro-13-2019/" title="Recensione MacBook Pro 13 2019">MacBook Pro</a> che ho accanto); il costo dei materiali, perché l'impatto sul listino di un digitalizzatore evoluto come quello che richiede la certificazione <abbr title="Microsoft Pen Protocol">MPP</abbr> non è di poco conto.
                </p>
                <p>
                Non esagero. E preciso che: 1) la cerniera del notebook non va oltre un'apertura standard, e quindi è difficile capire come si potrebbe usare una penna per più di cinque secondi; 2) non c'è una GPU dedicata il che mi lascia dei dubbi sull'uso di programmi grafici degni della rotellina Dial. Quindi su un macchina che racchiude le migliori intenzioni di progettazione, e che punta a considerare il design industriale, il design dell'interazione, e il design dell'esperienza utente, <mark>quello schermo touchscreen è un errore</mark>. Che diventa un difetto direttamente proporzionale al numero di volte che mi trovo a dover lavorare vicino al finestrino di un treno, o con una luce neon sopra la testa, o con una grossa finestra sopra la testa, o al parco.
                Ma comunque c'è molto molto altro da dire su Surface Laptop 3, e sollevate il vostro umore perché sono tutte notizie positive! O quasi.
                </p>
            </div>

            <section class="col-md-4 col-md-push-2 no-padding-left">
                <div class="atail-multitext">
                    <h2 class="atail-multitext-title">SCHEDA TECNICA</h2>
                    <span class="atail-multitext-text">Schermo<span>13.5 pollici
                        2256 x 1504 px / 3:2 201 PPI / Touch MPP / Surface Pen e Dial</span></span>
                    <span class="atail-multitext-text">Processore<span>Intel
                            Core i5-1035G7 Quad Core a 1.2 @ 3.7 GHz</span></span>
                    <span class="atail-multitext-text">Scheda grafica<span>Intel Gen 11 / 
                            Iris Plus 940 @ 300 - 1050 MHz / 64 EU</span></span>
                    <span class="atail-multitext-text">Memorie<span>8-16 GB LPDDR4x (saldata) /
                            SSD NVMe 128-1000 GB (SK Hynix o Toshiba BG4)</span></span>
                    <span class="atail-multitext-text">Rete<span>Wi-Fi 6 802.11ax +
                            Bluetooth 5 (Intel AX201)</span></span>
                    <span class="atail-multitext-text">Porte<span>USB-A 3.0 / USB-C 3.1 Gen2 (Power Delivery) / Surface Connect / Jack 3.5 mm</span></span>
                    <span class="atail-multitext-text">Batteria<span>45.8 Wh / PSU 65 watt (Surface Connect) / Fast Charging</span></span>
                    <span class="atail-multitext-text">Telaio<span>308 x 224 x 14.5 mm / 1266 grammi / Lega di magnesio</span></span>
                    <span class="atail-multitext-text">Altro<span>Webcam 720p IR / Windows 10 Home con BitLocker / TPM</span></span>
                </div>
 </section>

<!-- FINE SCHEDA TECNICA -->

<!-- SCHEDA IMG -->

<div class="col-md-4 col-md-push-2 no-padding-right">
                <figure class="no-margin">
                    <a
                        href="https://res.cloudinary.com/rim6/image/upload/q_75,w_1000/v1574271365/surface-laptop-3/surface-laptop-3-vista-frontale.jpg"
                        data-lightbox="scheda"
                        data-alt="{{ .Title }}" data-title="{{ .Title }}:
                        vista frontale." title="Scheda tecnica {{ .Title }}">
                        <img
                            data-src="https://res.cloudinary.com/rim6/image/upload/w_auto,c_scale,q_75,f_auto//v1574271365/surface-laptop-3/surface-laptop-3-vista-frontale.jpg"
                            alt="Scheda tecnica {{ .Title }}"
                            class="cld-responsive lazyload">
                    </a>
                    <figcaption>
                        <span class="description-title" style="padding-left:0">
                            <span>FIG. 1.</span> Clicca per ingrandire.
                        </span>
                        <p>
                            Il touchpad è più grande rispetto all'anno scorso. L'illuminazione è su tre livelli. L'audio esce dai tasti. E la tastiera è meravigliosa, non c'è altro da aggiungere.
                        </p>
                    </figcaption>
                </figure>

                <!-- FINE SCHEDA IMG -->
</div>
</div>

<section class="single-project row-col-12">
            <div class="col-md-8 col-md-push-2 no-padding-left">
                <h2>Ergonomia</h2>
                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> 
                    Do per scontato che conosciate le differenze tecniche tra questa edizione 2019 e la vecchia, la 2018. Altrimenti si fa presto a rimediare; leggete la scheda tecnica sopra e fate caso a tre cose: la <strong>Wi-Fi 6 (ax)</strong>, la scheda grafica Gen 11 con 64 EU, la <strong>USB-C 3.1</strong>. Ora cliccate l'immagine a fianco e guardate bene le dimensioni del touchpad: è parecchio più grosso di prima. Con un buon occhio, e da un display calibrato, riuscite a notare anche la colorazione più scura dell'Alcantara (quest'anno ci sono pure i modelli in alluminio, senza tessuto, ma queste informazioni si trovano ovunque e io voglio concentrarmi su quel che non è ancora stato detto) ma io preferivo la vecchia e credo che questa sia stata scelta perché si sporca meno.
                </p>
                <p>
                        Anche se le forme di Surface Laptop 3 sono quelle di sempre, quest'anno mi sembra di mettere le mani su un prodotto molto più maturo. È normale, perché significa che il nostro occhio e il nostro gusto si sono abituati alle sue linee e danno per scontato, adesso, percepire quell'effetto soffice e unico dei polsi sull'Alcantara.
                </p>
            </div>
</section>

<!-- GALLERIA TRIS -->

<div class="row tris">

<div class="col-md-4 col-sm-6">
                <div>
                    <figure>
                        <a
                            href="https://res.cloudinary.com/rim6/image/upload/q_75,w_1000/v1574272458/surface-laptop-3/surface-laptop-3-porta-usb-c.jpg"
                            data-lightbox="scheda"
                            data-alt="{{ .Title }}" data-title="{{ .Title }}: porte lato sinistro.">
                            <img
                                data-src="https://res.cloudinary.com/rim6/image/upload/w_auto,c_scale,q_75,f_auto/v1574272458/surface-laptop-3/surface-laptop-3-porta-usb-c.jpg"
                                alt="{{ .Title }} porte lato sinistro."
                                class="lazyload cld-responsive">
                        </a>
                        <figcaption>
                            <span class="description-title"
                                style="padding-left:0">
                                <span>FIG. 2.</span> Porte USB-C e USB-A.
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </div>

<div class="col-md-4 col-sm-6">
                <div>
                    <figure>
                        <a
                            href="https://res.cloudinary.com/rim6/image/upload/q_75,w_1000/v1574272449/surface-laptop-3/surface-laptop-3-telaio-magnesio.jpg"
                            data-lightbox="scheda"
                            data-alt="{{ .Title }}" data-title="{{ .Title }}: webcam e ThinkShutter.">
                            <img
                                data-src="https://res.cloudinary.com/rim6/image/upload/w_auto,c_scale,q_75,f_auto/v1574272449/surface-laptop-3/surface-laptop-3-telaio-magnesio.jpg"
                                alt="{{ .Title }}: webcam e ThinkShutter" class="lazyload
                                cld-responsive">
                        </a>
                        <figcaption>
                            <span class="description-title"
                                style="padding-left:0">
                                <span>FIG. 3.</span> Cerniera e griglia posteriore.
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </div>

<div class="col-md-4 col-sm-6">
                <div>
                    <figure>
                        <a
                            href="https://res.cloudinary.com/rim6/image/upload/q_75,w_1000/v1574272448/surface-laptop-3/surface-laptop-3-porta-connect.jpg"
                            data-lightbox="scheda"
                            data-alt="{{ .Title }}" data-title="{{ .Title }}:
                            porte lato destro.">
                            <img
                                data-src="https://res.cloudinary.com/rim6/image/upload/w_auto,c_scale,q_75,f_auto/v1574272448/surface-laptop-3/surface-laptop-3-porta-connect.jpg"
                                alt="{{ .Title }}: porte USB-A 3.1 e cerniera."
                                class="lazyload cld-responsive">
                        </a>
                        <figcaption>
                            <span class="description-title"
                                style="padding-left:0">
                                <span>FIG. 4.</span> La porta Surface Connect.
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </div>

</div>

<!-- FINE TRIS -->

<div class="single-project row-col-12">
            <div class="col-md-8 col-md-push-2 no-padding-left">
                <p>
                        C'entra anche quell'equilibrio di cui parlo da anni nelle recensioni ai portatili: è il rapporto tra l'altezza dello schermo rispetto alla tastiera, la posizione dei tasti e il punto di appoggio dei polsi a rendere ergonomica o meno la dotazione di input. <strong>Surface Laptop è sempre stato un esempio in questo</strong>: la finitura, il suono smorzato della tastiera, lo schermo 3:2 che io continuo a preferire in tutto e per tutto ai formati allungati (che poi, un tempo potevano avere senso i 16:9, ma adesso chi utilizza i portatili lo fa per produrre, non per guardare. È un ragionamento che non si applica a tutto tutto ma la tendenza è questa).               
                </p>
                <p>
                        Questa generazione ha una novità progettuale che dà e toglie: <strong>tutta la parte tastiera si smonta</strong> per scoprire gli interni (bellissimi) e lo fa con un sistema magnetico parecchio apprezzabile. È bello quando un oggetto del genere riesce a sorprenderti! La buona notizia è che si può fare un po' di manutenzione alla ventola interna e cambiare la <strong>SSD NVMe BG4</strong> (un formato più compatto del solito). La cattiva notizia è che questa installazione ha reso appena meno rigida la parte centrale della tastiera. Che resta adorabile per scrivere a lungo, ma perde certezza proprio dove le FGHJK, ovvero dove sotto non ha un aggancio, una presa. È una lieve sospensione che ho notato subito, e che non ricordo nel modello 2018.
                <br><br></p>
            </div>
            <!-- TEARDOWN -->
            <figure>
                    <a
                        href="https://res.cloudinary.com/rim6/image/upload/q_75,w_1000/v1574270954/surface-laptop-3/surface-laptop-3-smontato.jpg"
                        data-lightbox="scheda" data-alt="{{ .Title }} smontato"
                        data-title="Gli interni di Surface Laptop 3. Solo la SSD si può sostituire.">
                        <img
                            data-src="https://res.cloudinary.com/rim6/image/upload/w_auto,c_scale,q_75,f_auto/v1574270954/surface-laptop-3/surface-laptop-3-smontato.jpg"
                            alt="{{.Title }} smontato" class="lazyload cld-responsive"></a>
                    <figcaption>
                        <span class="description-title">
                            <span>FIG. 5.</span> Gli interni di Surface Laptop 3.
                            La SSD si può sostituire. Smontarlo è semplice, ma alcuni incastri sono delicati.</span>
                    </figcaption>
                </figure>
    </section>
            <!-- FINE TEARDONW -->
            <div class="col-md-8 col-md-push-2 no-padding-left">

<p>
        Intendiamoci: Surface Laptop 3 è una meraviglia per scrivere e per lavorare a lungo senza mouse. Il touchpad è grosso, le gesture sono precise, la tastiera è retroilluminata bene, c'è l'Alcantara, eccetera eccetera. E poi le temperature a contatto non vanno mai sopra i 40 °C, il portatile <strong>gira con se fosse fanless nel 90% dei casi</strong>, lo schermo è calibrato, il sensore IR sblocca Windows in meno di un secondo, il sistema Instant On lo fa sembrare sempre acceso, come se fosse un Chromebook, un MacBook o... uno smartphone. Ho parlato di tutte queste cose nella video recensione, e credo sia arrivato il momento di fermarsi e vederla se non l'avete già fatto. Ma la tastiera ha un millimetro di gioco e questo è un dato di fatto. Quando torno a scrivere sul MacBook Pro 13 mi sembra di schiacciare il marmo - e questo è un altro dato di fatto.
</p>
        </div>
    </div>
    <section class="single-project row-col-12">
            <div class="col-md-8 col-md-push-2 no-padding-left">
                <h2>Prestazioni</h2>

                <p>
                    <s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Parliamo di prestazioni? L'aggiornamento delle piattaforma Intel ha migliorato il processore e la scheda grafica. Questa Iris Plus, in particolare, ha un 50% di potenza in più secondo i dati di Intel, ma, come dimostrano i grafici sotto, ha una resa sacrificata da una <strong>impostazione energetica conservativa</strong> che cerca di vincolare le temperature e, quindi, limita la capacità di girare alla massima frequenza.
                </p>
                <p>
                    Il Core i5-1035G7 è un Ice Lake-U Quad Core da 15 watt (TDP) con frequenza di 3.7 GHz (singolo core), 3.6 GHz (due core) e 3.3 GHz (quattro core). È costruito a 10 nm. Surface Laptop 3 lo spinge <strong>fino ai 39 watt</strong> ma cerca di restare appena sopra i 15 watt e di raggiungere una temperatura regolare di 70°C. Siamo circa 20°C sotto un MacBook Pro o un <a
                    href="/recensioni/dell-xps-13-9380/" title="Recensione Dell XPS 13 9380">Dell XPS 13 9380</a>, per dire, che dalla loro hanno un sistema di smaltimento del calore a due ventole, molto più grosso. Per mettere sotto torchio l'hardware ho fatto girare per 30 volte di fila sia Cinebench R15 CPU Multi sia lo stress test di 3DMark Time Spy; poi ho fatto una conversione Handbrake di oltre 30 minuti, e dei rendering H264 con Adobe Premiere Pro CC 2019. Ne sono usciti i grafici di questa sezione ed i risultati dei benchmark del paragrafo più in basso.
                </p>
            </div>
        </section>
<!-- GRAFICI -->
<div class="single-project row-col-12" style="background-color:
#f9f9f9;">

<figure>
    <a
        href="https://res.cloudinary.com/rim6/image/upload/q_75,w_1000/v1573555483/surface-laptop-3/surface-laptop-3-cinebench-benchmark.png"
        data-lightbox="grafico" data-alt="{{.Title }}: analisi prestazioni CineBench R15 CPU Multi" data-title="Analisi prestazioni durante CineBench R15 CPU ripetuto 30 volte.">
        <img
            data-src="https://res.cloudinary.com/rim6/image/upload/w_auto,c_scale,q_75,f_auto/v1573555483/surface-laptop-3/surface-laptop-3-cinebench-benchmark.png"
            alt="{{.Title }}: analisi prestazioni CineBench R15 CPU Multi" class="lazyload"></a>
    <figcaption>
        <span class="description-title">
            <span>FIG. 7.</span> Andamento del punteggio CineBench R15 CPU Multi durante 30 ripetizioni.</span>
    </figcaption>
</figure>

<figure>
    <a
        href="https://res.cloudinary.com/rim6/image/upload/q_75,w_1000/v1573555483/surface-laptop-3/surface-laptop-3-cinebench.png"
        data-lightbox="grafico" data-alt="{{.Title }}: analisi prestazioni CineBench R15 CPU Multi" data-title="Analisi prestazioni CPU, consumi e temperatura durante CineBench R15 CPU ripetuto 30 volte.">
        <img
            data-src="https://res.cloudinary.com/rim6/image/upload/w_auto,c_scale,q_75,f_auto/v1573555483/surface-laptop-3/surface-laptop-3-cinebench.png"
            alt="{{.Title }}: analisi prestazioni CPU, consumi e temperatura CineBench R15 CPU Multi" class="lazyload"></a>
    <figcaption>
        <span class="description-title">
            <span>FIG. 7.</span> Comportamento di CPU, consumi e temperatura con CineBench R15 CPU Multi durante 30 ripetizioni.</span>
    </figcaption>
</figure>

<figure>
    <a
        href="https://res.cloudinary.com/rim6/image/upload/q_75,w_1000/v1573555483/surface-laptop-3/surface-laptop-3-stress-test-cpu.png" data-lightbox="grafico" data-alt="{{.Title }}: analisi prestazioni Handbrake."
        data-title="Comportamento di CPU, consumi e temperatura durante la conversione video Handbrake.">
        <img
            data-src="https://res.cloudinary.com/rim6/image/upload/w_auto,c_scale,q_75,f_auto/v1573555483/surface-laptop-3/surface-laptop-3-stress-test-cpu.png"
            alt="{{.Title }}: analisi prestazioni Handbrake."
            class="cld-responsive lazyload"></a>
    <figcaption>
        <span class="description-title">
            <span>FIG. 6.</span> Comportamento di CPU, consumi e temperatura durante la conversione video Handbrake.</span>
    </figcaption>
</figure>

<figure>
        <a
            href="https://res.cloudinary.com/rim6/image/upload/q_75,w_1000/v1573555483/surface-laptop-3/surface-laptop-3-stress-test-gpu.png"        data-lightbox="grafico" data-alt="{{.Title }}: analisi prestazioni GPU."
            data-title="Comportamento della GPU durante 3DMark Time Spy Stress Test.">
            <img
                data-src="https://res.cloudinary.com/rim6/image/upload/w_auto,c_scale,q_75,f_auto/v1573555483/surface-laptop-3/surface-laptop-3-stress-test-gpu.png"
                alt="{{.Title }}: comportamento dell GPU durante 3DMark Time Spy Stress Test."
                class="cld-responsive lazyload"></a>
        <figcaption>
            <span class="description-title">
                <span>FIG. 8.</span> Comportamento della GPU durante lo 3DMark Time Spy Stress Test (punteggio 95%).</span>
        </figcaption>
    </figure>

<figure>
    <a
        href="https://res.cloudinary.com/rim6/image/upload/q_75,w_1000/v1573665983/surface-laptop-3/surface-laptop-3-consumo-massimo.png"
        data-lightbox="grafico" data-alt="{{.Title }}: consumo massimo su presa."
        data-title="Consumo su presa di {{.Title }}.">
        <img
            data-src="https://res.cloudinary.com/rim6/image/upload/w_auto,c_scale,q_75,f_auto/v1573665983/surface-laptop-3/surface-laptop-3-consumo-massimo.png"
            alt="{{.Title }}: consumo massimo su presa."
            class="cld-responsive lazyload"></a>
    <figcaption>
        <span class="description-title">
            <span>FIG. 10.</span> Consumo su presa durante il carico massimo (stress test e video rendering).</span>
    </figcaption>
</figure>
</div>
<!-- FINE GRAFICI -->
<section class="single-project row-col-12">
<div class="col-md-8 col-md-push-2 no-padding-left">
                <p>Considerando che i test sono stati fatti con alimentatore collegato proprio per cercare lo scenario d'uso più caldo possibile, questi sono valori per niente spinti e sono temperature più basse del solito. <mark>Normale che non si arrivi mai a del throttling termico penalizzante.</mark> Surface Laptop 3 resta sempre reattivo, sempre pronto. Il frusciare della piccola ventola è tutto il disagio che riesce a generare. Il portatile ha senso così: stabile, freddo, adeguato a quel che deve fare. Conforme alle prospettive d'uso. Con una scheda grafica molto migliore rispetto ai modelli con CPU Intel di 8° e 9° generazione, e con le chicche hardware del Wi-Fi 6 e del risveglio immediato dallo standby. 
        </p>
     </div>
</section>

<section class="single-project row-col-12">
        <div class="col-md-5 col-md-push-2 no-padding-left">
            <span class="small-title">PERCHÈ HA SENSO COSÍ</span>
            <p>Un notebook di questa categoria non può essere ottimizzato per portare al limite il suo hardware: non ha una scheda grafica dedicata quindi non è per il montaggio video professionale (ma vogliamo ragionare sul cosa sia professionale di questi tempi? Un video che richiede un montaggio minimo può anche derivare da tanta attenzione alle riprese), <strong>non ha la porta Thunderbolt 3</strong> quindi non può collegarsi alle dock con GPU e porte, e non ha nemmeno la struttura interna, dalle heatpipe allo spazio fisico, per governare tanto calore.
            </p>
        </div>
        <div class="col-md-3 col-md-push-2 no-padding-right">
            <div class="atail-multitext autonomia">
                    <h2 class="atail-multitext-title">Benchmarks</h2>
                    <span class="atail-multitext-text">3DMark Time Spy<span>879</span></span>
                    <span class="atail-multitext-text">PCMark 10 Extended<span>3583</span></span>
                    <span class="atail-multitext-text">Cinebench R15<span>OpenGL
                             46 fps / CPU 712 cb</span></span>
                    <span class="atail-multitext-text">CrystalDisk Mark<span>Seq
                            2000 / 808 MB/sec<br>4K 42 / 115 MB/sec</span></span>
                    <span class="atail-multitext-text">IPerf v2<span>
                        INVIO 494 Mbits/sec<br>RICEZIONE 275 Mbits/sec</span></span>
            </div>
        </div>
</section>


<section class="single-project row-col-12">
<div class="col-md-8 col-md-push-2 no-padding-left">
                <h2>Autonomia</h2>
                <p>
                    <s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Da un altro punto di vista la scelta di una messa a punto tanto sapiente potrebbe essere stata forzata dalla batteria piccola. Una 46 Wh (circa) su una CPU da 15 watt basta ma non avanza. E anche il portatile Microsoft non fa miracoli. Lasciare che il sistema consumi più watt per più tempo avrebbe ridotto ancora l'autonomia creando, a quel punto, un fastidio. Surface Laptop 3 fa circa 7 ore di autonomia con schermo al 50%, luce della tastiera spenta, Wi-Fi collegato in ac e un uso intenso del browser, dei social network. Si sale verso le 8 ore quando si lavora in locale (sviluppo web nel mio caso con VSCode e Hugo su localhost).
                </p>

<!-- TABELLA -->
 <div class="row-col-6">
                    <div class="col-md-6" style="margin-top: 60px">

<table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>SOFTWARE</th>
                                    <th>DURATA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Lavoro online</td>
                                    <td>Firefox 10 schede, Telegram, VSCode,
                                        GitHub Desktop</td>
                                    <td>-16.8% / ora = 6 ore</td>
                                </tr>
                                <tr>
                                    <td>Lavoro offline</td>
                                    <td>VSCode + Hugo, Firefox localhost, Gestore file</td>
                                    <td>-11.5% / ora =  8.7 ore</td>
                                </tr>
                                <tr>
                                    <td>Riproduzione streaming</td>
                                    <td>Amazon Prime Video in Full HD</td>
                                    <td>-14.3% / ora = 7 ore</td>
                                </tr>
                                <tr>
                                    <td>Carico massimo</td>
                                    <td>Stress Test 3DMark Time Spy<br>Luminosità massima</td>
                                    <td>-84.7% / ora = 1.2 ore</td>
                                </tr>
                                <tr>
                                    <td>Standby</td>
                                    <td>Connected Standby attivo</td>
                                    <td>-0.33% / ora = 12.6 giorni</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="description-table">
                            <span class="description-title">
                                <span>TAB. 1.</span>
                                Durata della batteria.
                            </span>
                            <p>
                                Test eseguiti in modalità energetica "ottimizzata". Luminosità e volume al 50%.
                                Illuminazione tastiera disattivata.
                            </p>
                        </div>

</div>
                </div>
                <!-- FINE TABELLA -->
            </div>

<div class="col-md-8 col-md-push-2 no-padding-left">
                <p>Delusi? Non dovete. La piattaforma Intel Whiskey Lake-U di Surface Laptop 3 è stata tarata da Lenovo per girare con un <strong>numero di watt superiore allo standard</strong> (ne parleremo tra un attimo) e questo ha il vantaggio di migliorare le prestazioni rispetto ad una implementazione basilare. Inoltre non ci sono problemi di <em>coil-whine</em> o di consumo (<em>draining</em>) a PC chiuso, e questo di solito dà indizi positivi sul controllo qualità e sulla messa a punto dei driver. Sono sei ore di autonomia in Wi-Fi che possono diventare sette o otto se state un po' attenti con la luminosità o con le impostazioni di risparmio energetico. Al minuto 9:40 della video recensione vi racconto un aneddoto su questo; è arrivato il momento di guardarla - se ancora non l'avete fatto.</p>
                <p>In realtà a guardare gli interni non si poteva fare di più. Dove sarebbe entrata una batteria più grossa? Di sicuro non in un <mark>telaio tanto affollato perché vincolato agli slot per la RAM, per la SSD e per la scheda wireless</mark>. Guardate anche quanto è grande la struttura della cerniere. Io non vedo spazio per una batteria più larga. E io mi accontento volentieri della 44 Wh se mi dà il vantaggio dell'aggiornamento hardware. Divertitevi a spulciare un po' la foto a seguire. Smontare il laptop non è stato semplice perché, a viti T5 esposte, Lenovo ha unito un incastro a pressione e un fondo in metallo opaco facile da rovinare. Prima di aprire un Surface Laptop 3, consiglio di scaricare e guardare il <a
                    href="https://download.lenovo.com/consumer/mobiles_pub/thinkbook_13s-14s_iwl_hmm_201905.pdf" rel="nofollow" title="Lenovo Hardware Maintenance Manual" target="_blank">manuale di manutenzione hardware</a> in PDF. È un documento ufficiale, quindi grazie, Lenovo.
                </p>
</div>
</section>

<section class="single-project row-col-12">

<div class="col-md-8 col-md-push-2 no-padding-left">
                <h2>Appunti</h2>
                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Con le impostazioni termiche appena viste, e con le due ventole, il telaio in metallo non supera i 40 °C nella zona tastiera e il rumore generato non è diverso dal solito. Come sopra, niente stranezze. Però c'è un limite: <strong>la memoria RAM è Single Channel</strong> e questo lo penalizza sia nei benchmark generici (c'è un riquadro poco sopra) sia nel video editing o nei rendering. Ma in realtà dipende anche dal programma: nell'uso di tutti i giorni, se devo scegliere tra Dual Channel saldata o Single Channel su slot, non ho davvero dubbi.
                </p>
                <p>                    
                L'audio analizzato dal grafico rosa è più povero se confrontato con i migliori portatili sul mercato, ma probabilmente il mio giudizio è falsato dalla resa esasperata del <a href="/recensioni/apple-macbook-pro-13-2019/" title="Recensione Apple MacBook Pro 13 2019" target="_blank">MacBook Pro 13 2019</a> che ho appena finito di provare. Lì siamo su un altro livello; qui nella mediocrità: volume sufficiente a coprire una sala riunioni o un film di gruppo, certo, ma anche un po' tutto pastoso.
                </p>
            </div>
</section>

<!-- GALLERIA CINQUE -->

<div class="row tris">

        <figure>
                    <img
                        data-src="https://res.cloudinary.com/rim6/image/upload/w_auto,c_scale,q_75,f_auto/v1573555669/surface-laptop-3/surface-laptop-3-luminosita-schermo.png"
                        alt="{{.Title }}: analisi luminosità dello schermo."
                        class="cld-responsive lazyload">
                <figcaption>
                    <span class="description-title">
                        <span>FIG. 11.</span> Uniformità dello schermo. Il pannello è lucido per via del vetro di protezione.</span>
                </figcaption>
            </figure>

            <div class="col-md-2 col-sm-6">
                <div>
                    <figure>
                        <a
                            href="https://res.cloudinary.com/rim3/image/upload/q_75,w_1000/v1569665488/MacBook_Pro_13_2019/apple-macbook-pro-13-2019-temperature.jpg"
                            data-lightbox="grafico" data-alt="Temperature
                            massime sulla tastiera di {{.Title }}"
                            data-title="Temperature massime sulla tastiera di
                            {{.Title }}.">
                            <img
                                data-src="https://res.cloudinary.com/rim3/image/upload/w_auto,c_scale,q_75,f_auto/v1569665488/MacBook_Pro_13_2019/apple-macbook-pro-13-2019-temperature.jpg"
                                alt="Temperature massime sulla tastiera di {{.Title }}." class="cld-responsive lazyload"></a>
                        <figcaption>
                            <span class="description-title">
                                <span>FIG. 12.</span> Temperature massime zona tastiera.</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div>
                    <figure>
                        <a
                            href="https://res.cloudinary.com/rim3/image/upload/q_75,w_1000/v1569668905/MacBook_Pro_13_2019/macbook-pro-13-2019-macos-catalina-disco-sola-lettura.png"
                            data-lightbox="grafico" data-alt="Il disco in sola lettura di macOS Catalina."
                            data-title="Il disco in sola lettura di macOS Catalina.">
                            <img
                                data-src="https://res.cloudinary.com/rim3/image/upload/w_auto,c_scale,q_75,f_auto/v1569668905/MacBook_Pro_13_2019/macbook-pro-13-2019-macos-catalina-disco-sola-lettura.png"
                                alt="Il disco in sola lettura di macOS Catalina." class="cld-responsive lazyload"></a>
                        <figcaption>
                            <span class="description-title">
                                <span>FIG. 13.</span> macOS Catalina: disco in sola lettura.</span>
                        </figcaption>
                    </figure>
                </div>
            </div>

<div class="col-md-2 col-sm-6">
                <div>
                    <figure>
                        <a
                            href="https://res.cloudinary.com/rim3/image/upload/q_75,w_1000/v1569668904/MacBook_Pro_13_2019/macbook-pro-13-2019-macos-catalina.png"
                            data-lightbox="grafico" data-alt="macOS Catalina: preferenze."
                            data-title="macOS Catalina: preferenze">
                            <img
                                data-src="https://res.cloudinary.com/rim3/image/upload/w_auto,c_scale,q_75,f_auto/v1569668904/MacBook_Pro_13_2019/macbook-pro-13-2019-macos-catalina.png"
                                alt="macOS Catalina: preferenze" class="cld-responsive
                                lazyload"></a>
                        <figcaption>
                            <span class="description-title">
                                <span>FIG. 14.</span> macOS Catalina: preferenze.</span>
                        </figcaption>
                    </figure>
                </div>
            </div>

<div class="col-md-2 col-sm-6">
                <div>
                    <figure>
                        <a
                            href="https://res.cloudinary.com/rim3/image/upload/q_75,w_1000/v1569668904/MacBook_Pro_13_2019/macbook-pro-13-2019-macos-catalina-tempo-utilizzo.png"
                            data-lightbox="grafico" data-alt="macOS Catalina: tempo di utilizzo."
                            data-title="macOS Catalina: tempo di utilizzo.">
                            <img
                                data-src="https://res.cloudinary.com/rim3/image/upload/w_auto,c_scale,q_75,f_auto/v1569668904/MacBook_Pro_13_2019/macbook-pro-13-2019-macos-catalina-tempo-utilizzo.png"
                                alt="macOS Catalina: tempo di utilizzo." class="cld-responsive lazyload"></a>
                        <figcaption>
                            <span class="description-title">
                                <span>FIG. 15.</span> macOS Catalina: tempo di utilizzo.</span>
                        </figcaption>
                    </figure>
                </div>
            </div>

<div class="col-md-2 col-sm-6">
                <div>
                    <figure>
                        <a
                            href="https://res.cloudinary.com/rim3/image/upload/q_75,w_1000/v1569828184/MacBook_Pro_13_2019/macbook-pro-13-2019-macos-catalina-font.png"
                            data-lightbox="grafico" data-alt="{{.Title }}: font di sistema."
                            data-title="{{.Title }}: font di sistema.">
                            <img
                                data-src="https://res.cloudinary.com/rim3/image/upload/w_auto,c_scale,q_75,f_auto/v1569828184/MacBook_Pro_13_2019/macbook-pro-13-2019-macos-catalina-font.png"
                                alt="{{.Title }}: font di sistema." class="cld-responsive lazyload"></a>
                        <figcaption>
                            <span class="description-title">
                                <span>FIG. 16.</span> macOS Catalina: font di sistema.</span>
                        </figcaption>
                    </figure>
                </div>
            </div>

<div class="col-md-2 col-sm-6">
                <div>
                        <figure>
                                <a
                                    href="https://res.cloudinary.com/rim3/image/upload/q_75,w_1000/v1569665488/MacBook_Pro_13_2019/apple-macbook-pro-13-2019-temperature-retro.jpg"
                                    data-lightbox="grafico" data-alt="Temperature
                                    massime sul retro di {{.Title }}"
                                    data-title="Temperature massime sul retro di {{.Title }}.">
                                    <img
                                        data-src="https://res.cloudinary.com/rim3/image/upload/w_auto,c_scale,q_75,f_auto/v1569665488/MacBook_Pro_13_2019/apple-macbook-pro-13-2019-temperature-retro.jpg"
                                        alt="Temperature massime sul retro di {{.Title }}." class="cld-responsive lazyload"></a>
                                <figcaption>
                                    <span class="description-title">
                                        <span>FIG. 17.</span> Temperature massime sul retro.</span>
                                </figcaption>
                            </figure>
                </div>
            </div>
        </div>
  
<!-- FINE GALLERIA CINQUE -->


<section class="single-project row-col-12">
            <div class="col-md-5 col-md-push-2 no-padding-left">
                <span class="small-title">PERCHÈ LO SCHERMO TOUCH?</span>
                <p>Il display Full HD da 13 pollici opaco, senza vetro riflettente di protezione, riduce quasi del tutto i riflessi e <strong>migliora la visibilità in esterna</strong>. Ci sono delle riprese dedicate a questo nella video recensione. Il pannello ha una luminosità massima di 333 nits ed ha un'ottima uniformità; dentro casa, o in luoghi chiusi, è consigliato restare tra i 120 e i 150 nits, circa al 50%. Per l'esterna sotto al sole servirebbe un pannello da oltre 500 nits ma sono rari di questi tempi e, soprattutto, sono installati il più delle volte nei tablet o nei convertibili assieme ad un vetro riflettente che ne spreca i benefici.</p>
            </div>
            <div class="col-md-3 col-md-push-2 no-padding-right">
                <div class="atail-multitext autonomia">
                    <h2 class="atail-multitext-title">ANALISI DISPLAY</h2>
                    <span class="atail-multitext-text">Pannello<span>AU
                            Optronics B133HAN05</span></span>
                    <span class="atail-multitext-text">Luminosità massima<span>416
                            nits</span></span>
                    <span class="atail-multitext-text">Uniformità<span>Variazione
                            massima: 8%</span></span>
                    <span class="atail-multitext-text">sRGB<span>96.6%</span></span>
                    <span class="atail-multitext-text">AdobeRGB<span>71.6%</span></span>
                    <span class="atail-multitext-text">DeltaE Medio<span>Grigi: 1.7
                             / Colore: 1.1</span></span>
                </div>
            </div>
 </section>

<!-- FINE ANALISI DISPLAY -->

 <div class="single-project row-col-12">
        <figure>
                <a
                    href="https://res.cloudinary.com/rim6/image/upload/q_75,w_1000/v1571676374/Lenovo-ThinkBook/lenovo-thinkbook-13s-linux.jpg"
                    data-lightbox="scheda" data-alt="Surface Laptop 3 su Ubuntu 19.10."
                    data-title="Surface Laptop 3 su Ubuntu 19.10.">
                    <img
                        data-src="https://res.cloudinary.com/rim6/image/upload/w_auto,c_scale,q_75,f_auto/v1571676374/Lenovo-ThinkBook/lenovo-thinkbook-13s-linux.jpg"
                        alt="Surface Laptop 3 su Ubuntu 19.10" class="lazyload cld-responsive"></a>
                <figcaption>
                    <span class="description-title">
                        <span>FIG. 15.</span> Surface Laptop 3 con Ubuntu 19.10. Tutte le distro GNU/Linux hanno un buon supporto. Perché non attaccare un bel adesivo con il logo della vostra distro in quella cornice bassa tutta nera?</span>
                </figcaption>
            </figure>
            <div class="col-md-8 col-md-push-2 no-padding-left">
                <p>Resistenza ai riflessi a parte, <strong>il display ha bisogno di una calibrata</strong> per adeguarsi ai contesti grafici. La profilatura di fabbrica è sufficiente alla navigazione web, ai film (bene la modalità HDR, da attivare nelle preferenze schermo di Windows), e ai lavori di grafica non professionale, ma chi ha un colorimetro - o chi sa come rimediare un profilo colore specifico - può portare la fedeltà cromatica su livelli decenti. Lo spazio colore sRGB, per dire, si riesce a coprire davvero. E quei DeltaE così sfasati (variazioni sopra i 3 sono visibili ad occhio nudo - vedi box sopra), si rimettono a regime. Queste considerazioni vanno a demerito dell'azienda ma non la considero una mancanza grave su un portatile come questo; diverso quando si vedono approssimazioni simili su macchine per "creators", abbellite da trovate di marketing ma poco curate dove serve.
                </p>
            </div>
</div>

<!-- SPLIT -->

<section class="row">

    <div class="col-md-6 no-padding-left col-sm-6 split2">
                <div>
                        <h3 class="small-title">SUPPORTO GNU/LINUX</h3>
                        <p>
                            Surface Laptop 3 supporta bene Linux ed ha un BIOS flessibile per UEFI/Legacy e Dual Boot. Ho installato Clear Linux, Manjaro i3, MXLinux e cos'altro non ricordo, per poi finire sulla beta di Ubuntu 19.10. Tutti i componenti principali sono riconosciuti, ma c'è un inghippo: Lenovo rilascia i nuovi BIOS soltanto in formato .exe, ed anche con le varie <a
                            href="https://medium.com/@BladeCoder/flash-your-lenovo-ideapad-laptop-bios-from-linux-using-uefi-capsule-updates-a82e455ea29c" title="Flash your Lenovo Ideapad laptop BIOS from Linux using UEFI capsule updates" target="_blank" rel="nofollow" style="color:white">tecniche di estrazione</a> disponibili online non si riesce ad aggiornarlo da Linux. Quindi: non cancellate Windows con leggerezza.
                        </p>
                </div>
    </div>

    <div class="col-md-6 no-padding-right col-sm-6 split">
                <div>
                        <h3 class="small-title">RICARICA DA USB-C</h3>
                        <p>
                            No, non è supportata. Lenovo ha scelto per Surface Laptop 3 la porta Slim-Tip, ovvero il rettangolino giallo comune a certi IdeaPad e ThinkPad. Si può aggirare questo vincolo e caricare il portatile con un alimentatore USB-C adeguato attaccato ad un adattatore da USB-C a Slim-Tip. <a
                            href="https://amzn.to/2P7G7In" title="Lenovo USB-C to Slim-Fit Adapter" target="_blank" style="color:white">Lenovo ne vende uno</a>: costa circa 20 euro ed ha codice prodotto 4X90U45346. Non l'ho provato su questo modello quindi non posso aggiungere delle considerazioni personali.
                        </p>
                </div>
    </div>
</section>

<!-- FINE SPLIT-->

<section class="single-project row-col-12">
            <div class="col-md-8 col-md-push-2 no-padding-left">
                <h2>Conclusioni</h2>
                <p><s>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</s> Surface Laptop 3 è riuscito perché non sbaglia un colpo. La configurazione venduta da Lenovo Italia è generosa, il prezzo delle offerte online è giusto, ci sono solidità costruttiva ed eleganza. Resta un ultraportatile di qualità in tanti aspetti (prestazioni, ergonomia, aggiornamento hardware) pur costando molto meno dei rivali. Per quel che abbiamo visto e per quel che abbiamo detto, <strong>non ha imprevisti hardware</strong> e compensa con dei pregi vincoli come l'autonomia media e la porta USB che non può caricare la batteria. Nella fascia dei 750 euro, considerando anche la facilità della distribuzione Lenovo (ci sono possibilità di poterlo toccare dal vivo in qualche centro commerciale - cosa ormai riservata a pochi modelli), non trovo equivalenti in questo momento.
                
                Per metterci un punto, dato che sto ripetendo le stesse cose da parecchie righe ormai: mi è piaciuto e lo consiglio. E a ripensarci non ci sarebbe stato bisogno di scomodare Bulgàkov.</p>
 
            </div>

            <div class="col-md-8 col-md-push-2 no-padding-left"> 
                    <aside class="yt-iscriviti">
                                        <span class="atail-multitext-text">OFFERTE SURFACE LAPTOP 3</span>
                                        <a href="https://amzn.to/32JzHCL" rel="nofollow" target="_blank" title="Offerte Surface Laptop 3 su Amazon">
                                            <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1562766484/amazon.png" alt="Compra su Amazon e supportami" class="cld-responsive lazyload" />
                                        </a>
                    </aside>
                    <!-- VIDEO FULL -->
                        <div class="videoWrapper embed-responsive embed-responsive-4by3" data-yt-url="{{.Params.video}}">
                            <img data-src="https://res.cloudinary.com/rim6/image/upload/w_auto,c_scale,q_75,f_auto/v1574182651/surface-laptop-3/surface-laptop-3-recensione-video.jpg"

                            alt="Video Recensione {{ .Title }}" class="cld-responsive lazyload play-youtube-video">
                        </div>
                    <!-- FINE VIDEO -->
            </div>
</section>
<!-- PREV-NEXT -->
<div class="row-col-12">

    <div class="col-xs-6 col-md-4 col-md-push-2 no-padding">
        <div class="single-project-prev atail-project-nav">
            {{if .PrevInSection}}
            <a href="{{.PrevInSection.Permalink}}"
                class="single-project-link-arrow" title="Recensione precedente">
                <span class="single-project-arrow">
                    <svg version="1.1"
                        xmlns="http://www.w3.org/2000/svg" x="0px"
                        y="0px" width="57.143px"
                        height="34.454px" viewBox="0 0 57.143 34.454"
                        enable-background="new 0 0 57.143 34.454"
                        xml:space="preserve">
                        <g>
                            <g>
                                <polygon fill=""
                                    points="51.908,17.599 46.891,13.1
                                    46.891,17.094 6.904,17.094
                                    6.904,18.094 46.891,18.094
                                    46.891,22.099">
                                </polygon>
                            </g>
                        </g>
                    </svg>
                </span>
                <span>Precedente</span>
            </a>

            <a href="{{.PrevInSection.Permalink}}"
                class="single-project-info" title="Recensione {{.PrevInSection.Title}}">
                <div class="atail-project-image">
                    <img data-src="{{.PrevInSection.Params.immagine_testa}}"
                        alt="Recensione {{.PrevInSection.Title}}" class="cld-responsive lazyload" />
                </div>
                <h4>{{.PrevInSection.Title}}</h4>
            </a>
            {{end}}
        </div>
    </div>

    <div class="col-xs-6 col-md-4 col-md-push-2 no-padding">
        <div class="single-project-next atail-project-nav">
            {{if .NextInSection}}
            <a href="{{.NextInSection.Permalink}}"
                class="single-project-link-arrow" title="Prossima recensione">
                <span>Prossima</span>
                <span class="single-project-arrow">
                    <svg version="1.1"
                        xmlns="http://www.w3.org/2000/svg" x="0px"
                        y="0px" width="57.143px"
                        height="34.454px" viewBox="0 0 57.143 34.454"
                        enable-background="new 0 0 57.143 34.454"
                        xml:space="preserve">
                        <g>
                            <g>
                                <polygon fill=""
                                    points="51.908,17.599 46.891,13.1
                                    46.891,17.094 6.904,17.094
                                    6.904,18.094 46.891,18.094
                                    46.891,22.099">
                                </polygon>
                            </g>
                        </g>
                    </svg>
                </span>
            </a>

            <a href="{{.NextInSection.Permalink}}"
                class="single-project-info" title="Recensione {{.NextInSection.Title}}">
                <div class="atail-project-image">
                    <img data-src="{{.NextInSection.Params.immagine_testa}}"
                        alt="Recensione {{.NextInSection.Title}}" class="cld-responsive lazyload" />
                </div>
                <h4>{{.NextInSection.Title}}</h4>
            </a>
            {{end}}
        </div>
    </div>

</div>
<!-- FINE PREV-NEXT -->

        <!-- DISQUS -->

        <div class="single-project row-col-12 atail-post-comments-wrapper"
            style="margin-bottom: 0; border-right:0">
            <div class="col-md-2"></div>
            <aside class="col-md-8 no-padding-left">
                {{ partial "disqus-comments.html" . }}
            </aside>
        </div>

        <!-- FINE DISQUS -->
        <!-- FINE PAGINA -->
</article>
        <!-- main-scroll -->
</main> <!-- main -->
{{ partial "aside.html" . }}
</div> <!-- atail -->

<script src='{{.Site.BaseURL}}js/cloudinary-core-shrinkwrap.js'></script>
<script src="{{.Site.BaseURL}}js/lazysizes.min.js" async ></script>
<script src="{{.Site.BaseURL}}js/typed.min.js"></script>
<script>
    var typed = new Typed('#typed',{
         strings:["{{.Params.typed1}}", "{{.Params.typed2}}", "{{.Params.typed3}}", "{{.Params.typed4}}"],
         backSpeed: 40,
        typeSpeed: 60,
         loop: false
        });
</script>
<script>
const cl = cloudinary.Cloudinary.new({ cloud_name: 'rim6' })
cl.responsive()
</script>
<script src='{{.Site.BaseURL}}js/lightbox.js' async ></script>
<script async src="https://apis.google.com/js/platform.js"></script>
{{ partial "footer-review.html" . }}
