<div class="sides">
    <div class=" container-fluid ">
        <div class="left-side">
            <div class="side-content">
                <a href="https://www.instagram.com/riccardopalombo" target="_blank" rel="nofollow noopener" title="Profilo Instagram di Riccardo Palombo"> Instagram </a>
                <a href="https://www.twitter.com/riccardopalombo" target="_blank" rel="nofollow noopener" title="Profilo Twitter di Riccardo Palombo"> Twitter </a>
                <a href="https://t.me/riccardopalombo" target="_blank" rel="nofollow noopener" title="Canale Telegram di Riccardo Palombo"> Telegram </a>
                <a href="https://patreon.com/riccardopalombo" target="_blank" rel="nofollow noopener" title="Pagina Patreon di Riccardo Palombo"> Patreon </a>
            </div>
        </div>

        <div class="right-side">
            <div class="side-content">
                <p class="copyright">
                    © 2019-2020 - 
                    <a noprefetch href="{{.Site.BaseURL}}privacy-cookie-policy/" title="Informativa privacy estesa per riccardo.im" style="color: #e0e0e0; margin-right: 0">privacy</a> - <a href="{{.Site.BaseURL}}contatti/" title="Scrivi a Riccardo Palombo" style="color: #e0e0e0">contatti</a>
                </p>
            </div>
        </div>
    </div>
</div>