{{ if isset .Params "jquery" }}
<script src='{{.Site.BaseURL}}js/jquery.min.js'></script>
{{ end }}
<script src="{{.Site.BaseURL}}js/quicklink.umd.js"></script>
<script>
		(function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
		;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
		;c.parentNode.insertBefore(a,c)
		})(window,document,"galite","script","{{.Site.BaseURL}}js/ga-lite.min.js");
		
		galite('create', 'UA-2482878-27', 'auto');
		galite('send', 'pageview');
		galite.anonymizeIp = true;
</script>
<script>
		window.addEventListener('load', () =>{
			quicklink({
  ignores: [
    (uri, elem) => elem.hasAttribute('noprefetch')
  ]
});
		});
		</script>
{{ if isset .Params "jquery" }}
<script>
var video_wrapper = $('.videoWrapper');
if(video_wrapper.length){
$('.play-youtube-video').on('click', function(){
video_wrapper.html('<iframe allowfullscreen frameborder="0" class="embed-responsive-item" src="' + video_wrapper.data('yt-url') + '"></iframe>');
});
}
</script>
{{ end }}
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="beeace1e-601a-4b59-92c8-ee4fc4792a1e" async></script>
</body>
</html>
