<div class="main-scroll">

    <div class="project-preview-images">
        <div class="preview-images-item">
            <img data-src="https://res.cloudinary.com/rim4/image/upload/h_1333,c_crop,q_99,f_auto/v1577019691/Lenovo-ThinkBook/lenovo-thinkbook-13s-recensione-video-1.jpg"
                alt="Lenovo ThinkBook 13s Recensione" class="project-1 cld-responsive">
            <img data-src="https://res.cloudinary.com/rim3/image/upload/h_1333,c_crop,q_99,f_auto/v1569860710/MacBook_Pro_13_2019/apple-macbook-pro-13_recensione.jpg"
                alt="Apple MacBook Pro 13 2109 Recensione" class="project-2 cld-responsive">
            <img data-src="https://res.cloudinary.com/rim/image/upload/h_1333,c_crop,q_99,f_auto/v1574432030/Slider/surface-laptop-3_recensione.jpg"
                alt="Surface Laptop 3 recensione" class="project-4 cld-responsive">
            <img data-src="https://res.cloudinary.com/rim7/image/upload/h_1333,c_crop,q_99,f_auto/v1575885239/Macbook-Pro-16/apple-macbook-pro-16_recensione_video.jpg"
                alt="MacBook Pro 16 recensione" class="project-5 cld-responsive">
            <img data-src="https://res.cloudinary.com/rim4/image/upload/h_1333,c_crop,q_99,f_auto/v1577019803/Room-Tour-2020/room-tour-2020_riccardo-palombo_1.jpg"
                alt="Room Tour 2020 di Riccardo Palombo" class="project-7 cld-responsive">
            <img data-src="https://res.cloudinary.com/rim7/image/upload/h_1333,c_crop,q_99,f_auto/v1581069958/RoomTour2/ryzen-linux-dots-riccardo-palombo.png"
                alt="Recensione Ryzen 9 3900X e Radeon RX 5700" class="project-8 cld-responsive">
            <img data-src="https://res.cloudinary.com/rim2/image/upload/h_1333,c_crop,q_99,f_auto/v1564135413/akko-3068-recensione.png"
                alt="Akko 3068" class="project-9 cld-responsive">
            <img data-src="https://res.cloudinary.com/rim3/image/upload/h_1333,c_crop,q_99,f_auto/v1578671408/patreon-riccardo-palombo.jpg"
                alt="Podcassette Riccardo Palombo" class="project-0 cld-responsive">
            <img data-src="https://res.cloudinary.com/rim4/image/upload/h_1333,c_crop,q_99,f_auto/v1581606420/pixelbook_dual_boot.png"
                alt="Pixelbook Dual Boot" class="project-11 cld-responsive">
            <img data-src="https://res.cloudinary.com/rp1/image/upload/h_1333,c_crop,q_99,f_auto/v1583168164/NUC/intel-nuc-10-performance_recensione.png"
                alt="Pixelbook Dual Boot" class="project-13 cld-responsive">
            <img data-src="https://res.cloudinary.com/rp1/image/upload/h_1333,c_crop,q_99,f_auto/v1583169972/Suunto/suunto-7_recensione.jpg"
                alt="Suunto 7" class="project-12 cld-responsive">
            <img data-src="https://res.cloudinary.com/rim7/image/upload/h_1333,c_crop,q_99,f_auto/v1584803574/RealForce-R2/realforce-r2-recensione-topre.png" alt="RealForce R2 PFU Limited Edition"
                class="project-14 cld-responsive">
        </div>
    </div>
    <div class="row">

        <div class="col-md-10 no-padding">

            <div class="project-preview-arrow-wrapper">
                <span class="project-preview-arrow">

                    <span>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                            width="57.143px" height="34.454px" viewBox="0 0
                                57.143 34.454" enable-background="new 0 0 57.143
                                34.454" xml:space="preserve">
                            <g>
                                <g>
                                    <polygon points="51.908,17.599 46.891,13.1
                                            46.891,17.094 6.904,17.094 6.904,18.094
                                            46.891,18.094 46.891,22.099" />
                                </g>
                            </g>
                        </svg>
                    </span>
                    <span>Scorri</span>
                </span>
            </div>

            <div class="project-preview" tabindex="0">

                <div class="display-table">
                    <div class="display-table-cell">

                        <div class="row-col-10" id="project-14">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                                <span><span class="project-count-number">1</span></span>
                                /
                                <span>10</span>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>

                                        <div class="preview-article-header">
                                            <h1>
                                                <a href="/recensioni/realforce-r2-pfu-limited-edition/"
                                                    title="Recensione RealForce R2 Limited Edition">RealForce R2 Limited
                                                    Edition</a>
                                            </h1>
                                        </div>
                                        <div class="preview-article-text">
                                            <div class="preview-text-content">
                                                <p>
                                                    Una tastiera unica nel settore con switch Topre e regolazione del
                                                    punto di attuazione per la seconda puntata di Super Fun With Caps.
                                                </p>
                                            </div>
                                        </div>

                                        <a class="tmp-class open-full-post"
                                            href="/recensioni/realforce-r2-pfu-limited-edition/"
                                            title="Recensione RealForce R2 Limited Edition"><span>Leggi tutto</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="display-table">
                    <div class="display-table-cell">

                        <div class="row-col-10" id="project-12">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                                <span><span class="project-count-number">2</span></span>
                                /
                                <span>10</span>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>

                                        <div class="preview-article-header">
                                            <h1>
                                                <a href="/recensioni/suunto-7/" title="Recensione Suunto 7">Suunto 7</a>
                                            </h1>
                                        </div>
                                        <div class="preview-article-text">
                                            <div class="preview-text-content">
                                                <p>
                                                    Uno smartwatch Wear OS con funzionalità sportive avanzate e un
                                                    marchio importante. Ecco la recensione a Suunto 7.
                                                </p>
                                            </div>
                                        </div>

                                        <a class="tmp-class open-full-post" href="/recensioni/suunto-7/"
                                            title="Recensione Suunto 7"><span>Leggi tutto</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="display-table">
                    <div class="display-table-cell">

                        <div class="row-col-10" id="project-13">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                                <span><span class="project-count-number">3</span></span>
                                /
                                <span>10</span>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>

                                        <div class="preview-article-header">
                                            <h1>
                                                <a href="/recensioni/intel-nuc-10/"
                                                    title="Recensione Intel NUC 10 Performance">Intel NUC 10
                                                    Performance</a>
                                            </h1>
                                        </div>
                                        <div class="preview-article-text">
                                            <div class="preview-text-content">
                                                <p>
                                                    La recensione all'ultima generazione di Mini PC Intel. Da soluzioni
                                                    per l'ufficio a macchine per creativi, personalizzabili e potenti.
                                                    Ma a quel prezzo?
                                                </p>
                                            </div>
                                        </div>

                                        <a class="tmp-class open-full-post" href="/recensioni/intel-nuc-10/"
                                            title="Recensione Intel NUC 10 Performance"><span>Leggi tutto</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="display-table">
                    <div class="display-table-cell">


                        <div class="row-col-10" id="project-0">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>
                                        <div class="preview-article-header">
                                            <h1>
                                                <a href="{{.Site.BaseURL}}supporter/"
                                                    title="Diventa supporter di Riccardo Palombo">Diventa supporter</a>
                                            </h1>
                                        </div>
                                        <a class="tmp-class open-full-post" href="{{.Site.BaseURL}}supporter/"
                                            title="Diventa supporter di Riccardo Palombo"><span>Ecco come</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="display-table">
                    <div class="display-table-cell">

                        <div class="row-col-10" id="project-11">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                                <span><span class="project-count-number">4</span></span>
                                /
                                <span>10</span>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>

                                        <div class="preview-article-header">
                                            <h1>
                                                <a href="/articoli/pixelbook-windows-linux/"
                                                    title="Pixelbook in Dual Boot Windows e Linux">Appunti di
                                                    Pixelbook</a>
                                            </h1>
                                        </div>
                                        <div class="preview-article-text">
                                            <div class="preview-text-content">
                                                <p>
                                                    Come ho installato Windows 10 e Linux al posto di Chrome OS su
                                                    Pixelbook. È un portatile meraviglioso e conveniente, ma ci sono
                                                    delle cose da sapere.
                                                </p>
                                            </div>
                                        </div>

                                        <a class="tmp-class open-full-post" href="/articoli/pixelbook-windows-linux/"
                                            title="Pixelbook in Dual Boot Windows e Linux"><span>Leggi tutto</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="display-table">
                    <div class="display-table-cell">

                        <div class="row-col-10" id="project-8">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                                <span><span class="project-count-number">5</span></span>
                                /
                                <span>10</span>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>

                                        <div class="preview-article-header">
                                            <h1>
                                                <a href="/recensioni/ryzen-linux-pc-setup/"
                                                    title="Come lavoro - Parte 2.">Ryzen, Linux e dotfiles</a>
                                            </h1>
                                        </div>
                                        <div class="preview-article-text">
                                            <div class="preview-text-content">
                                                <p>
                                                    Seconda parte del Room Tour con protagonista la mia workstation
                                                    Ryzen 9 3900X e i sistemi operativi Windows e Linux. Chi vuole i
                                                    miei dotfiles?
                                                </p>
                                            </div>
                                        </div>

                                        <a class="tmp-class open-full-post" href="/recensioni/ryzen-linux-pc-setup/"
                                            title="Come lavoro - Parte 2"><span>Leggi tutto</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="display-table">
                    <div class="display-table-cell">

                        <div class="row-col-10" id="project-7">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                                <span><span class="project-count-number">6</span></span>
                                /
                                <span>10</span>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>

                                        <div class="preview-article-header">
                                            <h1>
                                                <a href="/recensioni/room-tour-2020/"
                                                    title="Dai uno sguardo al mio studio.">Come lavorare in piedi</a>
                                            </h1>
                                        </div>
                                        <div class="preview-article-text">
                                            <div class="preview-text-content">
                                                <p>
                                                    Ho svecchiato il mio studio con un nuovo monitor 4K, con un
                                                    microfono per podcast, con una postazione per lavorare in piedi, e
                                                    con una migliore versione di me.
                                                </p>
                                            </div>
                                        </div>

                                        <a class="tmp-class open-full-post" href="/recensioni/room-tour-2020/"
                                            title="Entra nel mio studio!"><span>Leggi tutto</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="display-table">
                    <div class="display-table-cell">

                        <div class="row-col-10" id="project-5">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                                <span><span class="project-count-number">7</span></span>
                                /
                                <span>10</span>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>

                                        <div class="preview-article-header">
                                            <h1>
                                                <a href="/recensioni/apple-macbook-pro-16/"
                                                    title="Recensione Apple MacBook Pro 16">Apple MacBook Pro 16</a>
                                            </h1>
                                        </div>
                                        <div class="preview-article-text">
                                            <div class="preview-text-content">
                                                <p>
                                                    La recensione al portatile Apple da 16 pollici. Processore Octa
                                                    Core,
                                                    nuova tastiera, nuovo impianto audio, nuovo display. E prestazioni
                                                    per ogni tipo di attività.
                                                </p>
                                            </div>
                                        </div>

                                        <a class="tmp-class open-full-post" href="/recensioni/apple-macbook-pro-16/"
                                            title="Recensione Apple MacBook Pro 16"><span>Leggi tutto</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="display-table">
                    <div class="display-table-cell">

                        <div class="row-col-10" id="project-4">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                                <span><span class="project-count-number">8</span></span>
                                /
                                <span>10</span>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>

                                        <div class="preview-article-header">
                                            <h1>
                                                <a href="/recensioni/surface-laptop-3/"
                                                    title="Recensione Surface Laptop 3">Surface Laptop 3</a>
                                            </h1>
                                        </div>
                                        <div class="preview-article-text">
                                            <div class="preview-text-content">
                                                <p>
                                                    Recensione per il miglior portatile di Microsoft. Elegante, veloce,
                                                    leggero, ideale per scrivere un romanzo. Ha un solo limite, ed è
                                                    importante saperlo.
                                                </p>
                                            </div>
                                        </div>

                                        <a class="tmp-class open-full-post" href="/recensioni/surface-laptop-3/"
                                            title="Recensione Surface Laptop 3"><span>Leggi tutto</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="display-table">
                    <div class="display-table-cell">

                        <div class="row-col-10" id="project-1">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                                <span><span class="project-count-number">9</span></span>
                                /
                                <span>10</span>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>

                                        <div class="preview-article-header">
                                            <h1>
                                                <a href="/recensioni/lenovo-thinkbook-13s/"
                                                    title="Recensione Lenovo ThinkBook 13s">Lenovo ThinkBook 13s</a>
                                            </h1>
                                        </div>
                                        <div class="preview-article-text">
                                            <div class="preview-text-content">
                                                <p>
                                                    Questo portatile Lenovo è consigliato a tutti. Costa il giusto, ha
                                                    una bella configurazione, è costruito bene, supporta Linux. Ecco la
                                                    recensione finale.
                                                </p>
                                            </div>
                                        </div>

                                        <a class="tmp-class open-full-post" href="/recensioni/lenovo-thinkbook-13s/"
                                            title="Recensione Lenovo ThinkBook 13s"><span>Leggi tutto</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="display-table">
                    <div class="display-table-cell">

                        <div class="row-col-10" id="project-2">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                                <span><span class="project-count-number">10</span></span>
                                /
                                <span>10</span>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>

                                        <div class="preview-article-header">
                                            <h1>
                                                <a href="/recensioni/apple-macbook-pro-13-2019/"
                                                    title="Recensione Apple MacBook Pro 13 2019">Apple MacBook Pro
                                                    13</a>
                                            </h1>
                                        </div>
                                        <div class="preview-article-text">
                                            <div class="preview-text-content">
                                                <p>
                                                    La recensione al 13 pollici Apple più economico. Processore Quad
                                                    Core, TouchBar, e autonomia per tutto il giorno. È questa la
                                                    versione consigliata? Sì.
                                                </p>
                                            </div>
                                        </div>

                                        <a class="tmp-class open-full-post"
                                            href="/recensioni/apple-macbook-pro-13-2019/"
                                            title="Recensione Apple MacBook Pro 13 2019"><span>Leggi tutto</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-2 all-projects-ajax-btn">
            <a href="/articoli/" class="vedi-tutte"
                title="Vedi tutte le recensioni"><span><span></span><span></span></span>Vedi tutto</a>
        </div>
    </div>

</div>
<!-- main-scroll -->

<div class="grid-bg row">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
</div>