    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    <title>{{if eq .Section "podcast"}}Il Mordente | {{ if .IsNode }}{{ if gt .Paginator.PageNumber 1 }}Pagina {{ .Paginator.PageNumber }} | {{ end }}{{ end }}{{end}}{{if eq .Section "recensioni"}}Recensione {{end}}{{ .Title | default .Site.Title }}{{ if not .IsHome }} - Riccardo.im{{ end }}</title>
    <link rel="canonical" href="{{ .Permalink}}" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    <meta name="twitter:title" content="{{ .Title }}{{ if .IsHome }}{{ .Site.Title }}{{ else }} - Riccardo.im{{ end }}" />
    <meta name="twitter:site" content="{{ .Site.Params.twitter }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />
    <meta property="twitter:image" content="https://riccardo.im/img/android-chrome-512x512.png">

    <!-- OG data -->
    <meta property="og:locale" content="it_IT" />
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
    <meta content="{{ .Title }}{{ if .IsHome }}{{ .Site.Title }}{{ else }} - Riccardo.im{{ end }}" property="og:title">
    <meta content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" property="og:description">
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    {{ range .Params.categories }}<meta property="article:section" content="{{ . }}" />{{ end }}
    {{ if isset .Params "date" }}<meta property="article:published_time" content="{{ time .Date }}" />{{ end }}
    <!-- Open Graph - Article -->
    <meta name="article:author" content="{{ .Site.Params.author }}">
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta property="og:image" content="https://riccardo.im/img/android-chrome-512x512.png">
    <!-- JSON-LD -->
    {{ if .IsHome }}
    <script type="application/ld+json">
{    "@context": "https://schema.org", 
      "@type": "WebSite", 
      "url": "{{ .Permalink }}", 
      "name": "{{ .Site.Title }}",
       "author": {
          "@type": "Person",
          "name": "{{ .Site.Params.author }}"
        },
      "description": "{{ .Site.Params.description }}",
      "image": "https://riccardo.im/img/android-chrome-512x512.png"
    }
    </script>
    {{ end }}
    {{ if .IsPage }}
        <script type="application/ld+json">
        {{if eq .Section "podcast"}}
        { 
            "@context": "https://schema.org", 
            "@type": "BlogPosting",
            "headline": "{{ .Title }}",
            "url": "{{ .Permalink }}",
            "datePublished": "{{ time .Date }}",
            "dateModified": "{{ time .Date }}",
            "description": "{{ .Description }}",
            "image": "https://riccardo.im/img/android-chrome-512x512.png",
            "publisher":  {
              "@type": "Organization",
              "name": "{{ .Site.Params.author }}",
              "logo":{
                "@type":"ImageObject",
                "url":"https://riccardo.im/img/android-chrome-512x512.png"
             }
          },
            "author": {
                "@type": "Organization",
                "name": "{{ .Site.Params.author }}"
            }
         }

        {{else if eq .Section "recensioni"}}
        {
          "@context": "https://schema.org/",
          "@type": "Product",
          "name": "{{ .Title }}",
          "image": [
            "{{ .Params.immagine_testa }}"
           ],
          "description": "{{ .Description }}",
          "brand": {
            "@type": "Thing",
            "name": "{{ .Params.brand }}"
          },
          "review": {
            "@type": "Review",
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "{{ .Params.rating }}",
              "bestRating": "5"
            },
            "author": {
              "@type": "Person",
              "name": "Riccardo Palombo"
            }
          }
        }

        {{ else }}
        { 
          "@context": "https://schema.org", 
          "@type": "WebSite", 
          "url": "{{ .Permalink }}", 
          "name": "{{ .Title }}",
          "image": "https://riccardo.im/img/android-chrome-512x512.png",
           "author": {
              "@type": "Person",
              "name": "{{ .Site.Params.author }}"
            },
          "description": "{{ .Description }}"
        }
        {{ end }}
        </script>
    {{ end }}
