                        <!-- SHARE -->
                        <div class="jssocials-shares post-content-header">
                            <div class="jssocials-share">
                                <a target="_blank" rel="nofollow noopener" 
                                    href="https://facebook.com/sharer/sharer.php?u={{.Permalink}}"
                                    class="jssocials-share-link"
                                    title="Condividi su Facebook">
                                    <img src="https://res.cloudinary.com/rim/image/upload/f_auto/v1562766483/social.png"
                                        class="jssocials-share-facebook" width="13" height="81"
                                        alt="Condividi su Facebook">
                                </a>
                            </div>

                            <div class="jssocials-share">
                                <a target="_blank" rel="nofollow noopener" 
                                    href="https://twitter.com/share?url={{.Permalink}}&amp;text=Recensione%20{{.Title}}%20di%20%40riccardopalombo"
                                    class="jssocials-share-link"
                                    title="Condividi su Twitter">
                                    <img src="https://res.cloudinary.com/rim/image/upload/f_auto/v1562766483/social.png"
                                        class="jssocials-share-twitter" width="13" height="81"
                                        alt="Condividi su Twitter">
                                </a>
                            </div>

                            <div class="jssocials-share">
                                <a target="_blank" rel="nofollow noopener" 
                                    href="https://reddit.com/submit?url={{.Permalink}}&amp;title=Recensione%20{{.Title}}"
                                    class="jssocials-share-link"
                                    title="Condividi su Reddit">
                                    <img src="https://res.cloudinary.com/rim/image/upload/f_auto/v1562766483/social.png"
                                        class="jssocials-share-reddit" width="13" height="81"
                                        alt="Condividi su Reddit">
                                </a>
                            </div>
                        </div>
                        <!-- FINE SHARE -->