<aside class="widget widget_atail_recent_posts_widget">
    <div class="widget-title"><h3 class="small-title">Sto leggendo</h3></div>
    <ul>
        <li>
            <div>
                <a href="https://amzn.to/2WSxTnQ" target="_blank" rel="nofollow" title="Vedi il libro Lezioni di letteratura">Lezioni di letteratura</a>
                <div class="recent-post-info">
                    <span class="post-author">di Vladimir Nabokov</span>
                </div>
            </div>
        </li>
                <li>
            <div>
                    <a href="https://amzn.to/2NOp4Ms" target="_blank" rel="nofollow" title="Vedi il libro Come cambiare la tua mente">Come cambiare la tua mente</a>                <div class="recent-post-info">
                    <span class="post-author">di Micheal Pollan</span>
                </div>
            </div>
        </li>
        <li>
            <div>
                <a href="https://amzn.to/2KvGqdX" target="_blank" rel="nofollow" title="Vedi il libro I Simpson e la filosofia">I Simpson e la filosofia</a>
                <div class="recent-post-info">
                    <span class="post-author">di Irwin, Conard e Skoble</span>
                </div>
            </div>
        </li>
    </ul>
</aside>