<div class="widget widget_atail_about_widget">
    <div class="widget-title">
        <h3 class="small-title">Supportami</h3>
    </div>
    <a href="https://amzn.to/2Vo4lm3" rel="nofollow noopener" target="_blank"
        title="Aiutami a migliorare il podcast e il sito"><img
            data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1562766484/amazon.png"
            alt="Supporta Riccardo.im e Il Mordente" class="cld-responsive" /></a>
    <span class="atail-widget-heading">Parti da qui</span>
    <p>Quando compri su Amazon parti da questo link.
    </p>
    <p><a href="https://patreon.com/riccardopalombo" rel="nofollow noopener" target="_blank"
            title="Diventa Patron di Riccardo"><img src="/img/supporta-riccardo-palombo.png"
                alt="Supporta Riccardo su Patron" /></a></p>
</div>