<div class="widget widget_atail_about_widget">
    <div class="widget-title"><span class="small-title">Newsletter</span></div>			  
 <form style="text-align:center" action="https://tinyletter.com/RiccardoIM" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/RiccardoIM', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">

<p><label for="tlemail">Ti avverto appena escono le nuove recensioni.</label></p>
<div><input type="text" name="email" id="tlemail" placeholder="La tua email"/></div>

<input type="hidden" value="1" name="embed"/>
<input type="submit" style="width:100%" value="Iscriviti" />
</form>
</div>