<div class="widget widget_atail_about_widget">
    <div class="widget-title"><span class="small-title">Iscriviti ora</span></div>
    <a href="https://podcasts.apple.com/it/podcast/tech-is-it/id1492275528" target="_blank" rel="nofollow noopener" title="Ascolta Tech.is.it su Apple Podcast">
        <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1562766483/apple-podcast-badge.png" alt="Apple Podcast" class="cld-responsive" /></a>

    <a href="https://open.spotify.com/show/0YsuYqJ8tY7E6PyDfNLOVQ" title="Ascolta Tech.is.it su Spotify" target="_blank" rel="nofollow noopener">
        <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1562766484/spotify-podcast-badge.png" alt="Spotify" class="cld-responsive" /></a>
 
    <a href="https://www.spreaker.com/show/tech-is-it" title="Ascolta Tech.is.it su Spreaker" target="_blank" rel="nofollow noopener">
        <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1562766484/spreaker-badge.png" alt="Spreaker" class="cld-responsive" /></a>
</div>