<aside class="widget widget_atail_recent_posts_widget">
    <div class="widget-title"><h3 class="small-title">Sto leggendo</h3></div>
    <ul>
                <li>
            <div>
                <a href="https://amzn.to/2ZqVr5u" target="_blank" rel="nofollow" title="Vedi il libro Humanless">Humanless. L'algoritmo egoista</a>
                <div class="recent-post-info">
                <span class="post-author">di Massimo Chiriatti</span>
                </div>
            </div>
        </li>
        <li>
            <div>
                <a href="https://amzn.to/2Kf4fpV" target="_blank" rel="nofollow" title="Vedi il libro Letture facoltative">Letture facoltative</a>
                <div class="recent-post-info">
                    <span class="post-author">di Wislawa Szymborska</span>
                </div>
            </div>
        </li>
        <li>
            <div>
                <a href="https://amzn.to/2WSxTnQ" target="_blank" rel="nofollow" title="Vedi il libro Lezioni di letteratura">Lezioni di letteratura</a>
                <div class="recent-post-info">
                    <span class="post-author">di Vladimir Nabokov</span>
                </div>
            </div>
        </li>
    </ul>
</aside>