<div class="widget widget_atail_recent_posts_widget">
    <div class="widget-title"><span class="small-title">Sto leggendo</span></div>
    <ul>
        <li>
            <div>
                <a href="https://amzn.to/2XZ099B" target="_blank" rel="nofollow" title="Vedi il libro Lo storno di Mozart">Lo storno di Mozart e altri animali famosi</a>
                <div class="recent-post-info">
                    <span class="post-author">di Elena Passarello</span>
                </div>
            </div>
        </li>
                <li>
            <div>
                <a href="https://amzn.to/2Kpfzkr" target="_blank" rel="nofollow" title="Vedi il libro Del profumo dei croissants caldi...">Del profumo dei croissants caldi e delle sue conseguenze sulla bontà umana</a>
                <div class="recent-post-info">
                    <span class="post-author">di Ruwen Ogien</span>
                </div>
            </div>
        </li>
                <li>
            <div>
                <a href="https://amzn.to/2JFUeSJ" target="_blank" rel="nofollow" title="Vedi il libro L'universo elegante">L'universo elegante</a>
                <div class="recent-post-info">
                    <span class="post-author">di Brian Greene</span>
                </div>
            </div>
        </li>
        <li>
            <div>
                <a href="https://amzn.to/2KvGqdX" target="_blank" rel="nofollow" title="Vedi il libro I Simpson e la filosofia">I Simpson e la filosofia</a>
                <div class="recent-post-info">
                    <span class="post-author">di Irwin, Conard e Skoble</span>
                </div>
            </div>
        </li>
    </ul>
</div>