<div class="widget widget_atail_about_widget">
    <div class="widget-title"><span class="small-title">Iscriviti ora</span></div>
    <a href="https://itunes.apple.com/it/podcast/il-mordente/id1445363230" target="_blank" rel="noopener" title="Ascolta Il Mordente su Apple Podcasts">
        <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1562766483/apple-podcast-badge.png" alt="Apple Podcasts" class="cld-responsive" /></a>

    <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9pbG1vcmRlbnRlLnBvZGJlYW4uY29tL2ZlZWQueG1s" target="_blank" rel="noopener" 
        title="Ascolta Il Mordente su Google Podcasts">
        <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1562766483/google-podcast-badge.png" alt="Google Podcasts" class="cld-responsive" /></a>

    <a href="https://open.spotify.com/show/2Ap4QCxQvnV9nvsFIwVrXP" title="Ascolta Il Mordente su Spotify" target="_blank" rel="noopener">
        <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1562766484/spotify-podcast-badge.png" alt="Spotify" class="cld-responsive" /></a>
 
    <a href="https://www.spreaker.com/show/il-mordente" title="Ascolta Il Mordente su Spreaker" target="_blank" rel="noopener">
        <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/v1562766484/spreaker-badge.png" alt="Spreaker" class="cld-responsive" /></a>
</div>