<div class="widget widget_atail_recent_posts_widget">
    <div class="widget-title"><h3 class="small-title">Il Mordente Podcast</h3></div>
    <ul>
         {{ range first 4 (where (where .Site.Pages "Section" "podcast") ".Title" "!=" "Podcast" )}}
        <li>
            <img data-src="https://res.cloudinary.com/riccardoim/image/upload/w_50,c_scale,q_75,f_auto/v1560585790/podcast/il-mordente-{{.Params.numero}}.jpg" alt="{{ .Title }}" 
                class="cld-responsive"/>

            <div>
                <a href="{{ .Permalink }}" title="Ascolta Il Mordente {{ .Params.numero }}">{{ .Title }}</a>
                <div class="recent-post-info">
                    <span class="post-author">Puntata {{ .Params.numero }}</span>
                </div>
            </div>
        </li>
            {{ end }}
    </ul>
</div>