<div class="row podcast">
    <div class="col-md-2"></div>
    <div class="col-md-4 no-padding-left col-sm-6">
        <span id="puntate" class="small-title atail-post-comments-title"
            style="margin-bottom:37px;"><span class="atail-plus"></span>ASCOLTA
            LE PUNTATE</span>
    </div>
</div>

<section class="simple-post">

    {{ range .Paginator.Pages }}


    <!-- Inizio Post -->


    <div class="row-col-12">

        <div class="col-md-2 col-md-push-2 no-padding blog-thumbnail col-sm-4">
            <a href="{{ .Permalink }}" title="Ascolta{{ if ( .Params.techisit ) }} Tech.is.it {{else}} Il Mordente {{ end }}n° {{.Params.numero }}">
                <img data-src="https://res.cloudinary.com/rim/image/upload/w_auto,c_scale,q_75,f_auto/{{.Params.featured_image }}" alt="{{ .Title }}" class="cld-responsive"/>
            </a>
        </div>

        <div class="col-md-4 atail-post-content col-md-push-2 no-padding
            blog-list-info col-sm-6">

            <div class="blog-category">
                <span class="blog-category-link">
                    {{ if ( .Params.techisit ) }} TECH.IS.IT {{else}} IL MORDENTE {{ end }}{{ .Params.numero }}</span>

                </span>
            </div>

            <h3>
                <a href="{{ .Permalink }}" title="Ascolta{{ if ( .Params.techisit ) }} Tech.is.it {{else}} Il Mordente {{ end }}n° {{.Params.numero }}">{{ .Title }}</a>
            </h3>
        </div>

    </div>

    <!-- Fine Post -->
    {{ end }}
{{ template "partials/pagination.html" . }}
</section>
