{{ partial "header.html" . }}
<style>
@media (max-width:991px){.colonna{margin-bottom:60px}}@media (min-width:991px){.small li{font-size:1rem}}.pari{background-color:#f9f9f9;padding:60px 0 30px 0;margin-bottom:60px!important}ul>li.must::before{background-color: red}
</style>
<main>
    <article class="main-scroll">
        <div class="row ">
            <div class="col-md-2"></div>
            <div class="col-md-4 no-padding-left col-sm-6">
                <div class="promo-box ">
                    <h1>Tutti i libri consigliati</h1>
                    <span class="small-title">Un elenco <mark>mai definitivo</mark> di tutti i libri discussi.</span>
                </div>
            </div>
            <div class="col-md-4 no-padding col-sm-6 newsletter">
                <img src="/img/libri-consigliati-riccardo-palombo.png" height="200" width="200"
                    alt="Libri consigliati da Riccardo Palombo" />
            </div>
            <div class="col-md-2 "></div>
        </div>
        <div class="row-col-12">
            <div class="col-md-8 col-md-push-2 no-padding-left">
                <p>E allora ecco i libri di cui ho parlato nelle puntate del podcast, più qualche extra. Ho lasciato
                    fuori certe ovvietà e ho tolto i titoli che a distanza di tempo ricordo con meno entusiasmo; quelli
                    con il trattino rosso, invece, mi sono piaciuti di più. I link portano all'affiliazione di Amazon perché questo mi aiuta a campare.</p>
            </div>
        </div>

        <!-- COLONNE -->

        <section class="row-col-12 pari">
            <div class="col-md-8 col-md-push-2 no-padding-left col-sm-6">
                <div>
                    <h3 class="small-title">
                        STO LEGGENDO
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.consigliati }}
                        <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}"
                                title="Vedi il libro {{ .titolo }} di {{ .autore }}" target="_blank"
                                rel="nofollow noopener">{{ .titolo }}</a>, di {{ .autore }}</li>
                            {{end}}
                    </ul>
                </div>
            </div>
        </section>

        <section class="row-col-12 small">
            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6 colonna">
                <div>
                    <h3 class="small-title">
                        TECNOLOGIA
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.tecnologia }}
                        <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}"
                                title="Vedi il libro {{ .titolo }} di {{ .autore }}" target="_blank"
                                rel="nofollow noopener">{{ .titolo | truncate 30 "..."}}</a> di {{ .autore }}</li>
                            {{end}}
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6">
                <div>
                    <h3 class="small-title">
                        INFORMATICA
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.informatica }}
                        <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}"
                                title="Vedi il libro {{ .titolo }} di {{ .autore }}" target="_blank"
                                rel="nofollow noopener">{{ .titolo | truncate 30 "..."}}</a> di {{ .autore }}</li>
                            {{end}}
                    </ul>
                </div>
            </div>
        </section>

        <section class="row-col-12 small">
            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6 colonna">
                <div>
                    <h3 class="small-title">
                        SCIENZE UMANE
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.scienzeumane }}
                        <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}"
                                title="Vedi il libro {{ .titolo }} di {{ .autore }}" target="_blank"
                                rel="nofollow noopener">{{ .titolo | truncate 30 "..."}}</a> di {{ .autore }}</li>
                            {{end}}
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6">
                <div>
                    <h3 class="small-title">
                        SCIENZE
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.scienze }}
                        <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}"
                                title="Vedi il libro {{ .titolo }} di {{ .autore }}" target="_blank"
                                rel="nofollow noopener">{{ .titolo | truncate 30 "..."}}</a> di {{ .autore }}</li>
                            {{end}}
                    </ul>
                </div>
            </div>
        </section>

        <section class="row-col-12 small">
            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6 colonna">
                <div>
                    <h3 class="small-title">
                        NARRATIVA
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.narrativa }}
                        <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}"
                                title="Vedi il libro {{ .titolo }} di {{ .autore }}" target="_blank"
                                rel="nofollow noopener">{{ .titolo | truncate 30 "..."}}</a> di {{ .autore }}</li>
                            {{end}}
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6">
                <div>
                    <h3 class="small-title">
                        SCRITTURA
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.scrittura }}
                        <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}"
                                title="Vedi il libro {{ .titolo }} di {{ .autore }}" target="_blank"
                                rel="nofollow noopener">{{ .titolo | truncate 30 "..."}}</a> di {{ .autore }}</li>
                            {{end}}
                    </ul>
                </div>
            </div>
        </section>

        <section class="row-col-12 small">
                <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6 colonna">
                    <div>
                        <h3 class="small-title">
                            CULTURA
                        </h3>
                        <ul>
                            {{ range .Site.Data.libri.formazione }}
                            <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}"
                                    title="Vedi il libro {{ .titolo }} di {{ .autore }}" target="_blank"
                                    rel="nofollow noopener">{{ .titolo | truncate 30 "..."}}</a> di {{ .autore }}</li>
                                {{end}}
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6">
                    <div>
                        <h3 class="small-title">
                            CINEMA E ARTI
                        </h3>
                        <ul>
                            {{ range .Site.Data.libri.video }}
                            <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}"
                                    title="Vedi il libro {{ .titolo }} di {{ .autore }}" target="_blank"
                                    rel="nofollow noopener">{{ .titolo | truncate 30 "..."}}</a> di {{ .autore }}</li>
                                {{end}}
                        </ul>
                    </div>
                </div>
            </section>

        <section class="row-col-12 small">
            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6 colonna">
                <div>
                    <h3 class="small-title">
                        SPORT
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.sport }}
                        <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}"
                                title="Vedi il libro {{ .titolo }} di {{ .autore }}" target="_blank"
                                rel="nofollow noopener">{{ .titolo | truncate 30 "..."}}</a> di {{ .autore }}</li>
                            {{end}}
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6">
                <div>
                    <h3 class="small-title">
                        ALTRO
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.altro }}
                        <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}"
                                title="Vedi il libro {{ .titolo }} di {{ .autore }}" target="_blank"
                                rel="nofollow noopener">{{ .titolo | truncate 30 "..."}}</a> di {{ .autore }}</li>
                            {{end}}
                    </ul>
                </div>
            </div>
        </section>

        <!-- FINE COLONNE-->

    </article>
    <!-- main-scroll -->

    <div class="grid-bg row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
    <!-- main-scroll -->
</main>
<!-- main -->
{{ partial "aside.html" . }}
</div>
<!-- atail -->
{{ partial "footer.html" . }}