{{ partial "header.html" . }}
<style>
    @media (max-width:991px) {
        .colonna {
            margin-bottom: 60px;
        }
    }
@media (min-width:991px) {
        .small li{
            font-size: 1rem;
        }
    }
.pari {
    background-color: #f9f9f9; padding-top: 46px;margin-bottom: 60px !important;
}
</style>
<main>
    <article class="main-scroll">
        <div class="row ">
            <div class="col-md-2"></div>
            <div class="col-md-4 no-padding-left col-sm-6">
                <div class="promo-box ">
                    <h1>Tutti i libri consigliati</h1>
                    <span class="small-title">Un elenco <mark>mai definitivo</mark> di tutti i libri discussi.</span>
                </div>
            </div>
            <div class="col-md-4 no-padding col-sm-6 newsletter">
                <img src="/img/libri-consigliati-riccardo-palombo.png" height="200" width="200" alt="Newsletter Riccardo Palombo" />
            </div>
            <div class="col-md-2 "></div>
        </div>
        <div class="row-col-12">
            <div class="col-md-8 col-md-push-2 no-padding-left">
                <p>E allora ecco i libri di cui abbiamo parlato nelle puntate del podcast, più qualche extra. Ho lasciato fuori certe banalità (vi devo ricordare di leggere, per dire, Moby Dick?) e i titoli che a distanza di tempo ricordo con meno interesse. I link portano all'affiliazione di Amazon Italia perché mi aiutano a campare.</p>
            </div>
        </div>

        <!-- COLONNE -->

        <section class="row-col-12 pari">
            <div class="col-md-8 col-md-push-2 no-padding-left col-sm-6">
                <div>
                    <h3 class="small-title">
                        STO LEGGENDO
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.consigliati }}
                        <li><a href="{{ .link }}" title="Vedi il libro {{ .titolo }}" target="_blank" rel="nofollow">{{ .titolo }}</a> di {{ .autore }}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </section>

        <section class="row-col-12 small">
            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6 colonna">
                <div>
                    <h3 class="small-title">
                        TECNOLOGIA
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.tecnologia }}
                        <li><a href="{{ .link }}" title="Vedi il libro {{ .titolo }}" target="_blank" rel="nofollow">{{ .titolo }}</a> di {{ .autore }}</li>
                        {{end}}
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6">
                <div>
                    <h3 class="small-title">
                        INFORMATICA
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.informatica }}
                        <li><a href="{{ .link }}" title="Vedi il libro {{ .titolo }}" target="_blank" rel="nofollow">{{ .titolo }}</a> di {{ .autore }}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </section>

        <section class="row-col-12 small">
            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6 colonna">
                <div>
                    <h3 class="small-title">
                        FORMAZIONE
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.formazione }}
                        <li><a href="{{ .link }}" title="Vedi il libro {{ .titolo }}" target="_blank" rel="nofollow">{{ .titolo }}</a> di {{ .autore }}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6">
                <div>
                    <h3 class="small-title">
                        ALTRO
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.altro }}
                        <li><a href="{{ .link }}" title="Vedi il libro {{ .titolo }}" target="_blank" rel="nofollow">{{ .titolo }}</a> di {{ .autore }}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </section>


        <section class="row-col-12 small">
            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6 colonna">
                <div>
                    <h3 class="small-title">
                        SCIENZE UMANE
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.scienzeumane }}
                        <li><a href="{{ .link }}" title="Vedi il libro {{ .titolo }}" target="_blank" rel="nofollow">{{ .titolo }}</a> di {{ .autore }}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6">
                <div>
                    <h3 class="small-title">
                        SCIENZE
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.scienze }}
                        <li><a href="{{ .link }}" title="Vedi il libro {{ .titolo }}" target="_blank" rel="nofollow">{{ .titolo }}</a> di {{ .autore }}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </section>

        <section class="row-col-12 small">
            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6 colonna">
                <div>
                    <h3 class="small-title">
                        NARRATIVA
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.narrativa }}
                        <li><a href="{{ .link }}" title="Vedi il libro {{ .titolo }}" target="_blank" rel="nofollow">{{ .titolo }}</a> di {{ .autore }}</li>
                        {{end}}
                    </ul>
                </div>
            </div>

           <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6">
                <div>
                    <h3 class="small-title">
                        SCRITTURA
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.scrittura }}
                        <li><a href="{{ .link }}" title="Vedi il libro {{ .titolo }}" target="_blank" rel="nofollow">{{ .titolo }}</a> di {{ .autore }}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </section>

        <section class="row-col-12 small">
            <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6 colonna">
                <div>
                    <h3 class="small-title">
                        SPORT
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.sport }}
                        <li><a href="{{ .link }}" title="Vedi il libro {{ .titolo }}" target="_blank" rel="nofollow">{{ .titolo }}</a> di {{ .autore }}</li>
                        {{end}}
                    </ul>
                </div>
            </div>

           <div class="col-md-4 col-md-push-2 no-padding-left col-sm-6">
                <div>
                    <h3 class="small-title">
                        ALIMENTAZIONE
                    </h3>
                    <ul>
                        {{ range .Site.Data.libri.alimentazione }}
                        <li><a href="{{ .link }}" title="Vedi il libro {{ .titolo }}" target="_blank" rel="nofollow">{{ .titolo }}</a> di {{ .autore }}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </section>

        <!-- FINE COLONNE-->

    </article>
    <!-- main-scroll -->

    <div class="grid-bg row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
    <!-- main-scroll -->
</main>
<!-- main -->
{{ partial "aside.html" . }}
</div>
<!-- atail -->
{{ partial "footer.html" . }}
